[2017-03-22 22:42] kageiit commented on #413
okbuck does not support `externalNativeBuild` . That seems to be your issue

[2017-03-23 02:12] ceozhu commented on #413
appreciated u echo,I remove the func of externalNativeBuild  it's working ,thanks

[2017-03-23 03:05] #413 closed

[2017-03-27 08:50] MrHadiSatrio commented on #378
Sorry for necro-ing this old thread, but suppose that I know what Fabric is putting into the file and where it's storing it in the APK, what should I do next?

FYI, this is what the plugin generates (under `/app/build/generated/fabric/res/[CURR_BUILD_VARIANT]/values/com_crashlytics_build_id.xml`):
[code]

...and this is what it ends up putting in the APK (under `/assets/crashlytics-build.propertie

[2017-03-27 15:30] kageiit commented on #378
Maybe @jakeouellette can comment on this?

[2017-03-27 19:31] jakeouellette commented on #378
Hi @kageiit , Have never used OkBuck, so I'm afraid I don't have a lot of insight on your side, but I can tell you what our plugin does -- if it helps meet in the middle!

Our plugin calls project.android.applicationVariants.all, then adds a bunch of tasks between some existing android tasks from the Android plugin. It won't do that if the android plugin doesn't exist, or if those tasks aren't ava

[2017-03-27 19:50] kageiit commented on #378
Talked to  @jakeouellette on slack. He said he would put up some documentation on how to invoke the fabric plugin like a standalone jar. We can then figure out how to integrate it with okbuck and buck.

[2017-04-03 21:15] jakeouellette commented on #378
Hey folks! ( @kageiit & @vanniktech )
I have put together a gist of the shell script I was describing in Slack, here:
https://gist.github.com/jakeouellette/42f0615f9c5c557b540dac7ae639a6f9

I know very little about running buck (!), but if someone ends up tackling this, let me know if anything's confusing!

[2017-04-03 21:17] jakeouellette commented on #378
Also, I haven't tested this extensively -- so no guarantees I didn't do anything silly in this script. If there's any non-obvious errors, I can assist getting across the finish line.

[2017-04-04 11:39] tfKamran opened #418 "DexGuard integration?"
I have been using DexGuard successfully with `Gradle` in Android Studio without any issues. I recently tried my hands on `OkBuck` to speed up my build time and it really helped me.

Although it is able to build debug and signed APKs for me, but when I try building for release with DexGuard like:

    ./buckw install --run app:bin_release

I get the following error:

    Error: Unknown option '-dal

[2017-04-04 16:47] kageiit commented on #418
This is actually quite easy to do. Dexguard is a drop in replacement for proguard. You should be able to tweak your `.buckconfig` to point buck to the dexguard file - https://buckbuild.com/concept/buckconfig.html#tools.proguard and it should work as expected.

This is not really something to fix in okbuck.

[2017-04-04 16:47] #418 closed

[2017-04-22 10:06] kokeroulis opened #428 "OkBuck and Android Studio"
Hello,

First of all thank you for creating this awesome project.

I have successfully setup my project with okbuck, it builds and installs perfectly. I can see my main activity. So after that i run ./buckw project and i opened it with Android studio. The Android studio does see everything as it should be. For example the resources (drawable, layouts etc) are being shown as folders instead of bein

[2017-04-22 15:47] kokeroulis commented on #428
Hello again,

I was able to "reproduce" the above with this repository.
AS is complaining that the imported project doesn't use gradle as a build (same applies to my project).

Here is the steps to reproduce it

1. clean the project
2. build the demo app
3. generate the "project" file
4. open the project with AS

![migrade to gradle](https://cloud.githubusercontent.com/assets/470064/25305886/21f15

[2017-04-22 16:15] kageiit commented on #428
We do not recommend using AS with buck generated projects. We recommend you use intellij instead to open the project.

[2017-04-24 22:52] runningcode opened #429 "Running okbuck tasks without the wrapper leads to inconsistent builds."
Running `./gradlew okbuck` or `./gradlew okbuckclean` without the buck wrapper can put your project in an incorrect state.

Example: if your build gets in a weird state and you run `./gradlew okbuckclean` to try to fix it, your project could end up in a worse state because the okbuck task is invoked without the `-Dokbuck.wrapper=true`argument like it normally set in the buck wrapper.

How can one

[2017-04-24 23:33] kageiit commented on #429
`git clean -fdx` to clean everything.

You should not need to run `./gradlew okbuck` by itself. It is not recommended anywhere in the README or wiki (should remove it if it is) and all interaction has to flow through `buckw`.

If you really want to invoke `./gradlew okbuckClean` separately, you can add the wrapper system prop or modify your `buckw` to call it internally when calling clean

[2017-04-24 23:33] #429 closed

[2017-04-24 23:34] kageiit commented on #428
Please comment if anything is not working with intellij. We do not recommend using Studio with buck generated projects.

[2017-04-24 23:34] #428 closed

[2017-04-24 23:48] kageiit commented on #372
This is supported in v0.20.6 . See #427 for details

[2017-04-24 23:48] #372 closed

[2017-04-25 01:18] runningcode commented on #410
Seeing this as well.

[2017-04-25 04:50] kokeroulis commented on #428
HI,

With intellij everything works as expected

[2017-04-27 23:20] KevCron opened #434 "`brew install android-ndk` no longer works."
I get the following when running `brew install android-ndk`:

<img width="616" alt="screen shot 2017-04-27 at 7 17 30 pm" src="https://cloud.githubusercontent.com/assets/9090280/25508166/37bca3da-2b7e-11e7-9b2a-812c64566079.png">

However running `brew cask install android-ndk` works fine. I'll be submitting a PR to fix the README shortly.

[2017-04-27 23:22] kageiit commented on #434
Do not bother. See #421 :)

[2017-04-27 23:30] KevCron commented on #434
Ah, my apologies, I should have looked at the PRs to see if this was already resolved.

[2017-04-27 23:31] #434 closed

[2017-04-27 23:40] kageiit commented on #434
Instructions updated at - https://github.com/uber/okbuck#installation

Thanks!

[2017-05-04 18:06] cwoodwar6 commented on #410
Running with Robolectric is the suggested fix, but to better understand the issue and provide an alternative solution, I'll explain what is happening.

Gradle will create a “mockable android” jar that it uses to run unit tests against. This mockable version of the android jar will [strip out final qualifiers, stub exceptions, etc](https://android.googlesource.com/platform/tools/base/+/studio-1.1-d

[2017-05-04 18:34] kageiit commented on #410
Going to close this given the available workarounds

[2017-05-04 18:34] #410 closed

[2017-05-05 10:07] AllenAWKing opened #440 "error: Error: String types not allowed (at 'versionCode' with value 'null')"
Got an error when I was running "./buckw build appRelease":
__buck-out/bin/app/__manifest_bin_release#aapt_package__/AndroidManifest.xml:2: error: Error: String types not allowed (at 'versionCode' with value 'null').__

However, works fine for "versionName"...

[2017-05-05 10:10] zoom2manoj commented on #257
I have added this file also but still, getting same error as below when I hitting "```
# From the root `cross-platform-scale-2015-demo/` directory
# demo_app_android is an alias in .buckconfig for //android:demo-app. Either works.
buck build demo_app_android
[code]

[2017-05-05 12:32] ChaitanyaPramod commented on #440
versionCode is of integer type

[2017-05-05 13:48] kageiit commented on #440
Please use an integer for versionCode as suggested

[2017-05-07 05:24] AllenAWKing commented on #440
@kageiit @ChaitanyaPramod Thanks for your comments~

Please let me describe this again:
In "[PROJECT_PATH]/app/src/main/AndroidManifest.xml", I wrote versionCode like this:
<....versionCode="20" ..../>
After I ran "./buckw build appRelease", in "[PROJECT_PATH]/app/src/main/AndroidManifest.xml", versionCode came to <...versionCode="null".../>

I don't know if there is a known issue, please help to

[2017-05-08 06:17] AllenAWKing commented on #440
More comments:
I don't know why versionCode="null" in generated AndroidManifest.xml, could you guys kind to have a look? Thanks~  @kageiit @ChaitanyaPramod

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cootek.smartinputv5.sticker.keyboard_sticker_dummy"
    android:versionCode="null"
    android:versionName="20" >

[2017-05-08 15:19] kageiit commented on #440
did you set `versionCode` in `defaultConfig` in your build.gradle file?

What does your gradle file look like?

[2017-05-09 10:49] yashasvigirdhar opened #442 "ValueError: No JSON object could be decoded ater running any command"
I get this error after running  any command on the command line from the buck wrapper. An example would be

`./buckw targets`

[code]

Python version : 2.7.10
okbuck version : 0.20.7

This error however doesn't seem to affect what ever I am doing. I can build my app successfully.
But just curious about this error.

[2017-05-09 14:49] kageiit commented on #442
Might be your watchman is broken. Try to reinstall it

[2017-05-10 05:37] yashasvigirdhar commented on #442
Yeah, it's gone after reinstalling watchman.

Thanks !

[2017-05-10 05:37] #442 closed

[2017-05-10 06:43] AllenAWKing commented on #440
@kageiit Thank you very much for your help!
After I added versionCode in defaultConfig, I got another issue:

Could you please have me to have a look if there is anything wrong...

_**[tid:163][com.facebook.buck.event.listener.LoggingBuildListener] Error when creating APK at: buck-out/gen/app/bin_release.signed.apk.
java.security.UnrecoverableKeyException: Cannot recover key**_

## app/build.gradl

[2017-05-10 22:12] felipecsl opened #443 "Dependency versions need to be scoped by configuration"
This has surfaced for us while upgrading to Dagger 2.10 or newer. Since now dagger-compiler depends on Guava 21, which requires Java 8, that version ends up leaking into the `compile` dependencies if your app ever depends on Guava, even if it's an older version.
In order to reproduce this bug with OkBuck, just add `compile 'com.google.guava:guava:19.0'` to `app/build.gradle` and run `./buckw build

[2017-05-10 22:13] felipecsl commented on #443
To further show how this is not the correct behavior, running;
[code]

gives us:

[code]

[2017-05-10 22:37] kageiit commented on #443
Single highest version of any dependency is by design.

This is likely not going to be fixed to keep logic simpler in okbuck. The correct way to get around issues like this is to use Extra dep caches as detailed in https://github.com/uber/okbuck/pull/411

Then use `DEFS` to replace the problematic dependency with the version from the extra deps cache

[2017-05-10 22:37] #443 closed

[2017-05-10 22:52] kageiit commented on #440
Seems like your keystore config is incorrect. Check with the keystore config in the samples in this repo. Your password/alias may not be right.

[2017-05-10 22:52] #440 closed

[2017-05-11 00:58] AllenAWKing commented on #440
@kageiit Thanks! I changed storefile to absolute path and it works!

BTW, is there any way to build an release apk unsigned?

[2017-05-11 01:14] kageiit commented on #440
buck does not support building apk without a keystore. If you feel thats needed, you should open a task on the buck issue tracker

[2017-05-12 01:58] AllenAWKing commented on #440
@kageiit Okay, Thanks very much for all your help!

[2017-05-15 20:21] tmillettweather commented on #318
Was this done in the android_resource block in the BUCK file?

"These are resources stored in Yelp/src/main/res, referenced by code in Yelp/src/debug/. Working with @raviagarwal7, we found that adding :res_main to the dependencies of :res_debug in Yelp/BUCK resolves the issue."

[2017-05-16 13:55] tmillettweather opened #444 "Issue with resources using okbuck"
The following resources were not found when processing Pair(//app:res_googleDebug#resources-symlink-tree, buck-out/gen/app/res_googleDebug#resources-symlink-tree/res):
RDotTxtEntry{idType=int, type=drawable, name=home_screen_gradient, idValue=0x00000000, parent=home_screen_gradient}

BUILD FAILED: //app:res_googleDebug failed with exit code 1:
generate_resource_ids

[2017-05-19 07:31] ajans commented on #418
No, pointing to the dexguard-jar in .buckconfig.local and .buckconfig doesn't change anything about the built apk.
The build.gradle is using DexGuard like it is referenced in their documentation.
In app/build.gradle:

[code]

In .buckconfig(.local):

[code]

Nothing is obfuscated, not even a hint at executing dexguard.
I'm guessing I am either setting the wrong path to the dexguard.jar (is it mean

[2017-05-25 01:14] kageiit commented on #444
Possible duplicate of #318

[2017-06-08 01:25] saantiaguilera opened #452 "Having a local classpath fails buckWrapper task"
If having a classpath to a local path, it fails when running `buckWrapper` task.

Example
[code]

[2017-06-08 07:42] vanniktech opened #453 "PluginApplicationException: Failed to apply plugin [id 'com.uber.okbuck']"
I'm getting `PluginApplicationException: Failed to apply plugin [id 'com.uber.okbuck']` after upgrading from `0.20.7` to `0.21.0`. I'm running 2.3.1 & Gradle 3.5.

        at org.gradle.api.internal.plugins.DefaultPluginManager.doApply(DefaultPluginManager.java:155)
        at org.gradle.api.internal.plugins.DefaultPluginManager.apply(DefaultPluginManager.java:112)
        at org.gradle.api.intern

[2017-06-18 15:13] runningcode commented on #323
We should close this issue in favor of issue #400 .
In memory compiler support has been merged.
Buck now supports kotlin, kotlin android module, and kotlin and java mixed sources.

[2017-06-18 15:20] runningcode commented on #400
We've been slacking on keeping these github issues up to date.

Buck itself supports pure kotlin modules, mixed kotlin/java modules and android kotlin modules.
Buck is missing support for [kapt](https://github.com/facebook/buck/issues/956) and [robolectric_rule](https://github.com/facebook/buck/issues/1349). We should add robolectric_rule support to this list.

Also, okbuck support for mixed kotli

[2017-06-19 22:20] kageiit commented on #323
Duplicate of #400

[2017-06-19 22:20] #323 closed

[2017-06-23 02:48] kageiit commented on #400
[Okbuck v0.22.0](https://github.com/uber/okbuck/releases/tag/v0.22.0) is out with Kotlin Android support and mixed Kotlin/Java modules support

[2017-06-23 02:56] kageiit commented on #400
@runningcode I already added `robolectric_test` support to okbuck. As soon as buck starts supporting it, it should start working out of the box

[2017-06-26 04:57] kageiit commented on #452
Can you attach the error message/stack trace you are seeing?

[2017-06-26 04:58] kageiit commented on #444
Closing this as duplicate of #318 . See the workaround in https://github.com/uber/okbuck/issues/318#issuecomment-271396450

[2017-06-26 04:58] #444 closed

[2017-06-26 04:58] kageiit commented on #453
@vanniktech Is this still a problem with v0.22.1?

[2017-06-26 04:59] kageiit commented on #453
Can you also try with Gradle 4.0 now that it is out?

[2017-06-26 04:59] kageiit commented on #252
Closing due to inactivity

[2017-06-26 04:59] #252 closed

[2017-06-26 10:50] vanniktech commented on #453
Nope, all working now. Thanks :)

[2017-06-26 10:50] #453 closed

[2017-06-27 10:16] guhan121 opened #463 "okbuck can run in windows?"
classpath 'com.android.tools.build:gradle:2.2.0'
        classpath 'com.uber:okbuck:0.22.1'

and
      distributionUrl=https\://services.gradle.org/distributions/gradle-4.0-all.zip

when i run "gradle tasks"
got

A problem occurred evaluating root project '360FloatWindowDemo'.

Caused by: java.lang.NoSuchMethodError: org.gradle.api.artifacts.ResolvableDependencies.getArtifacts()Lorg/gradle/api/art

[2017-06-27 10:37] guhan121 commented on #463
sorry , i do not restart android studio  ,so  gradle -version is 3.2

[2017-06-27 12:31] guhan121 commented on #463
so  I use gradle 4.0
when i run "gradle tasks"
Okbuck tasks
------------
buckWrapper - Create buck wrapper
okbuck - Okbuck task for the root project. Also sets up groovy and kotlin if required.
okbuckClean - Delete stale configuration files generated by OkBuck
setupOkbuck - Setup okbuck cache and dependencies

when i run "gradle okbuck"
* What went wrong:
Execution failed for task ':setupOkbuck'.

[2017-06-27 14:20] kageiit commented on #463
This is a good question. I am not sure how the dependency caches that are usually symlinks to files in gradle caches would work on windows.

We do not have windows support top of mind for okbuck, but I will however try to run okbuck's samples on a windows machine next week to see what bits do work

[2017-06-29 06:33] guhan121 opened #465 "Could not resolve all artifacts for configuration ':proguardDepCache'."
in our project;

we modify the
in project root path

in "gradle.properties" file :
proguard_version=5.3.2.M.0.0.8

in "build.gradle" file
     configurations.all {
        resolutionStrategy {
            force "net.sf.proguard:proguard-gradle:${proguard_version}"
        }
    }

when i run
"./buckw targets --stacktrace"

I got

FAILURE: Build failed with an exception.

* What went wrong:
Executi

[2017-06-29 17:13] kageiit commented on #465
You need to put `"net.sf.proguard:proguard-gradle:${proguard_version}"` as a classpath dependency because that is where okbuck looks to bring in the dependency.

Also, `configurations.all` does not apply to the buildScript dependencies which is why you are seeing the error

[2017-06-29 17:13] #465 closed

[2017-07-01 12:04] kanwal123 opened #467 "How to resolve InvalidVirtualFileAccessException?"
Hello everyone, I am facing this problem and don't know what is it about. My event log is displaying this issue and my app is not running in the device while I am trying to run it. Please help me to resolve this issue. Thank you.
**Issue:**
InvalidVirtualFileAccessException: Accessing invalid virtual file: file://C:/Users/sanjay/AndroidStudioProjects/Calculator-Test/build/android-profile; original

[2017-07-07 22:43] castrokingjames opened #468 "Can't run basic android project"
Hello,

When I try to run `buckw`, I got this error.
`Error: Could not find or load main class com.facebook.buck.cli.bootstrapper.ClassLoaderBootstrapper`

`com.uber:okbuck:0.22.3`
`com.android.tools.build:gradle:2.3.3`
`gradle-4.0.1`

[2017-07-10 17:44] #468 closed

[2017-07-15 04:05] kageiit commented on #467
This is because okbuck creates symlinks and they are not supported on windows. We have no plans for windows support right now. Ill add an item for this separately

[2017-07-15 04:05] #467 closed

[2017-07-15 04:05] kageiit opened #472 "Windows Support"
Make okbuck generate caches/buck files that work on windows

[2017-07-15 04:05] kageiit commented on #467
See #472

[2017-07-15 04:06] kageiit commented on #463
Closing as duplicate of #472

[2017-07-15 04:06] #463 closed

[2017-07-18 23:01] artem-zinnatullin opened #473 ":setupOkbuck execution time regression (sometimes it takes 1m+)"
We're facing non-deterministic regression in `./buckw project` execution time after updating OkBuck from 0.20.4 to 0.22.4.

Expected behavior:

`setupOkbuck` should take 10-30 seconds.

Actual behavior:

`setupOkbuck` takes 50-120 seconds sometimes.

---

Environment:

- OS: macOS Sierra 10.12.5
- JDK/JVM: Oracle JDK 1.8.0_131
- Gradle: 4.0.1 (happens with 3.5 as well)
- Android Gradle Plugin: 2.3

[2017-07-19 00:05] kageiit commented on #473
Can you try to attach a profiler to the gradle daemon when okbuck runs?

We have close to 1000 gradle modules and okbuck is usually ~30-40 seconds. It could be something in your setup as well

How many modules do you have?

[2017-07-19 02:45] guhan121 opened #474 "error deal with debugCompile and releaseCompile by "gradle okbuck -Dobuck.wrapper=true"?"
first i rm -rf  ~/.gradle/caches/modules-2
when i run "./gradlew :app:dependencies ",  i got

debugCompile - Classpath for compiling the debug sources.
+--- com.antfortune.freeline:runtime:0.8.5
+--- com.atom.mobile.plugin:love:6.5.4-SNAPSHOT
\--- com.atom.mobile.plugin:share:6.5.3

releaseCompile - Classpath for compiling the release sources.
+--- com.antfortune.freeline:runtime-no-op:0.8.5
+---

[2017-07-19 02:50] kageiit commented on #474
Can you post a snippet of your gradle configuration? Its hard to understand what is going on without it

[2017-07-19 02:55] guhan121 commented on #474
in app.gradle
.....
android {
.....
}
dependencies{
...
}
//append Plugin to app
builtInPlugin("love", "${loveversion}")
builtInPlugin("share","${shareversion}")

void builtInPlugin(String name, String version) {
    dependencies {
        releaseCompile "com.atom.mobile.plugin:${name}:${version}:release@aar"
        debugCompile "com.atom.mobile.plugin:${name}:${version}:debug@aar"
    }
    task

[2017-07-19 04:19] artem-zinnatullin commented on #473
Looks like we've found pretty stable way to reproduce it — switch to pretty diverse branch, run `./buckw project`, switch back to your branch and run `./buckw project` again — observe long `:setupOkbuck` execution time.

Our developers are hitting this issue when they switch between their feature branches and rebase with origin.

We have about 200 modules.

---

Profiling:

According to profiler,

[2017-07-19 04:33] artem-zinnatullin commented on #473
Another trace, `DependencyCache.fetchSourcesFor()` took 68 seconds.

<img width="1480" alt="screen shot 2017-07-18 at 9 30 34 pm" src="https://user-images.githubusercontent.com/967132/28350819-623ac23c-6c00-11e7-8fed-5dd6f2aeeb48.png">

Everything I did is what I explained above: switch to another branch, run `./buckw project`, switch back, run `./buckw project`, observe long execution of `:setupO

[2017-07-19 21:53] kageiit commented on #473
This seems very suspicious. I think bulk of the time is being spent here walking the sources tree parent, which is what the fix was for.

Can you try two things
- `rm -rf ~/.gradle/caches`
- set `okbuck.intellij.sources = false`

To see if either of those do not show the behavior you are noticing. This usually tends to happen with snapshot artifacts etc. which may not have source artifacts

[2017-07-19 22:34] artem-zinnatullin commented on #473
* `rm -rf ~/.gradle/cache` did not help, first build after that took 4 minutes (because it downloads deps again), second took about 70 seconds which is also slow.
* `okbuck.intellij.sources = false` reduced `buckw project` execution time to 6 seconds (Gradle part), but we need to generate IntelliJ files…

I don't see snapshot dependencies in our project, but there might be dependencies without sou

[2017-07-19 22:40] kageiit commented on #473
okbuck just warns you with #447 . It still does not fail unless you enable that behavior.

btw if you go to the deepest in the stack can you see what part of okbuck is invoking that filetree walker logic? Also, are you sure you do not have filetree logic in your buildscript?

After the fix in #423 , we have not seen any regressions in okbuck perf due to the file walk atleast

[2017-07-20 00:16] artem-zinnatullin commented on #473
Call stack contains following OkBuck method calls:

[code]

So it seems to be invoked by `apply plugin: 'com.uber.okbuck'` in the root `build.gradle` of our project, I don't see other file tree walking logic in our Gradle scripts.

[2017-07-20 00:23] kageiit commented on #473
`okbuck.intellij.sources = false` does not stop generated intellij files. It will just not attach source jars to third party libraries so it can be a viable fix in the short term.

If you can add a breakpoint/print to that point in okbuck to see which folder it is trying to crawl, we will get a clue what is going on

[2017-07-20 03:15] guhan121 opened #477 "how to force use custom progurad tool"
in root build.gradle
buildscript {
    repositories {
//        mavenLocal()
        maven { url 'http://repo.atom.com:8181/nexus/content/groups/public' }
        maven { url 'plugins'}
    }
    dependencies {
        classpath 'net.researchgate:gradle-release:2.0.2'
        classpath 'com.android.tools.build:gradle:2.2.3'
        .....
        classpath 'com.antfortune.freeline:gradle:0.8.5'

[2017-07-20 09:21] guhan121 opened #478 "proguard -applymapping"
in rootDir have a mapping_base.txt
and /rootDir/app/proguard.cfg
we write -applymapping mapping_base.txt

after
"gradle okbuck -Dokbuck.wrapper=true "
in
.okbuck/cache/gen/app/release/proguard.pro
it still is
 -applymapping mapping_base.txt

after "buck build appRelease"

java.io.FileNotFoundException: /home/user/develop/buck-out/gen/.okbuck/gen/app/release/mapping_base.txt

I think okbuck must mo

[2017-07-20 22:02] artem-zinnatullin commented on #473
Posted PR with fix and detailed explanations #479.

In our case issue was caused by 4 `.jar` stored in the project directory and used as dependencies (I'll try to fix this in near future by pushing them to own Artifactory).

Each jar caused `fileTree` lookup through whole project directory which contains lots of subfolders and small files (`.git`, `.okbuck`, `build`, etc).

[2017-07-20 22:05] artem-zinnatullin commented on #473
@kageiit you probably didn't see the issue in Uber projects because either you pull all dependencies from maven repos or you have some `.jar`s in the project but deep enough so `.jar/../../` is not a directory with lots of files as it were in our case 😸

[2017-07-20 23:05] kageiit commented on #473
Ya we do not checkin jar files into our repos. We host them all on artifactory :)

[2017-07-20 23:07] artem-zinnatullin commented on #473
What about `buck-android-support.jar`?

I'm about to file an issue against https://github.com/facebook/buck/ to ask them to publish `buck-android-support.jar` to some public maven repo, but would be great to hear your solution first!

[2017-07-20 23:12] kageiit commented on #473
We just uploaded it manually under some `com.facebook` group to artifactory

[2017-07-21 00:14] artem-zinnatullin commented on #473
Yeah, that's what I would like to avoid, filed https://github.com/facebook/buck/issues/1431

[2017-07-21 01:58] #473 closed

[2017-07-24 03:25] guhan121 opened #480 "No value has been specified for property 'mainClassName'."
git clone https://github.com/uber/okbuck.git

qiantao@dw-Hi-Fi-B85W:~/github/okbuck$ git diff

diff --git a/buildSrc/build.gradle b/buildSrc/build.gradle
index 05c8774..7c7eaf6 100644
--- a/buildSrc/build.gradle
+++ b/buildSrc/build.gradle
@@ -1,5 +1,6 @@
 plugins {
     id "groovy"
+    id "maven"
     id "maven-publish"
     id "com.jfrog.bintray" version "1.7"
 }
@@ -9,6 +10,7 @@ apply from: ".

[2017-07-24 19:53] artem-zinnatullin commented on #400
What is the state of `kapt` support? Thanks!

[2017-07-24 20:19] kageiit commented on #400
It is blocked by https://github.com/facebook/buck/issues/956

[2017-07-25 02:55] kageiit commented on #480
Can you specify what you are trying to do?

If you just want to publish a local okbuck to try out your changes, you can run

[code]

instead

[2017-07-25 02:55] kageiit commented on #480
Closing as I think I have addressed the intent of the ticket. Please comment with more details if you need more info

[2017-07-25 02:55] #480 closed

[2017-07-25 02:56] kageiit commented on #478
You can use the `proguardFiles` dsl in the android gradle plugin instead of apply mapping as okbuck has no way to figure out auxilliary files from the build mode.

Just add your base mapping to the existing proguardFiles config instead

[2017-07-25 02:56] #478 closed

[2017-07-25 02:58] kageiit commented on #477
okbuck will only support the standard proguard that ships with the android gradle plugin by default.

But in your case, you can do (in your root project)
[code]

This will let you customize the proguard jar that buck runs during the build.

[2017-07-25 02:58] #477 closed

[2017-07-26 07:34] guhan121 commented on #477
yes ,i fix it by this way,thsnks!

[2017-07-31 17:36] kageiit opened #484 "Add tests for Store"
See https://github.com/uber/okbuck/pull/482#discussion_r130254377

[2017-07-31 19:50] artem-zinnatullin opened #486 "buckw ignores git errors during Buck update"
If you set wrong git commit/tag/reference in `.buckversion` and try to run `buckw project`, `buckw` will think that Buck was successfully updated while in fact there were errors:

[code]

And in general it's quite dangerous to run such important script without `set -e`, would be great to refactor it so it'll work with `set -e`.

[2017-08-01 01:30] artem-zinnatullin opened #489 "Broken test dependency resolution on OkBuck v0.24.0."
v0.24.0 does not add module dependencies to its test classpath.

Reproducible sample can be found in PR #488.

We've made a diff between `BUCK` file generated by OkBuck `0.23.3` and `0.24.0`.
With `0.24.0` `robolectric_test` only have dependencies added as `testCompile` which means that it didn't inherit dependencies of the module itself.

[2017-08-01 15:26] kageiit commented on #486
Fixed in d5758a2217fb5d5e369f0b80a2354c8a814e2f0c

Moving it to `set -e` is a completely different effort which would require a significant refactor. It could be tracked separately

[2017-08-01 15:26] #486 closed

[2017-08-03 05:11] himgupta opened #492 "App not able to run in emulator although installed successfully."
Hello,

When I am running the command ./buckw install appDebug command on my project .Following logs are coming and app is getting installed on the emulator but launcher activity is not opening neither I am able to launch app by clicking on it.
Logs :
~/workspace/table$ ./buckw install appDebug
Traceback (most recent call last):
  File "<string>", line 1, in <module>
KeyError: 'files'
Traceback (m

[2017-08-03 18:29] cwoodwar6 commented on #492
From the logs you've posted it looks like the APK was successfully installed on the device. Could you run with the `-r` flag to see if it launches? (`./buckw install -r appDebug`).

Could you also post the logcat from the device when the APK is launched? Sounds like an issue with the APK.

[2017-08-03 19:49] hzsweers opened #493 "buckLintLibrary is too restrictive"
Currently - buckLintLibrary requires adding all dependencies for every possible library permutation you may want to resolve in lints (rather than just the compile classpath). This is too restrictive IMO, as it's very easy to accidentally break lints that can't resolve things (they will fail silently) and pushes quite a lot of burden onto users to meticulously implement all those.

[2017-08-03 21:16] #493 closed

[2017-08-03 21:35] kageiit commented on #492
the buckversion file is not related. Try using the `-r` flag as @cwoodwar6 pointed out.

[2017-08-04 04:44] guhan121 commented on #474
nothing!

[2017-08-04 04:44] #474 closed

[2017-08-04 21:37] marcinkwiatkowski opened #497 "Duplicated retrolambda symlinks in okbuck cache"
Hey, just noticed that after I believe 0.24.6 update (or one of the earlier ones) the symlink to retrolamba jar gets duplicated. Don't think it actually affects anything.

![screen shot 2017-08-04 at 2 32 53 pm](https://user-images.githubusercontent.com/737294/28987878-1def7a3a-7922-11e7-8713-f14c23fcce5c.png)

This is also reproducible in okbuck project.

[2017-08-04 22:09] kageiit commented on #497
Good find. I will check whats going on, but since its just an extra harmless symlink, it should not be a problem for now.

[2017-08-05 23:58] hzsweers commented on #326
FYI - having that flag will fail the build regardless in 3.0+ because it was removed

[2017-08-07 00:31] #497 closed

[2017-08-07 03:01] LichFaker commented on #342
Got a similar issue, but I already set the Android ndk home variable(`ANDROID_NDK_HOME `)
[code]

[2017-08-07 03:29] kageiit commented on #342
Did you try setting `ANDROID_NDK` ?

[2017-08-07 04:19] LichFaker commented on #342
@kageiit  yes, also did not work

[2017-08-07 08:26] donglua commented on #342
[ndk]
  cpu_abis = arm, armv7, x86

[2017-08-07 15:18] kageiit commented on #342
What do you get if you run `ls $ANDROID_NDK`

[2017-08-08 02:05] LichFaker commented on #342
Set `ANDROID_NDK ` is right. It's my fault. It's already set `ANDROID_NDK` in `.bashrc` by brew which is no longer exists.
thx any way

[2017-08-09 23:54] artem-zinnatullin opened #501 "Unable to pass custom AST library to lint ."
We're using Retrolambda.

Default AST library that Lint uses doesn't work with Retrolambda properly, so we need to apply `me.tatarka.retrolambda.projectlombok:lombok.ast:0.2.3.a2` from https://github.com/evant/android-retrolambda-lombok.

We've tried following config:

`module/build.gradle`:

[code]

But Lint still fails to parse lambda and method reference exceptions and `.okbuck/cache/lint` stil

[2017-08-10 03:36] jbarr21 opened #502 "Support for Android Gradle Plugin 3.x"
Running `buck build appDevDebug` on the okbuck sample app with Android Gradle Plugin 3.0.0-beta1 yields the following error:
[code]

[2017-08-11 16:15] kageiit opened #503 "Move okbuck to moden java_annotaion_processor format"
buck supports annotation processors as java compiler plugins which are more performant when the classloader for the annotation processor can be shared across all compilations.

The generated buck files should move to this format for faster buck builds

[2017-08-12 00:36] nguyentruongtho opened #504 "Don't set resource path in generated BUCK file when resources folder doesn't exist"
From a gradle file likes following

[code]

okbuck will generate:

[code]
even when `src/main/resources` doesn't exist.

okbuck doesn't have that issue with `java_library` or `kotlin_library`

[2017-08-22 09:11] BharathMG opened #507 "When adding an Kotlin external library dependency, okbuck build fails."
With error,

    BUILD FAILED: No build file at librarymodule/BUCK when resolving target
    //librarymodule:res_release.

But ./gradlew build passes without any errors. Am I missing anything? Thanks!

OkBuck: 0.26.2
Gradle: 4.1
Android Gradle Plugin: 2.3.0

[2017-08-22 12:35] kageiit commented on #507
Try with v 0.26.5

[2017-08-22 13:58] BharathMG commented on #507
Hi @kageiit Thanks for helping me here. Sorry I'm not able to fetch 0.26.5 version. Do I need to add any repository URL  for v0.26.5? I could not find it in documentation.

[2017-08-22 14:03] BharathMG commented on #507
Or you meant in the upcoming version?

[2017-08-22 14:22] kageiit commented on #507
Sry I meant v0.26.2

[2017-08-22 14:25] BharathMG commented on #507
Oh cool.. I'm using the latest version 0.26.2 and it is failing with the above error. I'm not sure why.

[2017-08-22 14:30] kageiit commented on #507
What command are you running exactly that shows that failure?

[2017-08-22 14:34] BharathMG commented on #507
It is, `./buckw build appDebug` which uses Kotlin library project.

[2017-08-24 07:44] BharathMG commented on #507
Hi @kageiit Any help will be much appreciated! Thanks

[2017-08-24 17:24] erawhctim opened #508 "Error when generating the buck wrapper"
Trying to integrate OkBuck with an existing Android gradle project and I'm getting an error running './gradlew :buckWrapper':

[code]

All I did was modify the top level gradle file:

[code]

Not sure if I missed a step since I'm just now trying OkBuck for the first time. Any ideas?

[2017-08-28 15:39] lingz commented on #342
I'm seeing the same problem, ANDROID_NDK is set but cannot find the platform

[2017-08-28 15:54] kageiit opened #509 "Use a templating engine to output rules instead of writing directly"

[2017-08-28 16:30] lingz commented on #342
The solution for me, was to unset all the ndk properties in .buckconfig, download NDK 13b and point only `ANDROID_NDK` there, and unset `ANDROID_NDK_REPOSITORY`

[2017-08-28 17:55] naturalwarren opened #510 "Support for Custom Proguard Mapping"
Proguard allows consumers to specify a custom mapping file be applied using `-applymapping filename` in `proguard-rules.pro`. This doesn't work with okbuck since it doesn't copy over the additional mapping file:

[code]

[2017-08-28 22:35] #510 closed

[2017-08-28 22:39] kageiit commented on #507
Can you push a branch to a fork somewhere on github so we can try to reproduce the issue to see whats going on?

[2017-09-01 17:28] artem-zinnatullin commented on #502
Maybe this will be helpful: Bugsnag Gradle Plugin also needed to fix that https://github.com/bugsnag/bugsnag-android-gradle-plugin/pull/46

[2017-09-01 19:04] kageiit commented on #502
Okbuck does not use the `getOutputs` api anymore.

I am waiting to move okbuck fully to a template engine before doing the migration to 3.x

[2017-09-01 19:07] artem-zinnatullin commented on #502
Ohh, that's couple days then, kool kool

[2017-09-01 21:55] zmanji opened #515 "Mixing Scala and Java in same project results in compilation failure"
If I have a mixed scala/java project with the build.gradle looking something like:
[code]

Okbuck produces something like:
[code]

Which is nonsensical. I observed the java code not in the resulting jar, causing a crash at runtime.

[2017-09-01 22:17] #515 closed

[2017-09-05 16:10] #509 closed

[2017-09-05 16:11] kageiit commented on #508
Can you try with `v0.28.1`?

[2017-09-07 02:17] talenguyen commented on #400
What about the status of this. I saw kotlin is supported in the [Features](https://github.com/uber/okbuck/wiki/Features) page.

[2017-09-07 02:21] kageiit commented on #400
Yes everything is supported except `kapt`. @cwoodwar6 is currently working on kapt support

[2017-09-07 18:31] erawhctim commented on #400
Forgive my ignorance, but what does partial kotlin support entail exactly? What does the current "partial" kotlin support (e.g. everything but `kapt`) get us? Can you build everything but annotation-processor-based things?

[2017-09-07 18:35] erawhctim commented on #508
Just tried with the new version, I'm getting the same error.

[2017-09-07 18:36] kageiit commented on #400
Yes. If your gradle modules do not use the `kapt` configuration for annotation processors, they should work fine.

[2017-09-07 18:37] kageiit commented on #508
Can you run `./gradlew :buckWrapper --stacktrace` and paste the output?

[2017-09-13 19:19] erawhctim commented on #508
[code]

[2017-09-13 20:20] kageiit commented on #508
This sounds like an issue with a very old Gradle version. What version of Gradle are you using?

[2017-09-15 20:21] erawhctim commented on #508
Running `./gradlew --version` I get this:

[code]

Apologies for the ignorance, but what gradle version should I be using?

[2017-09-15 20:24] kageiit commented on #508
Can you try with Gradle 4.1

[2017-09-15 20:27] erawhctim commented on #508
Yep, that worked. Thanks for the help!

[2017-09-15 20:32] #508 closed

[2017-09-15 20:36] erawhctim opened #523 "NullPointerException when running the buck wrapper"
I've installed watchman, upgraded gradle to v4.1 and run `./gradlew :buckWrapper` to generate `buckw`, all of which complete successfully.

Now, when trying to run `./buckw targets` I get the error below.
Running with `--stacktrace`, `--info`, and `--debug` doesn't provide any additional information.

Any ideas?

[code]

[2017-09-15 20:43] kageiit commented on #523
Seems like you are missing a keystore in one of your apps.

please ensure both debug and release keystores are set for all apps in your project. I will update okbuck to make the error clearer

[2017-09-15 20:55] erawhctim commented on #523
Ah, okay, that makes sense. I know for a fact I don't have our release keystore setup on this machine, though I was under the impression that a default debug keystore is used by default, if a custom debug keystore isn't provided? Is that not the case when using buck?

[2017-09-15 21:29] kageiit commented on #523
That needs to be specified in the gradle config. Okbuck only translates what you have in gradle. Buck always requires a keystore explicitly.

In your gradle config you can configure your release signing config to use debug if the release creds are not available.

[2017-09-15 22:19] artem-zinnatullin commented on #502
Just update, with OkBuck 0.28.5, AGP 3.0.0-beta5, Gradle 4.1 we're getting following errors in all modules during `buckw project`:

[code]

And here is list of same issues (and PRs that fixed them) from other projects:

- https://github.com/jeremylong/dependency-check-gradle/issues/31 PR https://github.com/jeremylong/dependency-check-gradle/pull/33
- https://github.com/google/protobuf-gradle-plugi

[2017-09-16 00:52] artem-zinnatullin commented on #502
Diving deeper, I've made couple changes to OkBuck to ignore configurations that are not `isCanBeResolved()` and converted our project so it builds with Gradle and AGP 3.0.0-beta6 (just released).

But now I'm getting following error during `buckw project`:

[code]

My guess is that OkBuck will need to support/mimic AGP behavior related to new flavor/buildType matching behavior across modules, see

[2017-09-18 14:11] erawhctim commented on #523
Good to know, didn't realize that was a Buck requirement. I'll get that set up and see what happens. Thanks!

[2017-09-21 19:03] marcherdiego opened #525 "Changes in AndroidManifest.xml not detected"
I've added two activities to the manifest file of a module. This module is used in the main module, I can see the two new activities in the merged manifest in Android Studio, but if I simply run okbuck, the change seems not to be applied.
I had to clean build with buck again to see the change. Any hint?

[2017-09-21 21:09] kageiit commented on #525
Okbuck does not generate merged manifests from libraries. Buck does

You need to build with buck to see the changes

[2017-09-22 14:18] marcherdiego commented on #525
@kageiit What do you mean?
Shouldn't it be simply `./buckw build _target_` and then `./buckw install --run _target_`? Am I missing something?

Thanks!

[2017-09-29 14:49] marcherdiego commented on #525
Hi @kageiit, can you please add some additional information about this? I really don't understand the reason why :(

Thanks!

[2017-09-29 21:06] seanabraham commented on #502
Any updates on this @kageiit / @jbarr21 / @artem-zinnatullin

OkBuck has now moved to a templating engine as far as I understand

[2017-09-30 01:06] kageiit commented on #502
Im currently finish up D8 support in buck. I will look at this next week

[2017-10-07 17:56] jbarr21 opened #529 "Lint targets fail with ClassNotFound using 26.0.0-beta7"
Repro steps:
- Update the okbuck `dependencies.gradle` to use android tools `26.0.0-beta7`
- Run `./buckw build //libraries/lintErrorLibrary:lint_debug`
- Saw the stack trace below:
- Verified that `CompositeIssueRegistry` was in the `okbuck_lint.jar` on the java `-classpath`
- Also tried adding Kotlin runtime, reflect, and stdlib deps to `buckLint` of `libraries/lintErrorLibrary` and `compile` of

[2017-10-10 10:34] sonugoyal512 opened #531 "./buckw targets --stacktrace fails with java.lang.NullPointerException (no error message)"
I followed the steps as mentioned.

Trying to build my existing android project build is failed with following error:
1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':okbuck'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.
=============================================================

[2017-10-10 10:39] kageiit commented on #531
`./buckw targets --stacktrace` is not a valid command

Can you paste the output of
[code]
instead?

[2017-10-10 10:53] sonugoyal512 commented on #531
Stacktrace:

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':okbuck'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:70)
        at org.gradle.api.internal.tasks.execution.Sk

[2017-10-10 11:00] sonugoyal512 commented on #531
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':okbuck'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:70)
        at org.gradle.api.internal.tasks.execution.SkipUpToDateTas

[2017-10-10 11:23] kageiit commented on #531
What does your project structure look like?

Do you just have one top level build.gradle file?

[2017-10-10 11:28] sonugoyal512 commented on #531
It consists of only one top level build.gradle and multiple gradle projects.

[2017-10-10 12:05] sonugoyal512 commented on #531
**Top Level** Build.gradle.project
- build.gradle.1
- build.gradle.2
- build.gradle.3
- build.gradle.main

[2017-10-10 19:27] #529 closed

[2017-10-13 06:26] krishnaChaitanyaAripaka commented on #502
Hi,
I tried integrating okbuck in my app with following configurations and I have observed strange behaviour with okbuck. It does not work for the below configuration

Failure :  Gradle 4.1, Android Plugin 3.0.0-beta6, okbuck (from 0.24.0)

Success : Gradle 4.1, Android Plugin 2.3.3,  okbuck (all versions)
Success : Gradle 4.1, Android Plugin 3.0.0-beta6,  okbuck (till 0.23.3)

* What went wrong:

[2017-10-13 06:44] krishnaChaitanyaAripaka opened #534 "Failing -- Okbuck(0.28.9) is failing with android plugin 3.0.0-beta6"
Hi,
I tried integrating okbuck in my app with following configurations and I have observed strange behaviour with okbuck. It does not work for the below configuration

Failure : Gradle 4.1, Android Plugin 3.0.0-beta6, okbuck (from 0.24.0)

Success : Gradle 4.1, Android Plugin 2.3.3, okbuck (all versions)
Success : Gradle 4.1, Android Plugin 3.0.0-beta6, okbuck (till 0.23.3)

What went wrong:
Execu

[2017-10-13 06:46] kageiit commented on #534
This is expected. Agp 3.x support is not yet merged

[2017-10-13 07:21] krishnaChaitanyaAripaka commented on #534
Thanks for the update. When can we expect support ?

Android Plugin 3.0.0-beta7 with okbuck 0.23.0 is failing with following error

What went wrong:
Execution failed for task ':app:okbuck'.

So which version of okbuck can we use as of now ?

[2017-10-13 09:00] kageiit commented on #534
Okbuck does not support any version of 3.x .

Please follow https://github.com/uber/okbuck/milestones for updates

[2017-10-13 09:00] kageiit commented on #534
Duplicate of #502

[2017-10-13 09:00] #534 closed

[2017-10-14 10:58] mohammed-safiq opened #537 "Failing - When running <generate_resource_ids>"
Please find the following error when trying to build my own app

The following resources were not found when processing Pair(//app:res_lollipopDebug#resources-symlink-tree, buck-out/gen/app/res_lollipopDebug#resources-symlink-tree/res):
RDotTxtEntry{idType=int, type=string, name=summary_checkbox_preference, idValue=0x00000000, parent=summary_checkbox_preference}
RDotTxtEntry{idType=int, type=strin

[2017-10-14 16:47] kageiit commented on #537
This is an error message from buck. Please file a bug on Buck's issue tracker

[2017-10-17 09:05] mohammed-safiq opened #538 "Failing when building <targets>"
I tried to run ./buckw build appLollipopDebug

BUILD FAILED: The rule //app:bin_lollipopDebug, could not be found.
Please check the spelling and whether it exists in /Users/***/Documents/Projects/android/app/BUCK.

But the name with 'bin_lollipopDebug'(android_binary) is available in app/BUCK

Where am i going wrong?

[2017-10-17 09:16] kageiit commented on #538
Can you print the contents of your `.buckconfig.local` file please?

And also the output of
`./buckw targets --type android_binary` as well

[2017-10-17 09:44] mohammed-safiq commented on #538
.buckconfig.local

[alias]
    appLollipopDogfood = //app:bin_lollipopDogfood,
    appLollipopDebug = //app:bin_lollipopDebug,
    appLollipopMock = //app:bin_lollipopMock,
    appPrelollipopQa = //app:bin_prelollipopQa,
    appPrelollipopDebug = //app:bin_prelollipopDebug,
    appPrelollipopRelease = //app:bin_prelollipopRelease,
    appPrelollipopMock = //app:bin_prelollipopMock,
    appPrelolli

[2017-10-17 09:45] mohammed-safiq opened #539 "Failing with lots of resource issues - IMPORTANT"
I builded my target and its throwing hell lot of resource not found issues. Please refer one of the issue below.

buck-out/gen/app/res_lollipopDebug#resources-symlink-tree/res/menu/***.xml:3: error: Error: No resource found that matches the given name (at 'title' with value '@string/***').

Please refer this also

android_resource(
    name = 'res_lollipopDebug',
    package = 'com.**.**',
    res

[2017-10-17 09:51] #537 closed

[2017-10-17 11:12] kageiit commented on #538
@mohammed-safiq you maybe using an older version of okbuck. Can you update to latest `0.29.11` and try again?

[2017-10-23 21:38] jbarr21 opened #545 "Enable lints that use project structure and merged manifest"
In Lint 26.x, the command line lint that Buck uses has a `--project` option that lets you specify an XML file describing the project being linted. `ProjectInitializer.kt` describes how the XML file is parsed and what options are supported. It may be possible to construct the XML project file such that lints that use the presence/absence of the support library and permissions merged from dependent

[2017-10-25 22:58] felipecsl commented on #502
@kageiit friendly ping on this now that 3.0 stable is out :)
I could possibly look into this if you're too busy

[2017-10-25 23:22] kageiit commented on #502
I have a branch I can push up. But the main thing that has me hesitating is that we need acces to some internal apis that will become public in 3.1 . It will be a breaking change from 3.0 to 3.1 as well in terms of okbuck compatibility.

Also, making the next version of okbuck backwards compatible with 2.3 will be very hard so I am going to just break compatibility and only support 3.x from next r

[2017-10-25 23:24] felipecsl commented on #502
re: no backwards compatibility - sounds good to me. thanks for the update!

[2017-10-26 01:35] artem-zinnatullin commented on #502
@kageiit branch would be great! Even if it's incomplete :)

[2017-10-26 13:53] kageiit commented on #502
Pushed changes up to https://github.com/uber/okbuck/tree/agp_3_x_wip . There is a bunch to do still regarding getting project dependencies to work correctly using some internal APIs in AGP

[2017-11-17 16:20] edsilfer opened #554 "Output lint-results.xml absolute path in final error messages of lint rules"
In order to allow efficient error parsing, handlers must stick with `WARNING` and `SEVERE` log analysis. For lint, an important information is `lint-results.xml` file which is currently being thrown with `INFO` level.

[2017-11-17 17:02] #554 closed

[2017-11-21 15:00] yFotouh opened #558 "Could not initialize class com.uber.okbuck.core.model.base.TargetCache"
when i run
gradlew.bat ./gradlew :buckWrapper --stacktrace

i get this

[code]

my root gradle file :

[code]

gradle wrapper version 4.3.1

[2017-11-21 16:11] kageiit commented on #558
Are you running on windows?

[2017-11-22 07:14] kageiit commented on #539
Needs more info on what is contained in the main and debug resources to be able to determine the problem.

[2017-11-30 07:02] preetb123 opened #562 "Getting error while running :buckWrapper task"
[code]
The above succeeds if buckWrapper,
[code]

I am doing this in a new android project .

[2017-12-08 09:30] sherlockHK commented on #368
axibade

[2017-12-15 09:37] kassim commented on #502
is it in a useable state yet? (even if beta)
was really looking forward to trying out Okbuck

[2017-12-15 10:15] kassim commented on #562
what does your root build.gradle file look like?

[2017-12-15 11:37] preetb123 commented on #562
@kassim
[code]

[2017-12-15 13:40] kassim commented on #562
looks like you're missing the `apply plugin: 'com.uber.okbuck'` line :)

[2017-12-22 02:07] ltyhome opened #567 "Resolving configuration 'debugCompile' directly is not allowed"
localhost:TNApp ltyhome$ ./buckw targets
NO PREVIOUS SUCCESSFUL OKBUCK RUN
RUNNING OKBUCK...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':MPChartLib:okbuck'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.

[2017-12-22 02:33] kageiit commented on #567
Seems like you are usign android gradle plugin version 3+ which is not yet supported by okbuck

[2018-01-10 17:24] runningcode opened #569 "Travis is failing."
Travis is failing while running instrumentation tests
`./buckw test //app:instrumentation_demoDebug_test`
Running this locally fails with this exception:
[code]
Some googling around leads me to believe that this is related to support vector drawables?

[2018-01-10 17:25] runningcode commented on #569
cc @raviagarwal7 @kageiit

[2018-01-10 21:18] raviagarwal7 commented on #569
the test works locally for me with this change - https://github.com/uber/okbuck/pull/568
Travis is failing to start an emulator so disabled the test for now.

[code]

[2018-01-10 21:20] raviagarwal7 opened #570 "Update ButterKnife from 9.0.0-SNAPSHOT to a stable version."

[2018-01-11 00:40] runningcode commented on #569
Where do you see travis failing to start an emulator? I see this last build before the test was disabled as having the same failure I noted above: https://travis-ci.org/uber/okbuck/builds/327359986

[2018-01-11 10:26] raviagarwal7 commented on #569
my bad, you are right I thought this to be the failure
[code]

I was able to run the test successfully locally though, not sure what's up with the Travis CI.

Also, if you look at this run where the test run was disabled - https://travis-ci.org/uber/okbuck/builds/327376362
It seems like the build failed due to
[code]

[2018-01-11 10:37] runningcode commented on #569
the `android-wait-for-emulator` script is only available on travis android instances i.e. set `language: android` instead of `language: android`

[2018-01-12 10:44] zorroblue opened #571 "./buckw targets failing"
I am able to do the steps till `./gradlew :buckWrapper` successfully.
However, on trying to `./buckw targets`, I get the following error:

`bash: ./buckw: /usr/bin/env: bad interpreter: Text file busy`

When I googled this, I got to know that this happens if a rogue process opens the file for writing. When I checked the processes accessing the file using `lsof | grep "buckw"` and further using `ps

[2018-01-13 12:46] runningcode opened #572 "Issue with Okbuck and proguard configuration."
When I run okbuck, it fails for me with the following stacktrace:
[code]

Looking at `AndroidBinaryRule.java:519` I saw
[code]
so i changed my app's release proguard configuration from `buildTypes.release.minifyEnable true` to `buildTypes.release.minifyEnable false` and it worked. :)

Not sure what the proper fix is here. cc @kageiit

[2018-01-13 12:51] kageiit commented on #572
if you are enabling minify, okbuck expects you have a proguard configuration as well. Have you tried setting one?

[2018-01-13 13:01] runningcode commented on #572
yeah, its set
[code]

[2018-01-13 13:01] runningcode commented on #572
could it be an issue with `getDefaultProguardFile`?

[2018-01-13 14:22] kageiit commented on #572
It's recommended to not use the defaults. See the okbuck samples. The getDefault could also be returning null in your code

[2018-01-13 20:24] kageiit commented on #572
Closing since we appear to have found a workaround. Please comment if there is anything else related and I can re-open

[2018-01-13 20:24] #572 closed

[2018-01-13 20:25] kageiit commented on #571
okbuck does not support AGP 3.0.1 . See https://github.com/uber/okbuck/pull/568 and use `0.33.0-alpha01` till we are able to merge the PR

[2018-01-14 18:44] runningcode commented on #572
I'm going to try to make a PR to give this a better error message when the build fails with this error.
Maybe something like
`IllegalArgumentException("Make sure a proguard configuration exists and do not use getDefaultProguardFile")`?

[2018-01-15 15:56] runningcode commented on #569
You can recreate the failure if you use an emulator/device with SDK 19 just like travis.

[2018-01-20 04:00] msridhar opened #576 "Changing dependencies checking too aggressive"
With `failOnChangingDependencies` set to true, okbuck rejects `'com.google.errorprone:javac:9+181-r4173-1'` as changing.  But, it's an [artifact on Maven Central](http://search.maven.org/#artifactdetails%7Ccom.google.errorprone%7Cjavac%7C9%2B181-r4173-1%7Cjar).  Perhaps the version check can be less aggressive?

[2018-01-23 15:34] #576 closed

[2018-01-26 09:08] paqadvault commented on #84
i need to solution for these
``:app:signingReport
Variant: debug
Config: debug
Store: C:\Users\Akintola Samson\.android\debug.keystore
Alias: AndroidDebugKey
MD5: EC:EB:B2:13:EA:6C:CC:0B:81:DC:DD:3D:85:3A:4D:3C
SHA1: AA:88:FB:33:6C:F5:F0:17:01:89:31:96:BD:94:D8:C3:89:28:E6:EE
Valid until: Friday, December 13, 2047
----------
Variant: releaseUnitTest
Config: none
----------
Variant: debugUnitTest
C

[2018-01-26 14:29] #569 closed

[2018-01-26 14:32] #562 closed

[2018-01-26 14:32] kageiit commented on #558
Windows is not supported by okbuck

[2018-01-26 14:32] #558 closed

[2018-01-26 14:32] kageiit commented on #539
Closing due to inactivity

[2018-01-26 14:32] #539 closed

[2018-01-26 14:33] kageiit commented on #507
Closing due to inactivity

[2018-01-26 14:33] #507 closed

[2018-01-26 14:33] kageiit commented on #452
Closing due to inactivity

[2018-01-26 14:33] #452 closed

[2018-01-26 14:34] kageiit commented on #492
Closing due to inactivity

[2018-01-26 14:34] #492 closed

[2018-01-26 14:36] kageiit commented on #72
This is supported once #568 merges as AGP 3.x explicitly requires dimensions for all flavors

[2018-01-26 14:37] kageiit commented on #232
Closing due to inactivity

[2018-01-26 14:37] #232 closed

[2018-01-26 14:37] kageiit commented on #273
Closing due to inactivity. There were several changes made to lint since this issue was opened. Please open a new issue if you still feel something is not working

[2018-01-26 14:38] kageiit commented on #277
This is not needed given the api/impl support added in AGP 3.x makes this obsolete. This will be resolved as soon as #568 merges. Closing for now

[2018-01-26 14:38] #277 closed

[2018-01-26 14:39] kageiit commented on #501
Okbuck switched over to d8 by default for desugaring lambdas so this issue seems obsolete

[2018-01-26 14:39] #501 closed

[2018-01-26 14:40] kageiit commented on #523
Closing due to inactivity. Adding a keystore should have resolved the issue. Please comment if there are any further questions.

[2018-01-26 14:40] #523 closed

[2018-01-26 14:41] #273 closed

[2018-01-26 14:42] kageiit commented on #525
Needs more info to repro. Please comment if the issue is still happening on latest okbuck version. Closing due to inactivity for now

[2018-01-26 14:42] #525 closed

[2018-01-26 14:43] kageiit commented on #567
Dup of #502

[2018-01-26 14:43] #567 closed

[2018-01-26 14:43] kageiit commented on #571
Dup of #502

[2018-01-26 14:43] #571 closed

[2018-01-26 14:43] kageiit commented on #538
Closing due to inactivity

[2018-01-26 14:43] #538 closed

[2018-01-26 14:45] kageiit commented on #504
This has been fixed in recent okbuck. The behavior in the description does not occur anymore.

[2018-01-26 14:45] #504 closed

[2018-01-26 14:45] kageiit commented on #72
Please follow #502 for updates

Dup of #502

[2018-01-26 14:45] #72 closed

[2018-01-26 14:46] kageiit commented on #502
See #568 and use `0.33.0-alpha01` till we are able to merge the PR

[2018-01-26 16:11] kageiit commented on #378
@naveenOnarayanan any interest in porting over our internal crashlytics bits to here with some tweaks?

[2018-01-26 16:12] kageiit commented on #276
Okbuck ships with DEFS today to minimize boilerplate

[2018-01-26 16:12] #276 closed

[2018-01-27 14:41] preetb123 opened #580 "'buck targets' failing with error"
Getting following error while `./buckw targets`
I am using version `0.33.0-alpha01`
[code]

[2018-01-27 16:12] runningcode commented on #580
this looks like an upstream bug. https://github.com/facebook/buck/issues/1684
try using a newer version of buck?

[2018-01-27 16:31] goindevs commented on #580
@runningcode I just tried with `brew install --HEAD buck` but getting same error.

[2018-01-27 16:51] preetb123 commented on #580
I installed buck with `brew install --HEAD buck` but was getting same error with `$./buckw targets`

Got it running with `$buck targets`.

Now getting following error while running `buck build appDebug`
[code]

is `data-binding` still not supported?

[2018-01-28 08:44] preetb123 commented on #580
I removed `data-binding` completely from my project, but i am still getting the above error on
`buck build appDebug`.
Tried `./gradlew clean` & `buck clean` Also removed the directory `buck-out` but still getting the above error.

Also, even after installing the latest buck(`version b08c8889ccdf18de641ee1fd12340fe817a453e9`) i get `android-9/arch-arm doesn't exist` error while doing `./buckw targe

[2018-01-29 07:11] preetb123 commented on #580
I am able to get rid of all the previous errors by using `buck build appDebug` after cleaning the cache and using snapshot version of Butterknife and using Butterknife Gradle Plugin as given https://github.com/uber/okbuck/wiki/Known-caveats#butterknife.
But now i am getting following errors with the code generated by https://github.com/apollographql/apollo-android

[code]
Is there anything i can d

[2018-01-29 08:32] preetb123 commented on #580
Fixed the above issue(temporarily and built the project successfully) by manually adding the path to the generated code in the `BUCK` file
[code]
But this needs to be done for other build configurations as well.
I have added path to `sourceSets` as well, but it is not reflected in the `BUCK` file after `build`
[code]

[2018-01-29 09:42] kageiit commented on #580
@preetb123 you need to make the okbuck task depend on the apollo gradle plgin task. Okbuck has an example for sqldelight here: https://github.com/uber/okbuck/blob/master/build.gradle#L100

You should hookup something like this for apollo as well so that generated sourcesets are ported over to the BUCK files automatically

[2018-01-29 11:03] preetb123 commented on #580
Added following code
[code]
But the glob field in the BUCK file not updated. Anything else needs to be done?

[2018-01-30 12:39] kageiit commented on #580
@preetb123 See https://github.com/apollographql/apollo-android/issues/474 for your issue specifically :)

[2018-01-30 12:41] kageiit commented on #531
@sonugoyal512 can you check if all your projects have keystores setup correctly for all build types?

[2018-01-30 12:42] kageiit commented on #531
We saw this issue previously when keystores were not setup correctly

[2018-01-30 15:03] preetb123 commented on #580
I was able to get the BUCK file updated by adding `build/generated/source/apollo/co/sampleapp` to the `sourceSets` and with following commands
[code]

[2018-01-30 15:24] kageiit commented on #580
You dont have to invoke `buck` directly. Always prefer to use the wrapper

[2018-01-30 15:32] preetb123 commented on #580
`./buckw targets` still gives me error
[code]
So, i had to use it just to make it work.

[2018-01-30 16:19] kageiit commented on #580
What is the output of `./buckw --version`?

what version of okbuck are you using?

[2018-01-30 16:33] preetb123 commented on #580
I am using `okbuck` version `0.33.0-alpha01`
[code]

[2018-01-30 16:35] runningcode commented on #580
that version of buck is from nov 2017 and doesn't have the fix which was made in december 2017
https://github.com/facebook/buck/commit/c463548565e9cc831f7455a77b5b6612f95d71c0

[2018-01-30 16:38] preetb123 commented on #580
to get the latest version, i followed https://buckbuild.com/setup/getting_started.html
[code]

[2018-01-30 16:40] runningcode commented on #580
don't use buck directly, use the buck wrapper. set your `.buckversion` file in the root repository to a newer version like `c463548565e9cc831f7455a77b5b6612f95d71c0`

[2018-01-30 17:11] kageiit commented on #580
@preetb123 if you use `0.33.0-alpha03`, all these issues should go away as we fixed several of them in upstream buck. Let me know how that goes.

Once you upgrade, please run `./gradlew :buckWrapper` (only required once)

[2018-01-30 17:13] kageiit commented on #580
@preetb123 there can be multiple apps in one repo, so its best if you configure your build tools and target as explained in the example - https://github.com/uber/okbuck/wiki/OkBuck-options-and-examples

[2018-01-30 17:38] preetb123 commented on #580
Everything worked nicely after setting the version to `0.33.0-alpha03` and `okbuck` config in root project's `build.gradle` to
[code]
thanks again @kageiit

[2018-01-30 18:41] #580 closed

[2018-01-30 23:57] kassim commented on #572
for the sake of getting it running, removing the `proguardFiles` and `minifyEnabled` entries solved it for me - its probably as suggested above, that `getDefaultProguardFile` was returning null

[2018-02-12 05:19] naixx commented on #523
I still have a problem with 0.33-alpha1. Release signing configs are obviously set, the problem still exists
[code]

[2018-02-12 13:04] naixx opened #583 "Databinding, Windows"
Hi. I have two questions.

Is databinding supported right now? Previously I saw that databindign wasn't supported, it was mentioned in issues. But right now I don't see any mentions that it is unsupported, so can I assume that it should work? Because right now buck complains about `Invalid reference`

Is windows supported? I'm getting error `WindowsError: [Error 123] The filename, directory name,

[2018-02-12 15:48] kageiit commented on #583
Databinding is not supported yet

Windows support is - #472

[2018-02-15 05:47] mafunes opened #584 "./buckw build <target> failing"
I have the same issue as https://github.com/uber/okbuck/issues/580

The command `./gradlew :buckWrapper` work fine, however, on trying to `./buckw build <target>`, I get the following error:

bash: ./buckw: /usr/bin/env: bad interpreter: Text file busy

I checked the processes accessing the file using lsof | grep "buckw" and further using ps, I found it was just the java executable accessing.

I a

[2018-02-16 23:07] raviagarwal7 opened #585 "Move to gradle 4.6.0"
- Use `annotationProcessor` instead of `apt`
- Use constants from `JavaPlugin` instead of strings in `JavaTarget.groovy`

[2018-02-20 07:49] gpeal opened #588 "Okbuck doesn't prioritize build flavor strings over main strings"
We have some debug product flavors that only compile part of our app. It's useful to differentiate these different apps. When using Gradle, we can either use string overrides in `src/flavor` or us a plugin like [easylauncher](https://github.com/akaita/easylauncher-gradle-plugin). However, neither of these work with buck/okbuck. I'm not sure whether the issue lies in buck or okbuck.

[2018-02-20 16:16] kageiit commented on #588
See https://github.com/uber/okbuck/issues/393#issuecomment-279095348

Closing as dup

[2018-02-20 16:16] #588 closed

[2018-02-20 16:19] kageiit commented on #502
https://github.com/uber/okbuck/releases/tag/v0.33.0 is out with support for 3.x

[2018-02-20 16:19] #502 closed

[2018-02-20 19:06] kassim commented on #400
It's looking hopeful https://github.com/cwoodwar6/buck/pull/3

[2018-02-23 00:39] aphexcx commented on #400
Go go go! 🤞  Our app is majority Kotlin by now and I'm dying to give okbuck another shot (our gradle build times are 4-5 minutes).

[2018-02-24 00:02] pchmielowski commented on #322
@kageiit Where should I put this code?

[2018-02-25 13:42] vanniktech commented on #378
Has there been any progress on the porting?

[2018-02-25 14:46] runningcode commented on #322
inside the okbuck block in your root build.gradle. check the okbuck repo for a sample.

[2018-02-27 00:05] mmdango opened #592 "Incorrect cached Kotlin library versions"
We've been noticing this warning showing up frequently when there are Kotlin related changes. It breaks some code generation which then breaks the build. The current work around is to run `./buckw clean` and try building again. Have you guys noticed any similar issues working with Kotlin and okbuck?

[code]

[2018-02-27 10:15] runningcode commented on #592
Do you get these warnings in gradle as well?

[2018-02-27 22:11] mmdango commented on #592
@runningcode We pretty much exclusively use buck locally. We have not seen such errors on CI. I also have not found any easily reproducible steps.

[2018-02-28 15:24] #585 closed

[2018-02-28 21:48] kageiit commented on #592
Can you try t upgrade your kotlin version to `1.2.20`?

[2018-03-02 00:34] mmdango commented on #592
@kageiit We are on 1.2.21 now. Do you think this would be fixed with the `forcedOkbuck` configuration if we `forcedOkbuck` the 3 dependencies?

[2018-03-02 15:37] kageiit commented on #592
@mmdango can you try `forcedOkbuck` and let us know?

[2018-03-07 18:28] kageiit opened #598 "Switch to skylark parsing for okbuck generated BUCK files"
- Better error messages
- Faster parse time
- FB plans to build a lot of stuff on top of Skylark

[2018-03-11 20:27] jbarr21 opened #599 "OkBuck sample app doesn't build"
Steps:
[code]

Error:
[code]

[2018-03-11 21:07] jbarr21 commented on #599
was just some issue with my python environment

[2018-03-11 21:07] #599 closed

[2018-03-13 14:49] galex opened #600 "groovy.lang.MissingPropertyException: No such property: ANNOTATION_PROCESSOR_CONFIGURATION_NAME"
Hello,

There seems to be an issue with the Java Gradle Plugin on okbuck 0.34.1 (with Android Gradle Plugin **3.0.1** and Gradle **4.4**).

After setting a clean and new Android Project (module **app**) and adding a new Java Library in a module named **lib** which **app** depends on and running `./buckw targets`:
[code]

Here is the stack trace:
[code]
The Java module **lib** is set up as followin

[2018-03-13 15:17] galex commented on #600
Tried, and sadly I got the same result with Android Gradle Plugin **3.1.0-rc02** and **3.2.0-alpha05** as well.

[2018-03-13 16:00] kageiit commented on #600
oh right. Please use gradle 4.6 or above as well :)

[2018-03-14 11:43] galex commented on #600
Thanks, using Gradle 4.6 does solves the issue!

[2018-03-14 11:43] #600 closed

[2018-03-14 11:50] galex opened #601 "Failure: "2 proguard files found. Only one can be used.""
Hello,

Following the issue #600 when a buildType is configured with `minifyEnabled = true`, the following error shows up:
[code]
This is how the flavor is configured:
[code]
If I comment the `proguard-rules.pro` file, I get the following error:
[code]
If I comment the `getDefaultProguardFile('proguard-android.txt')` part, then everything is OK.

Thank you in advance for your help!

[2018-03-15 10:12] galex opened #602 "Compilation failed to complete: Cannot fit requested classes in a single dex file"
Hello,

For an Android Project where the minSDK is **21** and only `multiDexEnabled = true` is needed following the [android documentation](https://developer.android.com/studio/build/multidex.html), this is the error I get:
[code]

Thank you in advance for your help!
Alex

[2018-03-15 10:29] runningcode commented on #602
In buck, each module must be smaller than 1 dex file.

[2018-03-15 10:42] galex commented on #602
It is indeed a big module (android app which depends on many other modules and external dependencies) but it is "normal" for android apps to go over that limit, that's why we [enable multiDex](https://developer.android.com/studio/build/multidex.html).

Do you mean this is a buck limitation and there is no way going around it?

Does[ this issue](https://github.com/facebook/buck/issues/309) mean mul

[2018-03-15 11:15] runningcode commented on #602
So, Buck has multidex support and you can continue to use the multidex library.
However, in order for Buck to work, you will have to split up your module so that the module itself has less than 65k methods without including dependencies of that module.

[2018-03-17 09:28] ricoharisin opened #603 "FirebaseApp initialization unsuccessful"
hi

somehow `FirebaseApp` cannot be init when using okbuck

    I/FirebaseInitProvider: FirebaseApp initialization unsuccessful

    java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process     com.xxxx. Make sure to call FirebaseApp.initializeApp(Context) first.

also my apps have multiple module and firebase dependency is compiled by another module and application

[2018-03-18 08:17] galex commented on #602
Understood, thank you for the explanation!

[2018-03-18 08:17] #602 closed

[2018-03-20 17:23] eggman87 opened #605 "Using generated apt java code from Kotlin code?"
If we are using java annotation processors can we access the generated java classes from a kotlin file and still use okbuck?

I am seeing that any kotlin code I have referencing generated java fails with unresolved reference:
[code]

Is this setup not currently supported?

[2018-03-20 18:34] eggman87 commented on #605
Bad question. This is due to okbuck not supporting `kapt` as noted in [400](https://github.com/uber/okbuck/issues/400)

[2018-03-20 18:34] #605 closed

[2018-03-21 06:09] ianchild opened #606 "No such file or directory: '/Users/ian/.gradle/caches/okbuck/buck/build/buck-info.json'"
2018-03-21 14:00:20,289 [ERROR][buck.py:157] [Errno 2] No such file or directory: '/Users/ian/.gradle/caches/okbuck/buck/build/buck-info.json'
Traceback (most recent call last):
  File "/Users/ian/.gradle/caches/okbuck/buck/bin/../programs/buck.py", line 131, in <module>
    exit_code = main(sys.argv, reporter)
  File "/Users/ian/.gradle/caches/okbuck/buck/bin/../programs/buck.py", line 112, in ma

[2018-03-21 06:34] kageiit commented on #606
Please use latest okbuck and update your buck wrapper with `./gradlew :buckWrapper`. We do not use buck built from source anymore

[2018-03-22 03:24] ianchild opened #607 "Project Structure Issues"
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.uber:okbuck:0.34.1'
    }
}

apply plugin: 'com.uber.okbuck'

Error:The module 'app' is an Android project without build variants, and cannot be built.
Please fix the module's configuration in the build.gradle file and sync the project again.

[2018-03-22 03:29] kageiit commented on #607
Needs more info. Its not clear what is the error and what the expected outcome is

[2018-03-22 03:36] ianchild commented on #607
Error:
The module 'app' is an Android project without build variants, and cannot be built.
Please fix the module's configuration in the build.gradle file and sync the project again.

app build.gradle:
apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "25.0.2"

    defaultConfig {
        applicationId "com.didapinche.testbuck"
        minSdkVersion 1

[2018-03-22 05:18] ianchild commented on #607
okbuck support gradle plugin 3+?
best configs is？

[2018-03-22 05:29] kageiit commented on #607
Check the sample app. It only supports 3.1.x versions of agp

[2018-03-23 09:39] yrom opened #608 "FAILED: 0 proguard files found. Only one can be used."
It seems `okbuck` (ver 0.34.1) not recognize the `postprocessing` block.

Snippet in my app's `build.gradle` looks like:

[code]

Thx.

[2018-03-23 09:58] runningcode commented on #608
interesting. does it work fine if you move the proguardFiles out of the postProcessing block? i'm not familiar with the postProcessing block.

[2018-03-23 10:59] yrom commented on #608
@runningcode `./buckw targets` works fine,  if i replace `postprocessing` block to old DSL, e.g.
`proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'`

[2018-03-27 09:51] kafji opened #609 "OkBuck doesn't generate instrumentation test target"
In order for OkBuck to generate instrumentation test targets I should just set `okbuck.test.espresso` to `true`. Is that true?

Because when I create a new Android project and setup OkBuck (version 0.34.1) as this:
[code]
The instrumentation test targets are not generated.

[2018-03-27 09:57] kafji commented on #609
Repro https://github.com/kafji/okbuck609

[2018-03-27 10:01] runningcode commented on #609
Yeah, I had this issue as well. You need to add a `AndroidManifest.xml` in the `androidTest` srcs. This isn't well documented.

[2018-03-27 20:41] thalescm opened #610 "OkBuck does not add resources on android_libraries"
I've made a [sample case](https://github.com/thalescm/okbuck/tree/resources-test) on where it happens normally with gradle, but fails with buck (generated by okBuck).

main app resources are under `src/main/resources`, but okbuck does not add the respective parameters (`resources`, `resources_root`, etc...) on the `android_library` rule.

To check the behavior, just run:
`./gradlew app:connectedDe

[2018-03-28 06:53] BharathMG commented on #400
Looks like https://github.com/facebook/buck/issues/956 just got closed!

[2018-03-28 10:38] kafji commented on #609
@runningcode thanks.

Solved the problem by adding AndroidManifest.xml as runningcode said with this as its content:
[code]

[2018-03-29 05:18] kafji opened #611 "Unable to locate jar file from library module"
Let's say I have 2 gradle modules. One is an `app module` while the other is a `library module`. My `app module` depends on a jar file inside `library module`.

When I tried to build the project I got an error that says it can't found the rule for the jar.

Repro https://github.com/kafji/okbuckjarlibrepro
[code]

I tried to reproduce this issue in okbuck/app but it works as expected. https://githu

[2018-03-30 14:57] kageiit commented on #611
There is a bug here: https://github.com/kafji/okbuckjarlibrepro/blob/master/mylibrary/build.gradle#L29

The issue is you have no `libs` directory in your sample project with the jar checked in

[2018-03-30 16:39] #610 closed

[2018-04-02 03:21] kafji commented on #611
@kageiit sorry about that. I've updated the repro with the libs/jar added to git.

[2018-04-02 16:21] #609 closed

[2018-04-02 16:21] kageiit commented on #608
Postprocessing block seems new. Okbuck does not support it yet

[2018-04-02 16:22] kageiit commented on #608
This dsl is incubating and can change at anytime - https://google.github.io/android-gradle-dsl/current/com.android.build.gradle.internal.dsl.BuildType.html#com.android.build.gradle.internal.dsl.BuildType:postprocessing

Do not plan to add support for this until it becomes stable

[2018-04-02 16:23] #606 closed

[2018-04-02 16:24] kageiit commented on #603
Can you make a small sample project showcasing this issue. Its hard to repro/diagnose otherwise

[2018-04-02 16:25] kageiit commented on #601
Please remove `getDefaultProguardFile('proguard-android.txt')` instead and just use `'proguard-rules.pro'`

[2018-04-04 01:57] lenguyenthanh commented on #400
Can't wait seeing this issue got closed too.

[2018-04-05 16:15] runningcode commented on #250
always use the buck wrapper with `./buckw` never call any other installed buck version from the command line with `buck`

[2018-04-05 18:16] kageiit opened #614 "Databinding Support"
Databinding has a [CLI](https://android.googlesource.com/platform/frameworks/data-binding/+/gradle_3.0.0/exec/src/main/java/android/databinding) compiler that is in aosp (no artifact on maven.google.com yet). It is only two classes, but it allows ingesting layout xml files and outputting the metadata required by the databinding annotation processor to work correctly.

By using a genrule to pre-pro

[2018-04-11 02:13] TomMD commented on #125
Resurrecting this issue, and doing so as a buck novice, how does this square with the workflow which seems biased towards buckw?  Can I safely ignore the wrapper target and:

[code]

Or is the `:okbuck` target a second class citizen in some way?

[2018-04-11 22:11] jbduncan commented on #232
@kageiit Would you consider reopening this issue? I'm personally very interested in learning how to use Bazel at some point (especially for vanilla Java projects), and I understand that if a Bazel-orientated variant of OkBuck were eventually introduced, I could then slowly migrate one of my own Gradle projects to Bazel. :)

[2018-04-12 23:54] #400 closed

[2018-04-18 15:05] eggman87 opened #630 "Functional interface that extends Serializable causes build to fail when using method reference"
When using a functional interface that extends `Serializable` buck builds will fail with the following error:
[code]
If your interface does not extend `Serializable`, the build will succeed. The same code compiles successfully using gradle.

Sample project demonstrating the issue:
https://github.com/eggman87/buck_method_reference_issue

More information on the issue can be found in the readme in t

[2018-04-18 18:38] eggman87 commented on #603
@kageiit ran into same, will try to add to that sample project from the functional interface issue.

[2018-04-18 18:55] eggman87 commented on #603
@kageiit added to sample @ https://github.com/eggman87/buck_method_reference_issue

Exception happens when calling:
`FirebaseInstanceId.getInstance().getToken()`
Full stack:
[code]
This works on regular gradle builds.

[2018-04-19 02:11] esafirm opened #633 "setupOkbuck NPE no error message"
`./buckw targets` resulting:

[code]

[2018-04-19 05:52] kageiit commented on #633
Fixed in https://github.com/uber/okbuck/commit/ae44f7c8b9ee8a8711540a8576bbf93c2b6c1f04

Will be part of next release

[2018-04-19 06:06] #601 closed

[2018-04-19 06:06] kageiit commented on #592
Closing due to inactivity

[2018-04-19 06:06] #592 closed

[2018-04-19 06:07] kageiit commented on #584
Can you please try with the latest okbuck version?

[2018-04-19 06:07] kageiit commented on #583
Databinding support is #614

Closing this

[2018-04-19 06:07] #583 closed

[2018-04-19 06:13] kageiit commented on #603
This is likely due to missing `google-services.json` - https://developers.google.com/android/guides/google-services-plugin

Recommended workaorund is to not rely on the gradle plugin and just check in the json file directly. I dont see the json file in the test repo as its being gitignored

[2018-04-19 06:13] kageiit commented on #531
Closing due to inactivity

[2018-04-19 06:13] #531 closed

[2018-04-19 06:14] kageiit commented on #484
We have integration tests :)

[2018-04-19 06:15] kageiit commented on #503
Fixed by #626

[2018-04-19 06:15] #503 closed

[2018-04-19 13:12] eggman87 commented on #603
Yea if you add just the JSON file, the same exception will occur.

Looks like whatever the google services gradle plugin does is required. Without the google services plugin running, firebase is not usable.

[2018-04-19 15:03] kageiit commented on #633
@lenguyenthanh can you please post the stack Trace you see on 0.37.0

[2018-04-19 16:46] kageiit commented on #603
Right. The plugin does something quite simple actually. it copies values from the json file and puts them in resources

like
[code]

You can easily do this by hand and check it in instead of the json file. That is how we handle firebase usage internally. You can ofcourse make the okbuck task depend on the GoogleServicesTask similar to how we handle it for sqldelight - https://github.com/uber/okbuc

[2018-04-19 18:04] Igor1201 commented on #633
I am getting the same error on 0.36.0/0.37.0 as well:
[code]

[2018-04-19 18:08] kageiit commented on #633
cc @raviagarwal7

[2018-04-19 18:16] eggman87 commented on #633
I was having the same when going from 0.35.0 to 0.36.0 on this [sample project](https://github.com/eggman87/buck_method_reference_issue).

[2018-04-19 18:34] kageiit commented on #633
@eggman87 does it repro for you on 0.37.0 as well

[2018-04-19 18:37] eggman87 commented on #633
@kageiit it does, updated the comment with the stack trace for both 0.36.0 and 0.37.0.

[2018-04-19 20:46] #633 closed

[2018-04-20 00:09] cwoodwar6 opened #635 "extraBuckOpts appears to be broken"
Set `extraBuckOpts =
      ['appDebug': ["android_binary": ["trim_resource_ids = True"]]]` in the `okbuck` block of `build.gradle` and it will fail with:

[code]

It seems that the change from Groovy -> Java may have resulted in this behavior change. This configuration was working before with v0.35.0. Going from v0.35.0 -> v0.37.0 I am no longer able to use the same `extraBuckOpts` as before.

Ful

[2018-04-21 08:59] BharathMG opened #636 "BuildConfig fields in Annotation fails to parse"
Hi,

Thanks for bringing full kapt3 support! I'm facing an issue where if I include BuildConfig fields in Annotations, okbuck fails to parse it correctly. Here is the code,

     @FormUrlEncoded
     @POST("${BuildConfig.SIGNUP_PATH}")
     fun signup(@Field("email") email: String, @Field("password") password: String): Observable<Response<String>>

When running okbuck build, it fails with error,

[2018-04-23 18:36] RaphaelKalker commented on #603
I believe you don't need to rely on the gradle plugin to initialize your Firebase instance. One could manually set up the firebase instance as described here:
https://firebase.googleblog.com/2017/03/take-control-of-your-firebase-init-on.html

[2018-04-24 16:32] kageiit commented on #636
This is not an okbuck issue. Its a failure in buck build. Please file the issue on https://github.com/facebook/buck/issues

[2018-04-24 16:32] #636 closed

[2018-04-27 00:59] #635 closed

[2018-04-27 05:23] breakingsword opened #642 "No build file at RNSound/BUCK when resolving target //RNSound:res_debug."
JackdeMacBook-Pro:android jack$ ./buckw targets
Traceback (most recent call last):
  File "<string>", line 1, in <module>
KeyError: 'files'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
KeyError: 'files'
No build file at RNSound/BUCK when resolving target //RNSound:res_debug.

[2018-04-27 05:55] breakingsword commented on #642
the buck file is this
`android_resource(
    name = 'res_debug',
    package = 'com.zmxv.RNSound',
    resource_union = True,
    deps = [
        '//.okbuck/cache:com.android.support.appcompat-v7-23.0.1.aar',
        '//.okbuck/cache:com.android.support.support-v4-23.0.1.aar',
        '//.okbuck/cache:com.facebook.fbui.textlayoutbuilder.textlayoutbuilder-1.0.0.aar',
        '//.okbuck/cache:com.f

[2018-04-27 19:42] grandstaish opened #643 "Kotlin internal keyword on functions breaks compilation"
E.g. in your sample kotlin-app, add the `internal` keyword [here](https://github.com/uber/okbuck/blob/master/kotlin-app/src/main/java/com/uber/okbuck/example/AnalyticsModule.kt#L12).

You'll get the following error when building next:
[code]

[2018-04-27 20:14] kageiit commented on #643
This is a bug in buck, so it should be reported usptream in https://github.com/facebook/buck/issues

[2018-04-27 20:14] #643 closed

[2018-04-29 20:42] dsilvasc opened #644 "Scala compiler options"
According to https://github.com/uber/okbuck/issues/28 okbuck honors java compiler flags, but when I tried with Scala flags in `scalaCompileOptions.additionalParameters`, they didn't seem to take effect.  Are they not supported?

[2018-04-30 14:06] dsilvasc opened #645 "mixed scala + java projects leads to wrong compiler flags"
Say you have a gradle project with both scala and java sources (both scala and java plugins applied), and with extra compiler flags for your java code:

[code]

okbuck generates a BUCK file with incorrect scala compiler flags:

[code]

which then causes buckw to fail:

[code]

[2018-05-07 02:44] ricoharisin commented on #603
sorry just checked this issue again, and thanks @eggman87 to provide the sample!

right now i'm using workaround by manually init firebase instance and it works

so i will close this issue for now

[2018-05-07 02:44] #603 closed

[2018-05-07 11:08] noiz354 opened #649 "dbflow illegalstateexception"
i recently use kotlin and dbflow, i try to build using okbuck then it failed and create stacktrace shown at below :

java.lang.IllegalStateException
        at com.google.common.base.Preconditions.checkState(Preconditions.java:485)
        at com.facebook.buck.jvm.java.AccumulateClassNamesStep.parseClassHashes(AccumulateClassNamesStep.java:168)
        at com.facebook.buck.jvm.java.JavaLibraryRule

[2018-05-07 15:15] kageiit commented on #644
`scalaCompileOptions.additionalParameters` are currently not copied over. Will need to fix :)

[2018-05-11 05:33] atiwari-pretlist opened #651 "Is data-binding supported for kotlin project?"
I am trying to build android kotlin project with okbuck but facing issues related to data-binding.
Could you please confirm if data-binding is supported with okbuck? Thanks.

[2018-05-11 07:48] runningcode commented on #651
Nope. Take a look at the features page on the wiki: https://github.com/uber/okbuck/wiki/Features

[2018-05-11 08:56] atiwari-pretlist commented on #651
Ok thanks.
Is there any plan to support data-binding in near future?

[2018-05-15 16:20] kageiit opened #653 "Add support for jetifier"
https://developer.android.com/topic/libraries/support-library/androidx-rn

Waiting for a final release

[2018-05-16 01:18] hzsweers opened #654 "Support for allopen in kotlin"
https://kotlinlang.org/docs/reference/compiler-plugins.html#all-open-compiler-plugin

[2018-05-19 18:46] #329 closed

[2018-05-23 15:34] kageiit commented on #584
It seems like some process is holding onto the file in write mode according to https://stackoverflow.com/questions/1384398/usr-bin-perl-bad-interpreter-text-file-busy

Can you see if any of the posted workarounds there help?

[2018-05-23 15:42] kageiit opened #662 "Okbuck extensions are not hooked up properly"
Seems like the recent refactor to java broke some extension points

https://github.com/uber/okbuck/blob/75296aa8df1a6f7d867d8a1b2e4984bb288a44ee/buildSrc/src/main/java/com/uber/okbuck/extension/OkBuckExtension.java#L81

[2018-05-23 16:30] leandroBorgesFerreira opened #663 "Building problem in version 0.38.2"
Hello folks,

I am having a problem in version 0.38.2:

[code]

macOS High Sierra v 1.13.3

The problem is not present in version 0.38.0 and bellow

[2018-05-23 17:01] leandroBorgesFerreira commented on #584
Thanks @kageiit. It works just fine.

To solve the problem, I did this:

run: `lsof | grep buckw`

You will get something like this: `30998	/opt/jdk1.8.0_141/bin/java	/var/go/nu/some-path/buckw`

Take the number of the process trying to access the buckw and kill it. Like this:
`kill -9 30998`

[2018-05-23 17:23] kageiit commented on #584
Closing as it seems to be a system issue with a workaround and not an okbuck specific issue.

[2018-05-23 17:23] #584 closed

[2018-05-23 17:32] kageiit commented on #663
Sry closed wrong issue by mistake :)

[2018-05-23 17:32] kageiit commented on #651
Dup of #614 . Please move conversation there

[2018-05-23 17:32] #651 closed

[2018-05-23 17:34] kageiit commented on #642
Seems like an error in watchman

do a `watchman watch-del-all` and try again

[2018-05-23 17:34] #642 closed

[2018-05-23 17:34] kageiit commented on #278
Moving pas and lint extraction to buck is non trivial

[2018-05-23 17:34] #278 closed

[2018-05-23 18:09] raviagarwal7 commented on #663
@leandroBorgesFerreira could you share a code sample where this happens? I am not able to reproduce it in okBuck. would help in figure out the issue.

[2018-05-23 23:27] tuanchauict opened #667 "Error on running `./gradlew :buckWrapper`"
I got this error

[code]

Stacktrace:
[code]

My system:

[code]

Okbuck version:
[code]

[2018-05-23 23:42] kageiit commented on #667
Can you please use Gradle 4.6 and try again?

[2018-05-24 01:32] tuanchauict commented on #667
No luck.
Let me try with a completely new project

[2018-05-24 01:59] tuanchauict commented on #667
It works with Gradle 4.7

[2018-05-24 01:59] #667 closed

[2018-05-24 22:13] kageiit commented on #645
This needs to be fixed upstream in buck as well:

https://github.com/facebook/buck/blob/master/src/com/facebook/buck/jvm/scala/ScalaLibraryDescription.java#L178

Currently it overrides the java args and passes them into javac

[2018-05-24 22:15] kageiit commented on #645
This needs to be fixed upstream in buck before we can apply a fix in okbuck. Kotlin and groovy rules use their own extra compiler arguments that the scala rules do not. @dsilvasc Can you please create an issue on buck?

[2018-05-25 02:10] tuanchauict opened #671 "Cannot add extension with name 'kotlin', as there is an extension already registered with that name."
I got this when run `./gradlew :buckWrapper`
[code]

Strack trace:
[code]

System:
[code]
Okbuck version:
[code]

[2018-05-25 02:11] kageiit commented on #671
This is fixed in 0.39.0

[2018-05-25 02:12] tuanchauict commented on #671
It works now. Thanks! 👍

[2018-05-25 02:12] #671 closed

[2018-05-25 02:31] tuanchauict opened #672 "Error with ./buckw targets: libs must be located inside ..."
I have a quite complex structure project with module located inside module and share the same `libs` folder like this:
[code]

When I run `./buckw targets`, I got

[code]

Gradle: 4.7
OkBuck: 0.39.0

[2018-05-25 05:29] kageiit commented on #672
`jniLibs.srcDirs = ['../../libs']` is not supported. You cannot have the same folder shared by two targets.

I would recommend you create a separate module for the libs and other modules depend on it instead

[2018-05-25 05:29] #672 closed

[2018-05-25 05:29] kageiit commented on #663
`0.39.0` is available. Please check if the problem still persists

[2018-05-25 11:49] tuanchauict opened #673 "No build file at common-libs/BUCK when resolving target //common-libs:res_debug."
When I run `./buckw targets`, I got this:

[code]
I tried to clean watchman like recommended in #642 but no luck.

When I check, there is `BUCK` file in both `common-libs` and `ext/line-call`.

Okbuck: 0.39.0

[2018-05-26 14:09] kageiit opened #674 "Android manifest xmls with comments cause okbuck to output bad manifest"
For example, add

[code]

To a test android manifest and try to build the app

[2018-05-26 14:10] kageiit commented on #674
This regressed during the rewrite of okbuck to java

[2018-05-28 12:56] jbeguna04 opened #675 "Logo/Icon Proposal"
Greetings!

 Im Jibbie R. Eguna, a graphics designer would like to propose making a logo/icon for your project/application for your future use. I humbly want to help open source projects through this proposal. If you are in need with this proposal please don't hesitate to reply on this issue and feel free to ask clarifications about this proposal.

Again, Thank you and more power to your projects!

[2018-05-30 19:20] leandroBorgesFerreira opened #676 "Not running okbuck for mudoles that contains -h in the name"
Hi folks!

I can see that, if I try to run many build at once using buckw, it doesn't run okbuck as is expected.

If I run:

[code]

It goest just fine. But if I add a third library, it doesn't run okbuck and doesn't generate de BUCK files.

Likes this:

[code]

I end up with:

[code]

The error is expected, since okbuck didn't run

[2018-05-30 19:21] kageiit commented on #676
Can you check if your watchman is working correctly? If you add a new gradle file and a new module, it should re-run okbuck

[2018-05-30 19:30] leandroBorgesFerreira commented on #676
Uhm, I am deleting .okbuck folder before trying to run the build and I can see this behaviour even in our CI without watchman installed. I am trying to make it run for the first time.

[2018-05-30 19:35] leandroBorgesFerreira commented on #676
I am debuging and so far I got: When you have more than modules do build it goes straight to the first if in `setupBuckRun()`

[2018-05-30 19:37] leandroBorgesFerreira commented on #676
Found it. Just a sec.

[2018-05-30 19:45] leandroBorgesFerreira commented on #676
This problem is not related at all with the number of modules being built. It is a small problem in the skip logic.

There's a problem in this part of buckw:

[code]
Since our module has: `android-help` the `-h` check is passing. I believe the correct code should be:

[code]

I mean: `$@ == *" -h "*`instead of $@ == *"-h"*

[2018-05-30 21:04] #676 closed

[2018-05-30 21:05] kageiit commented on #676
@leandroBorgesFerreira Please modify your repo's buckw directly till we cut a new okbuck release. Thanks for fixing!

[2018-06-06 21:07] eggman87 opened #679 "Does okbuck support instant app projects? (feature modules)"
Trying to integrate it on a project and am running into issues....wanted to ask as I know it is not documented anywhere.

[2018-06-06 22:52] kageiit commented on #679
Instant apps are not supported

[2018-06-06 23:13] #679 closed

[2018-06-07 22:06] leandroBorgesFerreira commented on #663
Sorry for the delay. Yes, it is still there. It is hard to share a sample that reproduces this error, because I don't know how to reproduce it. Would our build.gradle help?

[2018-06-12 11:46] taotaoping opened #681 "how to set kapt arguments ?"
I am using objectbox in a mixed kotlin/java module, and it need a kapt argument named "objectbox.modelPath",  how to set kapt arguments with okbuck?

[2018-06-12 21:29] leandroBorgesFerreira commented on #663
I found the issue. When the library was translated from Groovy to Java this bug was inserted. Now, to work with LinkedHashSet, Rule must implement _hashCode()_. I could see that some rules are generated again, but with small changes in the **deps** that may be a bug.

I am going to investigate it a little but more in the next days.

[2018-06-12 21:48] cwoodwar6 commented on #681
[`extra_kotlinc_arguments`](https://buckbuild.com/rule/android_library.html#extra_kotlinc_arguments) was created for this purpose. However, the issue with using that directly is that it won't be included as part of the kotlinc arguments that Buck provides to use kapt. You would likely have to make a modification to Buck in order to be able to provide additional kapt arguments.

You COULD alternati

[2018-06-12 21:49] cwoodwar6 commented on #674
Is this only manifests in particular or any xml file?

[2018-06-12 23:13] leandroBorgesFerreira opened #683 "OkBuck generating same rules with difference in deps"
Removing the filter in the rules generation I can see that OkBuck is generating the same resource rules, but with a small difference in deps.

Running OkBuck we got those rules:
[code]

The problem of duplicated rules is addressed in PR 682. But the fact that the second rule is removed without a logic to confirm if it is the right one might be a problem.

[2018-06-16 04:03] TYGitHubPersonal opened #685 "android studio can't use cmake"
if I set
externalNativeBuild {
        cmake {
            path "CMakeLists.txt"
        }
    }

in android{}.
The setupOkbuck task throw NullException,and no error message.

[2018-06-18 15:41] kageiit commented on #685
okbuck does not support ndk. Dup of #38

[2018-06-18 15:41] #685 closed

[2018-06-18 16:36] jin commented on #232
@aj-michael ping, do you have any plans to continue working on this?

[2018-06-19 21:52] cwoodwar6 opened #686 "ConcurrentModificationException in OkBuck 0.39.X"
Went to bump OkBuck from `0.38.0` to `0.39.3` and got the following stacktrace:
[code]

Appears to have been introduced in the migration from groovy to java.

[2018-06-23 16:11] #686 closed

[2018-06-25 07:08] aldochristiaan opened #688 "No resource found on android support library"
Hello, I'm using okbuck v0.38 that compatible with gradle 4.4 well ..
But I got this error , when i try to build my app ..

[code]

Can you guys help please ?

[2018-06-25 15:01] kageiit commented on #688
This is a bug in buck. Please open a ticket there.

I would suggest updating your buck version to latest (https://github.com/facebook/buck/commit/7aa70a6ddc1d3bb7629801a92f5b4dbfc7d477dc) to see if its still a problem before doing so.

to upgrade buck, follow instructions in https://github.com/uber/okbuck/wiki/OkBuck-options-and-examples

[code]

[2018-06-25 15:01] #688 closed

[2018-06-25 17:31] aj-michael commented on #232
@jin, sorry but I don't currently have the time and if I did, I believe that the project has changed substantially since I last looked at it

[2018-06-25 17:34] jin commented on #232
@aj-Michael cool, just wanted to know so we don’t end up doing redundant work :-)

[2018-06-25 20:15] jbduncan commented on #232
@aj-michael I'm a bit sad to hear this, but I totally understand where you're coming from, so no worries! :)

@jin Am I right to infer that the "redundant work" you mentioned has something to do with https://github.com/bazelbuild/bazel/issues/5255? Or were you referring to something else?

[2018-06-25 20:30] jin commented on #232
@jbduncan yep, that's it.

[2018-07-02 03:55] BenjaminNjoroge commented on #84
**HOW I SOLVED THIS**

This error occurs because you have set your build variants to release mode. set it to build mode and run project again.

If you want to run in release mode, just generate a signed apk the way we do it normally when releasing the app

[2018-07-10 00:58] aaronhe42 commented on #601
Was there any reason multiple proguard files aren't supported?

[2018-07-10 11:37] runningcode commented on #601
don't think so, PRs welcome!

[2018-07-16 23:35] BingranLi commented on #322
@kageiit I also got the same error. Is there a way to fix it without disabling lint?

[2018-07-18 13:58] jbduncan commented on #472
I don't know if this is related to the caches or buck files being Windows-unfriendly, but when I try running `./buckw` from a Cygwin terminal on Windows 7, it causes the following error message to appear:

[code]

[2018-07-18 14:03] jbduncan commented on #472
Heck, it may have something to do with the Gradle setup of the project I'm testing OkBuck against.

I could provide a reproducible example if desired. :)

[2018-07-18 14:18] jbduncan commented on #472
Oh, and it might have something to do with how Buck only supports Windows 10, according to https://buckbuild.com/setup/getting_started.html. :/

[2018-07-22 07:49] sangeetsuresh commented on #614
@kageiit I am looking forward to implement data binding support. Could you please guide me in implementing that.

[2018-07-23 13:17] kageiit commented on #614
@sangeetsuresh see https://github.com/uber/okbuck/commit/ebcea6f0950d37536e18e0bfe7ae6eb39ebf4064#diff-5d4ed6b6392a62dd46960742f4402601 for an example of how the transform cli was added to okbuck.

The process essentially consists of a few steps
- Create a `java_binary` that has the [databinding CLI](https://android.googlesource.com/platform/frameworks/data-binding/+/gradle_3.0.0/exec/src/main/jav

[2018-08-03 02:15] jbarr21 commented on #599
Ensure you are using python 2.7

[2018-08-08 20:25] raviagarwal7 opened #691 "Move metadata generation required for build from okBuck to buck"
Currently there are a bunch of metadata generated by okBuck which adds to the okBuck run time as the project size increases. Idea is to move these into buck generated files so these metadata generation can move to build time which will be parallelized and cached.

- [x] Generating merged android manifests file
- [x] Extracting lint jars from dependencies
- [x] Signing keys
- [x] Groovy, Kotlin Ins

[2018-08-08 20:32] raviagarwal7 commented on #691
cc @kageiit

[2018-08-08 20:33] kageiit commented on #691
cc @artem-zinnatullin @cwoodwar6 @seanabraham

[2018-08-08 23:26] artem-zinnatullin commented on #691
Btw, if OkBuck will stop relying on symlinking for dependency resolution on Buck side, that can potentially unlock Gradle build cache for Okbuck

LGTM 👍

[2018-08-09 07:37] raviagarwal7 opened #692 "Add ErrorProne to okbuck"
https://github.com/google/error-prone/blob/master/examples/gradle/build.gradle

[2018-08-09 22:11] thalescm commented on #691
We use aws s3 for private maven, and we currently use a gradle plugin for that. Do you know if that is possible with `maven_coords` parameter or `remote_file` rules?  (I didn't find any good documentation on it)

[2018-08-09 23:11] kageiit commented on #691
It should be possible to still use `remote_file` for those

[2018-08-12 20:04] filipwski opened #693 "Usable with non-Android projects?"
Hi. Is it possible to use OkBuck with a non-Android gradle-based project?

[2018-08-12 22:10] artem-zinnatullin commented on #693
Yes, it supports plain Java/Kotlin modules (I think Groovy and Scala are also supported but I haven't tried)

[2018-08-13 06:45] kageiit commented on #693
It should be usable with non android projects. See https://github.com/uber/okbuck/wiki/Features for list of all supported languages

[2018-08-13 06:47] #693 closed

[2018-08-13 07:04] #674 closed

[2018-08-19 11:58] filipwski opened #696 "How to configure OkBuck to run simple "Hello World" java project with it?"
Hi,

I'm trying to run a simple java project using OkBuck. How should I configure it? I see it's designed mainly for Android and I assume its basic configuration should be changed.

[2018-08-19 13:02] runningcode commented on #696
I don't think any extra configuration should be necessary. Take a look at this module for a simple java app example: https://github.com/uber/okbuck/tree/master/java-app

Let us know if you run in to any touble.

[2018-08-19 15:44] filipwski commented on #696
Hmm... I successfully builded the project with ./buckw build <target> (I got <target> by running ./buckw targets). Now I want tu run the app. How could I do this? I tried to use ./buckw run on files in buck-out dir, but it didn't bring any results.

[2018-08-19 18:58] filipwski commented on #696
In such case I have the following error:
"target //.okbuck/cache/d8:rt-stub.jar is not a binary rule (only binary rules can be `run`)"

[2018-08-21 07:07] #692 closed

[2018-08-29 09:59] mansya opened #702 "New Logo/Icon proposal"
Good day sir. I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before I begin my design. Hoping for your positive feedback. Thanks

[2018-08-29 11:17] kageiit commented on #702
Thanks for opening the issue, but we have an internal design team that is responsible for this and is working on something already!

[2018-08-29 11:17] #702 closed

[2018-09-03 19:42] thalescm commented on #663
The error happened only when enabling `espressoForLibraries`. That's why it was hard to reproduce (and happened only to us).
The PR above should fix it on the root cause of the error.

[2018-09-04 23:58] MatthewPageCS opened #707 "OKBuck tries to find kotlin dependencies in jitpack"
This doesn't happen to me in gradle. I even tried deleting the jitpack declaration from my gradle project (and replacing it with a proxy) and it's still trying to talk directly with jitpack. Any idea what's causing this? It fails with this no matter what task I run. :(
[code]

[2018-09-05 03:52] kageiit commented on #707
Check your `repositories` block in root `build.gradle`.  You need to add repos to it for okbuck to resolve dependencies from

[2018-09-05 16:00] MatthewPageCS commented on #707
Ah, I see, I had the repos declared in `subprojects.repositories`, declaring them in `repositories` as well fixed it. Thanks.

[2018-09-05 16:00] #707 closed

[2018-09-05 22:30] hzsweers opened #709 "Support -Xfriend-paths for kotlin internal"
It's present as of 1.2.70-EAPs, and enables access to `internal` classes from tests in the same project

CC @cwoodwar6

[2018-09-06 16:59] cwoodwar6 commented on #709
I believe that https://youtrack.jetbrains.com/issue/KT-21910 would need to be addressed first. cc @thalescm

[2018-09-06 17:04] hzsweers commented on #709
It's possible as of 1.2.70 EAP 1, which we're now on RC1 :)

[2018-09-06 17:08] cwoodwar6 commented on #709
Ah got it. I didn't see a version on that ticket.

[2018-09-06 17:09] thalescm commented on #709
This is beautiful, unit testing SDKs (which is normally where you can't remove internal things) with buck was kind of hard. had to trust only in integration tests. This will be very good

[2018-09-10 03:17] kageiit commented on #683
This has been fixed in #706

[2018-09-10 03:17] #683 closed

[2018-09-10 03:18] #681 closed

[2018-09-11 08:37] kageiit opened #716 "Make sure multiple keystores can be written to same buck file"

[2018-09-11 15:58] #716 closed

[2018-09-12 13:52] kageiit commented on #322
okbuck.lint.version is not mandatory. The default version is inferred from the Android Gradle plugin version

[2018-09-12 14:29] kageiit commented on #322
The default version is set during okbuck initialization here: https://github.com/uber/okbuck/blob/master/buildSrc/src/main/java/com/uber/okbuck/extension/LintExtension.java#L24 so that is used if no user supplied value exists

[2018-09-18 12:25] xiyouMc opened #725 "How to print stacktrace?"
I need to see stacktrace， but Buck is not this command!

[2018-09-18 12:38] xiyouMc commented on #673
me too. how to resolve this ?

[2018-09-18 15:39] kageiit commented on #725
`EXTRA_OKBUCK_ARGS='--stacktrace' ./buckw build foo --verbose 6`

[2018-09-18 15:39] #725 closed

[2018-09-20 05:25] shaliniprajeshwynk opened #726 "./buckw targets commands fails at BUILD FAILED: The rule //.okbuck/gen/app/release:app.keystore could not be found."
~/AndroidStudioProjects/MyApplication $ ./buckw targets
CHANGES DETECTED IN:
app/build.gradle

RUNNING OKBUCK...

BUILD SUCCESSFUL in 1s
4 actionable tasks: 4 executed

PROCEEDING WITH BUCK

BUILD FAILED: The rule //.okbuck/gen/app/release:app.keystore could not be found.
Please check the spelling and whether it exists in /Users/b0207281/AndroidStudioProjects/MyApplication/.okbuck/gen/app/release/

[2018-09-20 05:53] kageiit commented on #726
This should be fixed in the next release of okbuck

[2018-09-26 20:44] kageiit commented on #696
Closing due to inactivity

[2018-09-26 20:44] #696 closed

[2018-09-27 20:10] artem-zinnatullin commented on #653
Given that OkBuck now delegates to Buck to download dependencies, should we integrate Jetifier into Buck itself or should it be dependency postprocessing step generated by OkBuck?

[2018-09-27 20:12] alexjlockwood commented on #653
FYI, Android X just went stable on Monday (9/21/2018).

[2018-10-01 12:31] hzsweers commented on #653
What's the source on cli usage? AFAIK the only guarantee they've ever made was to just give a gigantic list of all the mappings

[2018-10-01 17:38] kageiit commented on #653
We are talking to the frameworks team directly about the docs

[2018-10-02 20:30] kageiit commented on #726
Fixed in 0.41.0

[2018-10-02 20:30] #726 closed

[2018-10-07 05:04] dipendrapkrl opened #737 "cannot detect debug.keystore present in root folder"
I was trying to setup okbuck in a simple android kotlin project. However execution fails.

[code]
 It fails when I try to find targets.

The error message keeps saying to place debug.keystore in root of the project even though the file exists there.
Here is the console error.

NO PREVIOUS SUCCESSFUL OKBUCK RUN
RUNNING OKBUCK...

Execution failed for task ':setupOkbuck'.

Run with --stacktrace opti

[2018-10-12 19:08] mafunes opened #740 "Proguard file not found"
I get the following error when trying to run `./buckw build //app:bin_release`

Shows an error message

BUILD FAILED

My `build.gradle` file has **proguard-android.pro** instead **proguard-rules.pro**

[code]

[2018-10-12 19:40] kageiit commented on #740
Does the file exist? Can you try to do `rm -rf .okbuck` and try again?

[2018-10-12 21:33] mafunes commented on #740
The version of okbuck is 0.41.0

[2018-10-21 05:19] ScottPierce opened #746 "java.lang.NullPointerException (no error message)"
I've got a somewhat peculiar build setup using [Kotlin MPP](https://kotlinlang.org/docs/reference/multiplatform.html), that is to say that our app is a pure kotlin app, but some modules compile to JS, and some are kotlin common modules. Not sure how OKBuck will handle the intricacies, but I thought I'd give it a shot.

I got the following errors while building:
[code]

[2018-10-25 20:55] kageiit commented on #653
CLI instructions are out: https://developer.android.com/studio/command-line/jetifier

@thalescm wanna try tackling this?

[2018-10-25 20:57] kageiit commented on #653
We would want to depend on the jetifier artifact from maven.google.com and create a java_binary with an isolated configuration in okbuck (similar to what we do with lint etc.). Then we can create genrules to process prebuilt aars/jars with the tool before consumption as long as said jar/aar has a dependency on a support library (info available during resolution in okbuck)

[2018-11-01 07:10] tesla1984 opened #750 "String index out of range"
gradle version: 4.7
okbuck version: 0.44.0

when i run `./buckw targets`, failed on task `:okbuck`

i found the [#39](https://github.com/uber/okbuck/issues/39) ,but my modules are all in the project dir, is there any other reason?
**task execution**
[code]

**the exception**
[code]

[2018-11-01 22:52] #750 closed

[2018-11-02 03:10] tesla1984 commented on #750
@cwoodwar6 here is my project structure, i can't figure which file case the exception
![image](https://user-images.githubusercontent.com/995351/47891685-4ab70c80-de8f-11e8-97a1-4fb223b12408.png)

@runningcode here is my build.gradle
[code]
the `./buckw targets` logs
[code]

[2018-11-02 06:41] kageiit commented on #750
It's debug.keystore most likely. Move it to something like keystores/debug.keystore

This issue will be fixed in the next release of okbuck and you don't need to move the file anymore, but this should unblock you for now

[2018-11-02 07:51] tesla1984 commented on #750
yes, it's debug.keystore. thanks

[2018-11-07 09:15] tesla1984 opened #754 "cannot find symbol"
when i run `./buckw install`, it builds success, but raise 'cannot find symbol'

[code]
**error**
cannot find symbol: `Generated` and all the get method generated by lombok

**MyClassDatabase.java**
[code]
**buck-out/data/__str_debug_source__/com/room/MyClassDatabase_Impl.java**
[code]

and the build.gradle of module **data**
[code]

[2018-11-07 09:44] tesla1984 commented on #754
@kageiit thanks

[2018-11-07 09:44] #754 closed

[2018-11-07 09:57] tesla1984 commented on #754
@kageiit the method generated by `lombok` can not find. is the `lombok` does not support?

[2018-11-07 18:38] kxfang opened #755 "java.lang.IllegalArgumentException: Self-suppression not permitted"
When running our build the other day I ran into this error randomly. It went away after I cleaned and reran okbuck, but thought it was strange that this happened at all.

[code]

[2018-11-07 18:39] artem-zinnatullin commented on #755
Yeah, I specifically asked if `.okbuck` was deleted prior or while Buck was running, but @kxfang said no

Also, watchman is in place (buckw would detect the change)

Not sure how such state is possible 🤔

[2018-11-09 11:01] alexfdz opened #756 "android_instrumentation_apk and android_instrumentation_test rules generated only for `debug` build type"
The buck rules related to instrumentation tests are only generated for the `debug` build type.

### How to reproduce

[code]

Is there any way to choose what build types should be used to generate these rules?

[2018-11-09 11:36] kageiit commented on #756
as long as there is an androidTest build type with a valid manifest, it is picked up by okbuck

https://github.com/uber/okbuck/blob/6db1af3e07bbc70144090757847afc067c502e46/buildSrc/src/main/java/com/uber/okbuck/core/model/android/AndroidTarget.java#L488

[2018-11-09 13:29] alexfdz commented on #756
Thanks for your reply @kageiit.

Sorry I am missing something, in [okbuck/app/src](https://github.com/uber/okbuck/tree/master/app/src) there is only one `androidTest`, agnostic to any build type.

Why then the rule is only created for `debug`?

[2018-11-10 05:51] kageiit commented on #756
The query for manifest is made on the Android Gradle plugin dsl. The plugin defaults to debug for the sec/androidTest manifest

[2018-11-10 08:57] alexfdz commented on #756
That makes sense, thanks @kageiit!

[2018-11-10 16:00] alexfdz opened #758 "resource_union keeping the original package name"
related to #731

When are facing several issues upgrading from `okbuck:0.41.0` to `okbuck:0.42.0`, and probably are related to this issue.

We are in a scenario of an app with several 3rd party android libraries, and multiple combinations of build types and product flavors.

With the upgrade, we get lots of compilation errors in the android libraries of the style:

[code]
`_variable_name` is a str

[2018-11-10 16:03] alexfdz commented on #758
One workaround could be to declare an empty string for `resourceunionPackage` and check with `String#isEmpty` in [AndroidTarget#getPackage](https://github.com/uber/okbuck/blob/3e42015ff8083d14b921467cc9a9f930715dcaa6/buildSrc/src/main/java/com/uber/okbuck/core/model/android/AndroidTarget.java#L363)

[2018-11-11 10:13] alexfdz commented on #756
@kageiit I found it, the tests only can run against one build type.

https://developer.android.com/studio/build/gradle-tips#change-the-test-build-type

[2018-11-11 10:13] #756 closed

[2018-11-11 21:17] kageiit commented on #758
Can you provide a simple example of what you mean by

[code]

[2018-11-12 12:16] alexfdz commented on #758
We are in a scenario of an app and few modules (3rd party android libraries), where the modules have different package names:

- app (com.myapp)
  |- module-core (com.3rdparty.module.core)
  |- module-clientA (com.3rdparty.module.clientA)
  |- module-clientB (com.3rdparty.module.clientB)

Because there are dependencies between the modules (module-clientA -> module-core and module-clientB -> module

[2018-11-14 12:05] #598 closed

[2018-11-15 04:56] jbarr21 commented on #653
it seems that JARs are not getting jetified ([only enabled for AARs](https://github.com/uber/okbuck/blob/9046980741fd75319eef4f4ee251c5732b057f56/buildSrc/src/main/rocker/com/uber/okbuck/template/config/BuckDefs.rocker.raw#L319)?). i noticed that stylist and lumber still had dependencies on `android.support.annotations`

[2018-11-20 09:58] alexfdz commented on #758
@kageiit we would love some feedback about this problem and collaborate to find a solution

[2018-11-26 17:58] kageiit commented on #758
Commenting on the PR

[2018-11-29 02:58] kageiit commented on #758
Fixed by #759

[2018-11-29 02:58] #758 closed

[2018-11-29 18:36] raviagarwal7 opened #769 "Move all local okbuck jars to jcenter."
We want to be able to download buck okbuck local jar's like the rt-stub.jar, jettifier jar etc, from jcenter so it is easier to checkin the buck files rather than checking in the jars copied by okbuck.

[2018-12-07 08:02] fupingpenn opened #770 "generated intellij project kotlin extension issues"
I have a project mixing java and kotlin code, but it seems the generated intellij project cannot use kotlin extension features

![screen shot 2018-12-07 at 4 01 23 pm](https://user-images.githubusercontent.com/1879072/49635052-75215a00-fa39-11e8-8e88-4b48cab6b571.png)

[2018-12-18 20:44] vRallev opened #774 "Parcelize wrong error"
IntelliJ shows a wrong error when using the `@Parcelize` annotation. It doesn't understand that the Kotlin compiler will implement the `Parcelable` methods. The project compiles fine, but this error is confusing nonetheless.

I'm able to reproduce the issue with this project. After a fresh checkout I ran `./buckw project --skip-build` and opened the project in IntelliJ.

<img width="819" alt="scre

[2018-12-19 08:20] kageiit commented on #774
I think this is related to the recent jetifier change. We may have to fix the wrapper in okbuck to generate prebuilt_jar rules like we do with aars. cc @thalescm

[2018-12-28 22:05] raviagarwal7 commented on #769
not needed, these are small jars and can be just checked in.

[2018-12-28 22:05] #769 closed

[2018-12-31 05:33] hzsweers commented on #709
Bazel implementation: https://github.com/bazelbuild/rules_kotlin/pull/142

Note that the buck maintainers closed this as wontfix because they don't support kotlin: https://github.com/facebook/buck/issues/2029

[2019-01-02 13:55] #709 closed

[2019-01-02 14:09] raviagarwal7 opened #781 "Add GJF check on CI"

[2019-01-02 16:05] thalescm commented on #774
I've switched to `v0.44.0` (before jetifier changes landed) and this still happen. So I don't think they are related.
It seems to me like this is not related to okbuck at all.
@vRallev Can you please link to a sample project where this work (message not shown) and start failing (message shown) after creating the same project with `./buckw project`?

[2019-01-02 21:09] vRallev commented on #774
@thalescm It's possible that it never worked with okbuck. I created a new project and imported it in IntelliJ with Gradle. There I don't see the problem. With Buck I see the issue.

[2019-01-03 09:37] thalescm commented on #774
@vRallev Have you tried a pure buck project too? (not generated by okbuck)

[2019-01-03 15:17] vRallev commented on #774
No, I haven't. I only tried to setup the plugin in our OkBuck project.

[2019-01-03 17:24] vRallev commented on #774
I can't rule that out especially since the Kotlin - Buck integration isn't "ideal".

[2019-01-04 22:33] #570 closed

[2019-01-07 15:44] erawhctim commented on #614
@sangeetsuresh Are you actively working on this? I'm trying to figure out if I should rip out the minimal use of DataBinding in order to be able to use Buck/OkBuck

[2019-01-07 15:49] sangeetsuresh commented on #614
@erawhctim I am actively working on it. I am just figuring out how to implement that in buck.

[2019-01-08 00:51] mmdango opened #788 "Gradle forced to build with kotlin 1.3.0 after applying okbuck plugin"
Here are the logs.

[code]

[2019-01-08 03:34] ZacSweers opened #789 "[Lint] Lint should accept jars if they have LintRegistry service"
Right now it only accept aars and pulls the lint jars out of them

[2019-01-08 03:40] ZacSweers opened #790 "[Lint] Lint should read from new lintChecks configurations"
In Android projects, there is a `lintChecks` configuration for libraries that can be used to indicate lint checks that should be bundled with it

For non-android projects, lint projects can be applied via lint plugin (`com.android.lint` I think, will confirm) and denoting lints that should be applied via the same `lintChecks`

From a high level:
- Android project? `lintChecks` means bundle this li

[2019-01-08 03:41] hzsweers opened #791 "[Lint] Lint should not depend on compilation"
It runs on ASTs, so it can run in parallel to compilation.

As a potential followup, we can maybe look at making lint optionally run as an implicit concurrent action of building a src target

[2019-01-08 03:45] hzsweers commented on #791
It looks like this is partially done via removing `--classpath`, but is there anything else needed for regular genrule ordering? Per the internal ticket this seemed to not be done yet, but unsure where else to look

[2019-01-08 03:53] hzsweers commented on #790
One open question on this: can we move off of `buckLint` entirely? I need to check how android lint projects are supposed to declare lints that are in both local projects and should also run _on_ the consuming project (vs. just exporting them). It may be the case that the convention is to make these checks a `lintChecks` dependency of a shim intermediary project so it sits in its aar, but that see

[2019-01-08 04:33] kageiit commented on #790
buck does not create aars for cross project consumption and neither does gradle currently so we cannot use the approach you described

[2019-01-08 04:38] kageiit commented on #791
The issue is that buck puts the output of the target itself as part of the classpath which means it is still building the target when we dont want it to. We need to make a change to buck to allow a classpath_without_self kind of macro option to get it to do what we want

[2019-01-08 04:47] hzsweers commented on #790
Makes sense, can keep `buckLint` for now then. Can maybe consolidate names if lint does have a configuration for consuming local projects

[2019-01-08 04:55] hzsweers commented on #791
Is there an upstream bug we can link?

[2019-01-08 06:01] kageiit commented on #791
Dont think we made one. @raviagarwal7 was going to look into it at some point iirc

[2019-01-08 06:01] kageiit commented on #790
if there is one, we can consolidate

[2019-01-08 17:07] lavekush-t opened #792 "Downloading files at runtime is disabled"
Facing this issue while running `./buckw build <target>`

[code]

Using buck `com.uber:okbuck:0.46.1`
Android Studio `3.2.1`
buildToolVersion = `"28.0.3"`
target = `"android-28"`

also tried with
buildToolVersion = `"27.0.3"`
target = `"android-27"`
buck `com.uber:okbuck:0.40.1`.

and `offline` mode already disabled

[2019-01-08 18:47] kageiit commented on #792
@raviagarwal7 maybe we need to set a okbuck.buckconfig for `downloadInBuild = true` by default and turn it off if the behavior is disabled

[2019-01-08 19:43] #792 closed

[2019-01-08 20:46] kageiit commented on #792
Fix released in v0.46.2

[2019-01-09 00:15] kirillzh opened #795 "OkBuck doesn't generate instrumentation test target in 'com.android.library' module"
This issue is very similar to #609 except that my instrumentation tests are located in `com.android.library` module, not `com.android.application`. Normally that works just fine with Gradle but OkBuck doesn't seem to generate the instrumentation test target for some reason. I tried setting manifest file just like in #609 and setting test application ID in `build.gradle` but that didn't solve the p

[2019-01-10 22:40] kageiit commented on #795
This was added in https://github.com/uber/okbuck/pull/616 iirc by @thalescm

@thalescm can you comment if something changed?

[2019-01-15 16:24] erawhctim opened #797 "Error building (mvn artifact hash mismatch) after successful OkBuck setup"
I setup okbuck properly (to my knowledge) and now I'm getting a build error:
`Unable to download mvn:com.google.j2objc:j2objc-annotations:jar:1.1 (hashes do not match. Expected 2994a7eb78f2710bd3d3bfb639b2c94e219cedac0d4d084d516e78c16dddecf6, saw 40ceb7157feb263949e0f503fe5f71689333a621021aa20ce0d0acee3badaa0f)`

What does that mean?

build command: `./buckw build //app:bin_stagingDebug`

Looking

[2019-01-15 17:51] kageiit commented on #797
Which version of okbuck, gradle and android gradle plugin are you using?

[2019-01-15 19:30] erawhctim commented on #797
okbuck: 0.46.2
gradle: 4.7
gradle android plugin: 3.2.1

If I manually edit the SHA in `.okbuck/ext/com/google/j2objc/BUCK` to the hash that buck expects, the build succeeds - I don't yet know if that's ok or problematic for us, but it seems to solve my problem, so at this point I'm just more curious as to why it happened/where the discrepancy came from.

[2019-01-15 21:24] kageiit commented on #797
@raviagarwal7 has been looking at a similar issue in https://github.com/uber/okbuck/pull/796

This could be the same issue

[2019-01-15 21:53] thalescm commented on #788
Hi, @mmdango can you please provide an example project where this happens (or the modifications that should be done to this project to reproduce it)?
This way it will be easier to fix the issue.
Thanks!

[2019-01-15 22:39] erawhctim commented on #797
Good to know, thanks! I'm on Kotlin v1.3.10 as well, could very well be the same thing.

[2019-01-16 10:06] Blisse opened #798 "Kotlin home directory (Optional[/.okbuck/workspace/kotlin_home:kotlin_home]) specified in .buckconfig was not found."
I'm seeing the following errors in my logs after running `./buckw project`, which is preventing us from updating from OkBuck 0.45.3 to 0.46.0+.

[code]

The file in `.okbuck/config/okbuck.buckconfig` contains:

[code]

On 0.45.0, it was:

[code]

Any ideas on how to resolve this? We do not have the kotlin version configured for okbuck, e.g. not the lines below, but adding it doesn't change the err

[2019-01-16 16:10] kageiit commented on #798
This is fixed in https://github.com/uber/okbuck/pull/784 imo. Can you upgrade to 0.46.2 and try?

[2019-01-16 18:58] erawhctim commented on #797
@raviagarwal7 ok great - thanks so much!

[2019-01-16 19:30] Blisse commented on #798
Nothing appeared to change between 0.46.0 or 0.46.2 unfortunately.

[2019-01-16 19:35] kageiit commented on #798
@raviagarwal7 can you PTAL?

[2019-01-16 21:09] mmdango commented on #788
Can do, I'll try to get one by next week

[2019-01-16 21:13] thalescm commented on #788
Thanks!

[2019-01-17 10:34] raviagarwal7 commented on #798
please use buck version 91b30eb54128130f925c3d968619c5b59c888486 or older for latest okbuck to work. I am looking into fixing this on buck master as it was reverted in 01ae6e7c43d35a55118622d7ab91e087008e852f

[2019-01-18 21:06] raviagarwal7 commented on #797
Seems like this is probably a metadata caching issue b/w different gradle versions. We might want to wipe out the gradle cache completely in such scenario to make sure the gradle cache is consistent.

an example with `kotlin-allopen`

With existing gradle home
[code]

With a different gradle home
[code]

[2019-01-18 21:15] kageiit commented on #797
We should report this upstream to gradle potentially. wiping out cache is not a practical solution for all :)

[2019-01-23 22:16] ZacSweers opened #801 "OkBuck throws exception with Kotlin 1.3.20"
[code]

The said project doesn't use kapt or annotationProcessor

[code]

[2019-01-23 23:07] thalescm opened #803 "Add ruleType for okbuck_manifest .raw"
This will enable external users of okbuck to overrite that rule if needed

[2019-01-24 18:37] artem-zinnatullin commented on #801
lmao

we have this

[2019-01-25 01:07] mmdango commented on #788
@thalescm here's a repro: https://github.com/mmdango/okbuckkotlin130repro

[2019-01-26 08:32] #803 closed

[2019-01-29 06:03] thalescm commented on #788
@mmdango Okbuck depends on kt 1.3.0+ so jetifier works (sqldelight, for example, only have jetifier compatible libs with that kotlin version).
As the stacktrace from your demo project says:
[code]
**Runtime JAR files in the classpath have the version 1.2** (the version you wanted), but it's compiling with 1.3, you can pass as `freeCompilerArgs= ['-Werror', '-language-version', '1.2']` to specify t

[2019-01-30 00:58] mmdango commented on #788
@thalescm The `-language-version` and `1.2` flags seem to help (running into different errors now), so we'll go that route for now. But yeah, if I have time, I can check out if it's possibly just how gradle resolves plugins' dependencies.

Thanks for the tip! Feel free to close

[2019-02-03 18:03] raviagarwal7 opened #810 "Set default user.country to prevent it from mismatch in different laptops"
Set DEFAULT_JVM_OPTIONS=`-Duser.country=US -Duser.language=en` in gradlew to make sure `user.country` doesn't differ b/w machines
[code]

[2019-02-05 21:36] kurtisnelson opened #812 "Lint job is red"
Lint has been red on circleci for awhile:
[code]

[2019-02-06 11:06] Archinamon commented on #798
Hi! For the latest commit df5052037f04ae1a6afc7e393c904f6e316ae556 and OkBuck 0.46.5 same error occurs :(
Any workaround for this?

With the bundled buck binary I've got `ClassNotFoundException: gnu.trove.THashMap` starting kotlinc inside buck :(

[2019-02-07 00:41] mmdango commented on #798
Same boat here, latest buck does not work for me. We are on a fairly old version. Would love to update.

[2019-02-07 01:04] kageiit commented on #798
if you revert https://github.com/facebook/buck/commit/01ae6e7c43d35a55118622d7ab91e087008e852f on latest buck, you can still update

[2019-02-08 11:34] Archinamon commented on #798
I did revert and have built buck w/o 01ae6e7 commit.
Still have exception during kotlinc on my module:
[code]

Any points how to avoid it?

[2019-02-11 14:39] ZacSweers opened #813 "Support Kotlin plugin's api/implementation configurations"
Kotlin 1.3.11? brought it up to parity with the `java-library` plugin, but okbuck will still effectively treat all of these as `implementation` dependencies even if they're designated `api`. It should have feature parity and export `api` deps

[2019-02-12 00:46] kageiit commented on #813
Can you make a pr with a repro/example of the issue?

We currently have an example in okbuck repo - https://github.com/uber/okbuck/blob/master/libraries/kotlinandroidlibrary/build.gradle#L12

Consumed by another module - https://github.com/uber/okbuck/blob/master/app/build.gradle#L71

The generated buck file for app contains kotlin std lib in its dependency list as expected of an api dep

[2019-02-12 03:14] #812 closed

[2019-02-12 03:18] kageiit commented on #810
These are only in test vm arguments so they dont cause cache key issues. They can only cause noise if BUCK files are checked in

[2019-02-12 03:18] #810 closed

[2019-02-12 06:18] kageiit commented on #801
Im trying to switch us over to download kotlin compiler from github and hit an interesting issue - https://youtrack.jetbrains.com/issue/KT-29837

Suggestions welcome at this point, but im not willing to accept setting up a separate artifact mirror for the compiler zips ourselves

[2019-02-12 06:25] kageiit commented on #798
which version of kotlin are you on?

[2019-02-12 13:23] ZacSweers commented on #801
What does the gradle plugin do?

[2019-02-12 13:27] ZacSweers commented on #801
Specifically - I'd be surprised if consuming from github is the only way to make this work.

Context from our internal ticket details:

--------

Kotlin Compiler release zip contains all the artifacts that is needed by the compiler classpath. (https://github.com/JetBrains/kotlin/releases/download/v1.3.20/kotlin-compiler-1.3.20.zip)

This zip compiler setup is used by buck & a bunch of other compan

[2019-02-12 13:28] ZacSweers commented on #801
It seems to me like the real issue is more that buck is using this zip, when it maybe shouldn't?

[2019-02-12 15:39] kageiit commented on #801
Using the zip is the right solution because as we have seen with this issue

- Newer kotlin versions require new jars to be present in kotlin_home/lib when running kotlinc due to refactors/new dependencies in upstream kotlin code
- Using the zip would ensure all the necessary deps for every kotlin update are in sync and we dont have to guess which deps to supply and materialize on the filesystem
-

[2019-02-12 16:01] ZacSweers commented on #801
The kotlin gradle plugin must be able to deal with this in a way that plays nice with the gradle/maven ecosystem right?

[2019-02-12 16:09] kageiit commented on #801
Im not sure about how the gradle plugin does things. We are only interested in the cli compiler. The gradle plugin probably has additional plumbing. The cli has to rely on file paths etc. to find its deps

[2019-02-13 15:08] hi-dhl commented on #502
for AndroidStudio 3.0+,  mainMoudle has buildTypes and buildTypes as same as libModule  buildTypes and buildTypes  ,it would like:

mainModule

    buildTypes {
        release {
            buildConfigField "boolean", "LOG_DEBUG", "false"
            zipAlignEnabled true
            shrinkResources true
            minifyEnabled true
            proguardFiles 'proguard-rules.pro'
        }

[2019-02-13 16:05] kageiit commented on #801
I think I found a creative solution to the problem without needing to modify buck to switch it to the compiler zip artifact and to support future kotlin versions by keeping changes in okbuck only. I'll upload the pr today

I'll make a separate change to buck as a follow-up since it's better to have it for folks that don't use okbuck

[2019-02-13 19:28] #801 closed

[2019-02-13 19:29] kageiit opened #817 "Fix broken -Xfriend-paths after kotlin 1.3.20 upgrade"
See https://github.com/uber/okbuck/pull/802#issuecomment-463326871

[2019-02-13 19:31] kageiit commented on #798
This is fixed in #802

[2019-02-13 21:15] #691 closed

[2019-02-13 21:55] kageiit commented on #813
The issue is with usage of the api configuration without applying the java-library or any of the AGP plugins.

The mechanism to consume transitively, deps of  api configurations are implemented separately by both the java-library plugin from gradle and the various library plugins from AGP. The kotlin plugin only applies the java plugin and not the java-library plugin internally which is why you ar

[2019-02-13 21:55] #813 closed

[2019-02-13 22:02] ZacSweers commented on #813
The Kotlin plugin added API/implementation natively starting in 1.3.1x. Why would you need to then apply java-library on top of it? Also what does AGP have to do with java-library?

[2019-02-13 23:47] kageiit opened #819 "Add support to now resolve configurations fully during okbuck for smaller BUCK files"
Using some apis in gradle (https://docs.gradle.org/current/javadoc/org/gradle/api/artifacts/result/ResolutionResult.html), it is possible to just resolve the deps and now download all the dependencies during okbuck.

This can lead to more optimized BUCk files which support api/impl deps via exported_deps/deps and also reduce no. of files we need to download.

This will only work if all projects in

[2019-02-14 19:48] matthewrkula opened #820 "NullPointerException when running ./buckw targets"
I'm trying to use `okbuck` v0.47.0 but this error is preventing me from doing so. It looks similar to #690 but the null pointer is happening in `com.android.build.gradle.internal.api.BaseVariantImpl` not in this library itself which I've traced to [here](https://android.googlesource.com/platform/tools/base/+/studio-master-dev/build-system/gradle-core/src/main/java/com/android/build/gradle/internal

[2019-02-14 20:53] kageiit commented on #798
Fixed in v0.47.0

[2019-02-14 20:53] #798 closed

[2019-02-15 12:21] thalescm commented on #817
Apparently it should working wither by passing the directories with the classes, or by passing the archive, as [tested here](https://github.com/JetBrains/kotlin/blob/v1.3.20/compiler/tests/org/jetbrains/kotlin/cli/FriendPathsTest.kt).

Looking at the stacktrace, when reverting [this](https://github.com/uber/okbuck/pull/802/files#diff-2c2c5cba1a8a3ec4aab0fa722e1d0ad8L3) (so we get the error), and r

[2019-02-15 12:32] thalescm commented on #817
https://youtrack.jetbrains.com/issue/KT-29933

[2019-02-15 12:59] kageiit commented on #817
Good catch. Another option we have in buck is to expand the path ourselves in the buck kotlin rules

[2019-02-18 23:56] mmdango opened #822 "Okbuck fetches wrong androidx artifact id after forcedOkbuck play services library"
repro: https://github.com/mmdango/okbuckkotlin130repro/tree/michael--supportlibs

After enabling jetifier and androidx, then using `forcedOkbuck` on certain Play Services libraries, Okbuck fetches the incorrect androidx artifact ids.

[code]

Notice it is fetching `support-v4.aar` instead of `legacy-support-v4.aar`

[2019-02-19 18:05] kageiit commented on #820
Which version of android gradle plugin are you on? Okbuck supports upto max 3.2.0 only at the moment

[2019-02-19 18:13] kageiit commented on #822
This can happen since forcedOkbuck pulls in transitive dependencies and forces their versions as well. You can fix this behavior by changing how you force this dependency. You can mark the forcedOkbuck dependency as `transitive = false` or use
[code]

Both changes make your branch pass okbuck

[2019-02-19 18:13] #822 closed

[2019-02-23 01:49] Blisse commented on #798
Thanks! This was fixed by bumping to 47, cheers!

[2019-02-25 06:33] #817 closed

[2019-03-03 15:58] lavekush-t commented on #798
Again facing the similar issue in `0.47.2`

[code]

[2019-03-03 17:19] kageiit commented on #798
Have you tried https://github.com/uber/okbuck/issues/798#issuecomment-461251076 ?

[2019-03-06 01:09] alexjlockwood opened #825 "Resource merging does not appear to work properly"
I have a PR here that reproduces the issue: https://github.com/uber/okbuck/pull/826

Library `A` and `B` are both Android libraries, where `B` depends on `A`.

Library `A` defines a single string resource:

[code]

Since `B` depends on `A`, that means that `A`'s resources should be merged with `B`, and `B`, which means that the following should compile:

[code]

However, executing `./buckw build /

[2019-03-06 15:29] esafirm opened #827 "Does okbuck support dynamic feature?"
Here's the link
https://developer.android.com/studio/projects/dynamic-delivery

[2019-03-06 15:32] kageiit commented on #827
If this is about `apply plugin: 'com.android.dynamic-feature'`, then not yet.

[2019-03-14 19:29] kirillzh commented on #795
So we were able to upgrade to buck `b1cc9a6e691f1f177b7c64eb7f4983f05fcf014b` and okbuck `0.47.0` thanks to @Blisse, but I'm still not seeing instrumentation targets being generated. Also tried running instrumentation tests from `libraries/kotlinandroidlibrary` but it also doesn't seem to be generating instrumentation targets for this module.
[code]

[2019-03-14 19:39] thalescm commented on #795
The `//libraries/kotlinandroidlibrary:bin_debug_test` rule should be your instrumentation apk.
it is a normal `android_binary` rule and not an `android_instrumentation_apk` because the latter requires an `android_binary` rule as counterpart.
You can see an example is this repository (`libraries/kotlinandroidlibrary`) with how to setup.

[2019-03-14 19:41] thalescm commented on #795
And that means (I haven't tested this, but I'm almost positive) that you won't be able to run it with `./buckw test` and rather use adb instead.
If that work out for you, please close the issue :)

[2019-03-16 10:25] thalescm commented on #795
@kirillzh I'm closing the issue for now. Feel free to reopen it if you think the problem in okbuck remains

[2019-03-16 10:25] #795 closed

[2019-03-17 13:37] bangarharshit opened #828 "Support for multiDexEnabled in buildTypes"
Verified that `gradle` supports multidexEnabled in buildTypes as well.
[code]

`okbuck` is ignoring the same [code](https://github.com/uber/okbuck/blob/e70704434418705f467dded57bc5a15e8f48c80f/buildSrc/src/main/java/com/uber/okbuck/core/model/android/AndroidAppTarget.java#L55). We should add a check based on `getBaseVariant().getBuildType().getMultiDexEnabled()`.

[2019-03-18 15:27] kageiit commented on #828
Merged #829

[2019-03-18 15:27] #828 closed

[2019-03-20 23:24] TonyTangAndroid commented on #322
For anyone who is wondering the compilable code block to make it work without disabling the link check, please refer to this example

[code]
[26.3.2](https://mvnrepository.com/artifact/com.android.tools.lint/lint/26.3.2) is the latest version of `com.android.tools.lint`.

[2019-03-22 18:38] erawhctim commented on #798
@kageiit Apologies for the ignorance, but do you have some lightweight instructions on how to get this setup properly? I'm still seeing this issue on 0.47.1, and when I checkout okbuck master and attempt to revert that commit, it fails and says the commit ID is invalid.

[2019-03-25 14:47] kageiit commented on #798
I think all that is needed right now is to revert https://github.com/facebook/buck/commit/01ae6e7c43d35a55118622d7ab91e087008e852f

It should work with latest buck and okbuck by reverting that commit. What issue are you seeing

[2019-03-25 16:40] erawhctim commented on #798
I'm just unsure of how to go about doing that - do I need to clone buck locally and revert the commit there, and then tell my local copy of okbuck to use that copy of buck itself, and then build okbuck manually? Just trying to figure out to test this

[2019-03-25 17:06] kageiit commented on #798
Make a fork of buck on github, then use https://github.com/facebook/buck#prebuilt-buck-binaries to point at your fork by letting okbuck know via the extension https://github.com/uber/okbuck/wiki/OkBuck-options-and-examples

[code]

[2019-03-28 22:51] NickFirmani commented on #322
Hey folks, I think that this could use some more investigation, the two options to work around this right now are either disabling lint or forcing it to use a specific version, which then breaks `//...`

I've created a sample project here: https://github.com/NickFirmani/android-template/tree/f5ec67d14042159e907b1b9375e2bcecea88ac56 that reproduces this problem hermetically

[2019-03-28 22:55] NickFirmani opened #833 "Plugin Marker Artifacts aren't published"
Hi folks,

When trying to use the new fancy plugin DSL in Gradle, it can't find Okbuck's artifact, since it does not define a unique ID to pull the plugin from (even after specifying the correct repo in settings.gradle)

Reference: https://docs.gradle.org/current/userguide/plugins.html#sec:plugin_markers

[2019-03-29 00:06] kageiit commented on #833
okbuck needs to only go into the root project build.gradle. Can you use the non plugin dsl syntax for this? We dont have plans to ship a separate artifact for this as this plugin can be consumed without it

[2019-03-29 00:06] #833 closed

[2019-03-29 00:06] kageiit commented on #322
Thanks for providing a sample @NickFirmani . We will take a look

[2019-03-29 00:16] NickFirmani commented on #833
Yes, using the non-plugin DSL syntax is possible, just not as clean :'(

[2019-04-07 23:49] TonyTangAndroid commented on #653
I am trying to integrate okbuck into a comparatively complicated [project](https://github.com/TonyTangAndroid/android-base/tree/dev_buck) to get my hands dirty with okbuck. And I am running exception when command is executed `./buckw install //app:bin_debug --run` with the follow exception. I would say that I am running the same issue with this [one](https://stackoverflow.com/q/54345390/4068957) f

[2019-04-08 12:05] #653 closed

[2019-04-08 17:40] TonyTangAndroid commented on #653
I have resolved this issue by adding a jetifier block in root level build.gradle.  Please refer to the pull request [here]( https://github.com/TonyTangAndroid/HelloBuck/pull/6/files) that has fixed the AndroidX issue.

This is the whole code block related to okbuck.

[code]

[2019-04-08 18:24] thalescm commented on #653
@TonyTangAndroid If you put the value of `aarOnly` to false the issue arises again or still appears as fixed?

[2019-04-08 19:44] TonyTangAndroid commented on #653
If I set `aarOnly = false`, it will NOT work. If I set `aarOnly = true`, it will work.  This issue could be stably reproduced by toggling this flag.

[2019-04-09 08:04] thalescm commented on #653
Ok, tks. It's just that if setting to false would continue to not fail, the issue would be on okbuck. But as you described, it's not.

[2019-04-10 02:03] NickFirmani opened #834 "Dagger + Kapt cannot find Dagger.Generated annotation with default config"
When running with a very base Dagger setup, the `Generated` annotation is not found by Buck - perhaps related to https://github.com/google/dagger/issues/1449

Copying the same file into the host repo allows compilation to continue

I've prepared a simple project to reproduce this issue: https://github.com/NickFirmani/android-template/commit/fda3d1a5c95c769d835e318e97053f363fc31951#diff-c3e9e5b7d1a

[2019-04-10 02:11] NickFirmani opened #835 "Kotlin Dagger modules have issues with `internal` methods"
When using the correct style for Kotlin Dagger modules, like the following
[code]
Buck/Okbuck ends up with an error

[code]

I'm not quite sure how to proceed, so I've created a sample recreation project, https://github.com/NickFirmani/android-template/commit/ddc402486d53103d98e15b5c3dd19251c950874b

Removing the internal keyword allows compilation to succeed

[2019-04-10 19:23] kirillzh commented on #795
@thalescm, is it possible with pure Buck to set up android library (not app) and allow to run instrumentation tests on it? If yes, considering that Gradle supports it, that's the problem in OkBuck. Otherwise it would be Buck problem. Here's example of such Gradle module: https://github.com/googlesamples/android-testing-templates/blob/master/AndroidTestingBlueprint/module-android-library/src/androi

[2019-04-10 19:33] kirillzh commented on #795
Look what I found, @thalescm  😛
https://github.com/facebook/buck/issues/1692
So I assume it's a buck problem?

[2019-04-10 21:23] thalescm commented on #795
Yes, it is a buck problem :D
There is a way to overcome this, as I mentioned, and it exists in the repository at `libraries/kotlinandroidlibrary`.
If you run `./buckw build //libraries/kotlinandroidlibrary:bin_debug_test` the end result is a valid instrumentation apk. And the rule itself was generated by okbuck by recognising you have a test suit for your library.
what you **cannot** do is to have

[2019-04-12 23:21] kageiit commented on #835
Seems like an update to buck would be needed. What kotlin version are you on? We fixed some issues with internal modifiers recently

[2019-04-13 00:48] NickFirmani commented on #835
The issue is reproducible on both Kotlin 1.3.21 and 1.3.30

[2019-04-15 12:40] kageiit commented on #835
cc @thalescm

[2019-04-15 15:03] thalescm commented on #835
The problem is about using `@JvmStatic` with `internal`. Did you check it this exact same code compiles with gradle? Last time I checked it didn't

[2019-04-16 00:47] NickFirmani commented on #835
No, the same code compiles just fine with gradle

[2019-04-16 06:58] thalescm commented on #835
Yeah, you might wanna open the issue on buck itself. I'm closing it here for now, but let us know if when it's fixed in buck, it continues to fail due to okbuck only

[2019-04-16 06:58] #835 closed

[2019-04-16 14:22] kageiit commented on #834
cc @thalescm

[2019-04-18 07:59] YouCii commented on #2
如果是androidx用户, 可以这么写: `com.google.android.material.appbar.AppBarLayout$ScrollingViewBehavior`

[2019-04-18 11:04] ricoharisin opened #839 "Coroutines issue on runtime"
I'm trying to implement `coroutines` and okbuck can compile it with no problem.

but when i run the apps, it's crashed

    java.lang.IllegalStateException: Module with the Main dispatcher is missing. Add dependency providing the Main dispatcher, e.g. 'kotlinx-coroutines-android'
                                                                      at kotlinx.coroutines.internal.MissingMainCorouti

[2019-04-18 18:22] inez opened #840 "OkBuck is incompatible with AGP 3.4.0"
OkBuck in current version (0.47.1) is incompatible with AGP in version 3.4.0.
OkBuck contains call to `getNdkCompile` in `buildSrc/src/main/java/com/uber/okbuck/core/model/android/AndroidAppTarget.java`, but that method does not exist anymore on `com.android.build.gradle.api.BaseVariant`. Perhaps `getNdkCompileProvider()` should be used.

[2019-04-21 23:09] NickFirmani opened #842 "okbuck does not generate test targets unless roboelctric = true"
With
[code]

Results in
[code]

Setting that value to false or omitting that value results in
[code]

This is of interest for applications that do not use robolectric (for whatever reason). This is reproducible in https://github.com/NickFirmani/android-template

Thanks!

[2019-04-22 13:45] kageiit commented on #842
You can choose to use a different test runner even if `robolectric = true` and never use robolectric. To keep configuration simple, it was a deliberate decision to only support one kind of test rule composition for Android projects.

Buck's Android test rule just adds some system properties to the test jvm as to where robolectric jars, manifests are available etc. You can use any test runner and c

[2019-05-06 18:49] #842 closed

[2019-05-06 18:49] kageiit commented on #839
Can you provide a small repro case/project?

[2019-05-15 08:09] ricoharisin commented on #839
Thank you for your response, i have made sample project with coroutines

https://github.com/ricoharisin/coroutines-sample

at first, i thought it was related to this issue https://github.com/facebook/buck/issues/1897 but turned out it's not the case because generated META-INF exist in  jar

[2019-05-15 08:35] ricoharisin commented on #839
after inspecting the apk, i found at that generated apk not including META-INF/services file from coroutines android lib

[2019-05-24 20:53] Blisse opened #847 "Kotlin 1.3.31 support"
We're trying to update to Kotlin 1.3.31 with OkBuck 0.47.1 and Buck v2019.05.22.01, but we're getting an error saying that the Jetbrain's NotNull annotation can't be found. I think Buck supports 1.3.31 since I see some commits on the Buck repo talking about Kotlin 1.3.30+, so I'm thinking this might be OkBuck related, specifically https://github.com/uber/okbuck/issues/798 which reverted some of th

[2019-05-26 08:15] rifqimfahmi commented on #847
I still have the problem

[code]

[2019-05-27 14:36] rifqimfahmi commented on #840
any follow up for this yet? I believe I am also having a similar problem.

[code]

[2019-05-28 14:14] carlonzo commented on #614
I am currently actively working on it. I have successfully built a demo project using a modified version of the generated BUCK file from okbuck.

basically I have:
- run the CLI tool mentioned above
- added the generated source code and resources to the source sets of the project
- enabled the annotation processor
- build

it was actually pretty easy. I'm now working on understanding what is the b

[2019-05-28 15:10] kageiit commented on #847
cc @thalescm

[2019-05-28 18:31] inez commented on #840
@rifqimfahmi As a workaround you might want to fork and apply patch similar to this: https://github.com/uber/okbuck/pull/841/commits/ce5f97fa5d28e00c1fb3ea8f045a4ccf2b8531b3

[2019-05-30 08:16] jichre opened #850 "Why unpack arr package and check xml errror?"
I build my project with androidx, was there any one kown this?
[code]

[2019-05-30 14:59] kageiit commented on #850
This looks like an issue in buck itself. Please open a ticket on their bug tracker

[2019-05-30 14:59] #850 closed

[2019-06-01 19:55] Blisse commented on #847
Seems like w/ OkBuck 0.48.1 I can build non-exo!, but exo fails.

I've tried a variety of changes un-reverting the commit from #798 to no success with OkBuck.

[code]

[2019-06-03 14:48] sangeetsuresh commented on #614
@carlonzo Can you put that code in some repo so that I could also go through that. It will be helpful for me as I am also looking for implementing data binding for buck

[2019-06-03 21:34] carlonzo commented on #614
Sure. I have it on a private repo until I cleanup the experiments, the I will publish

[2019-06-04 12:49] omegasoft7 commented on #840
I have the same issue! When I downgraded `3.2.1` i is working just fine now.

[2019-06-05 18:29] adellhk opened #853 "Local dependencies should be under project root. Dependencies outside the project can cause hard to reproduce builds."
@kageiit okbuck [disallows](https://github.com/uber/okbuck/pull/288) depending on a local dependency (in this case Jvm's `tools.jar`, `Jvm.current().getToolsJar()`). We want to add tools.jar to our classpath since Google's compile-testing library relies on `TreeScanner` https://github.com/google/compile-testing/issues/28#issuecomment-69204681.

Is there a better alternative than copying `tools.jar

[2019-06-06 02:41] kageiit commented on #853
you can publish to maven local or upload to some artifact server like jcenter/jitpack

[2019-06-06 05:12] adellhk commented on #853
Yes, this is what we ended up doing. It feels a little circuitous, but overall reasonable.

[2019-06-06 05:12] #853 closed

[2019-06-06 13:36] carlonzo commented on #614
You can check https://github.com/carlonzo/BuckDatabindingDemo

the most important part is the file `databinder.sh` to run before, then start the compilation with `buck build bin_devDebug` . do not use okbuck as it will override the BUCK files.
I'm currently trying to write few genrule rules to remove the `databinder.sh` file.

@kageiit I have few issues when I try to hookup the output of a genrule

[2019-06-06 14:03] carlonzo commented on #614
@sangeetsuresh  Actually I've finally debugged and fixed the issue with `android_library` (I need to pass the generated java files as a zip to the `srcs` list) this is the BUCK file with the rules: https://github.com/carlonzo/BuckDatabindingDemo/blob/buck-rules/app/BUCK

I will try now to cleanup (sorry @kageiit to bother, but as I'm a newbie can you have a look at the BUCK file above to see if yo

[2019-06-06 15:18] kageiit commented on #614
`.src.zip` is the way to go. Ill take a look at the buck files this week

[2019-06-22 15:56] carlonzo commented on #614
@kageiit did you have some time to have a look?
mostly to check if there is any mistake (this my first time I use BUCK), and if you have any tips how I can avoid absolute paths in in `extra_arguments` in `src_devDebug` rule and in the `genrule`s. Any suggestion is welcome :)

[2019-06-22 16:03] kageiit commented on #614
cc @raviagarwal7 ^ can help take a look as i will be on vacation for a bit

[2019-06-25 16:26] zach-klippenstein commented on #847
This seems to be blocking 1.3.40 as well.

[2019-06-28 17:14] rifqimfahmi commented on #839
@kageiit I am also facing the same problem like @ricoharisin. when i inspect the `coroutinescope.launch` method on Builders.common.kt file, it somehow detect the CoroutineContext as instance of `MissingMainCoroutineDispatcher` class instead of `HandlerContext` when i install it with okbuck. On the other hand, installing it with gradle work as expected. I provide the screenshots of the debugging be

[2019-07-01 10:18] ricoharisin commented on #839
as @rifqimfahmi said, the main problem is generated service files from coroutines is not included in the final APK

after check the buck source code, it seems the `ApkBuilder` deliberately strip `META-INF` directory

for now i able to make it works by using dirty workaround using `apk_genrule` and add it in application `BUCK` file

    apk_genrule(
      name = 'bin_debug_mod',
      srcs = ['debu

[2019-07-04 08:43] rifqimfahmi commented on #839
This was fixed on [facebook/buck#2291](https://github.com/facebook/buck/pull/2291)

[2019-07-08 22:45] NickFirmani opened #859 "OkBuck fails to download/compile dependencies with repackaged jars"
The AndroidX Emoji library (as well as Room, and others) define a repackaged jar dependency by doing the following in [their](https://android.googlesource.com/platform/frameworks/support/+/androidx-master-dev/emoji/core/build.gradle#20) Gradle build script
[code]

With `downloadInBuck = true`, this causes a failure after OkBuck runs with the following exception (since this target doesn't exist)
[c

[2019-07-20 15:21] carlonzo commented on #614
hi @raviagarwal7 can you let me know if you can take a look about the above? I want to start writing a PR to implement the data binding but I am stuck with few doubts. many thanks!
cc @kageiit

[2019-07-21 21:40] fangzhzh commented on #798
it's reproduced in

    classpath 'com.uber:okbuck:0.48.4'
    ext.kotlin_version = '1.3.41'
    ext.kotlin_coroutine_version = '1.2.1'

[2019-07-23 00:56] artem-zinnatullin opened #861 "resolutionAction LATEST fails resolving androidx.test.services:test-services"
When following configuration is applied:

[code]

It seems that OkBuck tries to resolve the artifact (jar/aar) of `androidx.test.services:test-services:1.1.1` because it's a `runtime` dependency of `androidx.test:orchestrator:1.1.1;runtime`

However `androidx.test.services:test-services:1.1.1` only has `.pom` and `.apk` (!) published on `maven.google.com`

OkBuck ends up crashing with:

[code]

[2019-08-01 09:38] binaryroot opened #864 "OkBuck fails - okbuck_jetifier_deps"
Trying to integrate okbuck. However, it fails during

`
 ./buckw install //app:bin_debug --run
`

Build Gradle

`
apply plugin: 'com.uber.okbuck'
okbuck {
    buildToolVersion = "28.0.3"
    lint {
        disabled = true
    }
    externalDependencies {
        downloadInBuck = false
    }
    jetifier {
        aarOnly = true
    }
}
`

Also added these two properties

`android.useAndroidX=true`

[2019-08-08 02:48] JDDJJ opened #865 "No target found for project"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':calendarlibrary:okbuck'.

####
when i run command './buckw targets //... '  ,show this error
this library is compile as this 'implementation project(':AndroidExLibrary')'

[2019-08-09 03:55] stargt commented on #322
i've encountered same problem.

[code]

How can I solve it?

[2019-08-09 08:43] JDDJJ opened #866 "does okbuck support Navigation of jetpack"
https://developer.android.google.cn/guide/navigation/

[2019-08-09 16:20] rifqimfahmi opened #868 "Cannot build kotlin-app:bin_debug"
Newly cloned OkBuck (v0.48.6) shows error when building `kotlin-app:bin_debug` target:
[code]

Is this related to this issue https://github.com/uber/okbuck/issues/798? Because I just newly clone the OkBuck (v0.48.6) then run the buck wrapper and build `kotlin-app:bin_debug`, or is this expected?

STR:
- git clone OkBuck
- run `./gradlew :buckWrapper`
- run `./buckw clean`
- run `./buckw build kotl

[2019-08-10 07:27] JDDJJ opened #869 "does this support the GreenDao"

[2019-08-19 03:41] rifqimfahmi commented on #868
solved by using this buck binary:
[code]

[2019-08-19 03:41] #868 closed

[2019-08-25 19:28] carlonzo commented on #614
hi @kageiit @raviagarwal7  I would like to continue the development as I believe we are not far from having a solution on okbuck to have databinding working.

As mentioned above the only issue that I believe needs to be solved are the absolute paths in the `okbuck_android_module` rule which point to the generated files from the `genrule`s. do you have any tip to fix that? is there any way I can ad

[2019-08-26 08:40] raviagarwal7 commented on #614
[code]

You can instead do
[code]
more info on location macro - https://buck.build/function/string_parameter_macros.html#content

[2019-08-26 19:46] carlonzo commented on #614
Hi @raviagarwal7 , thanks for that. I can read that those macros only apply to `genrule`, `apk_genrule`, `cxx_genrule`

but my problem is mostly with the arguments in the `extra_arguments` in the `okbuck_android_module` (which I believe is an alias for the `android_library` rule). anything that help me there?

[2019-08-27 23:19] anoopc1 opened #872 "Missing runtime dependencies of external modules with Gradle 5.0+"
### **App Crashes with runtime exception**:
[code]

**I suspect this issue is related to following change in `gradle` behavior starting version `5.0+`**:
- `Gradle-Issue-977`: [Separate compile and runtime dependencies of external modules](https://github.com/gradle/gradle/issues/977)

With older gradle versions, runtime dependencies of external modules (declared with `<scope>` `runtime` in pom-fil

[2019-08-28 05:01] anoopc1 opened #873 "okbuck fails with Gradle 5.1.1+ (Could not create symlink: FileAlreadyExistsException)"
### Exception Details ([complete-stack-trace](https://gist.github.com/anoopc1/0f728f696f117f3058ae1b3dbc959b83))
[code]

### Setup:
okbuck: `0.48.7`
AGP: `3.3.2`
Gradle: `5.1.1`

**okbuck external dependency configuration:**
[code]

**`moduleA/build.gradle`**
[code]

**Steps to reproduce:**
`.\buckw root`

[2019-08-29 06:59] NikhilBhadouria opened #875 "Dexguard 8.5.01 is Causing ANR"
I have implemented Dexguard in my android app on Kotlin and Android X, with "dexguard-debug.pro" it works perfectly fine but with "dexguard-release.pro" app doesn't starts. Goes to ANR because of Services , Third party services , or Broadcast Reciever etc...  even tried with adding "-keep class [packages of files that is causing ANR]" , but it didnt helped , Can anyone help

[2019-09-26 08:50] KamalNishad opened #880 "Troube"
Cannot fit requested classes in a single dex file (# methods: 109745 > 65536) |  
-- | --

com.android.tools.r8.CompilationFailedException: Compilation failed to complete |  
-- | --
Caused by: com.android.tools.r8.CompilationFailedException: Compilation failed to complete

com.android.tools.r8.utils.AbortException: Error: null, Cannot fit requested classes in a single dex file (# methods: 109745

[2019-10-11 03:22] msridhar opened #883 "Can't figure out how to use okbuck with autovalue on a Java project"
Example:

https://github.com/msridhar/okbuck-ep-test/tree/autovalue

Clone the repo and check out the `autovalue` branch.  If you run `./gradlew :module:compileJava`, things run fine.  But if you try to run `./gradlew :module:okbuck -Dokbuck.wrapper=true` you get an error:
[code]

I tried copying over the config from the [v0.48.2 release notes](https://github.com/uber/okbuck/releases/tag/v0.48.2)

[2019-10-16 00:52] msridhar commented on #883
@kageiit @raviagarwal7 gentle ping

[2019-10-16 08:49] raviagarwal7 commented on #883
you would need to add auto value configuration as well since auto value is being used alone in the project.

[code]

[2019-10-16 17:19] msridhar commented on #883
Update: when I copy exactly the the config from @raviagarwal7's comment then it works!  It would be cool if this were documented somewhere on the wiki, though.  Also I'm still not sure why my version didn't work.

[2019-10-16 18:02] msridhar commented on #883
My issue is solved, but I'm leaving this issue open for better docs

[2019-10-17 07:50] arnavzoman commented on #840
When will this be part of a released version of OkBuck ?

[2019-10-24 09:46] lavekush-t opened #885 "OKBuck is failling with akamai lib (Working fine with studio)"
1. Studio version = 3.5.1
2. buck version = 0.41.1
3. gradleWrapper version = 5.4.1

[code]

[2019-10-25 14:04] kageiit commented on #885
This is not an okbuck failure. Its a failure in buck build. This usually means you have two jars/aars that define `com.akamai.botman.CYFMonitor`. Try to look for `CYFMonitor` in `buck-out/**/*.txt` to find the culprits for the duplicates

[2019-11-05 13:12] starfire-lzd opened #887 "multiple dependencies problem"
when i use this plugin it create the script with multiple dependencies while create
some rule to download the dependencies so when I run the ./buckw build //.. it will be error. and when I use android kapt androidx.room:room-compiler ,the init while be error

[2019-11-05 13:14] starfire-lzd commented on #887
* What went wrong:
Execution failed for task ':***:okbuck'.

[2019-11-05 13:16] starfire-lzd commented on #887
okbuck_prebuilt(
    name = 'push_3rd_huawei-1.0.0.jar',
    maven_coords = '**',
    sha256 = '**',
    sources_sha256 = '**',
)

okbuck_prebuilt(
    name = 'push_3rd_huawei-1.0.0.jar',
    maven_coords = '**',
    sha256 = '**',
    sources_sha256 = '**',
)

[2019-11-07 07:01] starfire-lzd opened #888 "build error"
when I use the okbuck to build my gradle project ,it tell me can't fund the kotlin_kome in .buckconfig

[2019-11-07 07:52] starfire-lzd commented on #888
the log:

Kotlin home directory (Optional[/.okbuck/workspace/kotlin_home:kotlin_home]) specified in .buckconfig was not found.
    When creating rules for //libraries/kotlinandroidlibrary:src_debug#class-abi.
    When creating rules for //libraries/kotlinandroidlibrary:src_debug.

[2019-11-11 17:10] tyvsmith commented on #614
extra_kotlinc_arguments seems to reference by relative path, that may be a pattern to follow if `location` won't work.

Example:
[code]

[2019-11-11 18:35] carlonzo commented on #614
Thanks for the tip man. I'll have a look how it works!

[2019-11-12 09:20] ignindra commented on #885
@lavekush-t, as a temporary solution, you can also delete either the `jar` or `aar` that you don't need manually, by replacing it in all of generated `BUCK` file (`BUCK` is the name of the file) when the error occurs.
If you're using any kind of IDE/text editor with file filtering functionality, you could also use that to find and replace all of the unneeded jars/aars all at once.

Apparently the

[2019-12-17 13:47] tobrun commented on #840
Any updates on this?

[2020-01-11 17:21] rifqimfahmi opened #896 ":okbuck: failing to detect correct autoValueExtensions for module's first level annotation processor deps"
I add latest version of room to my Android Kotlin project, using `kapt` like this throws an error:
[code]
but it works fine using `annotationProcessor`:

[code]

The error stacktrace:
[code]

### How to reproduce
I provide simple example using the `kotlin-app` app:
- checkout from this branch https://github.com/rifqimfahmi/okbuck-1/tree/experimental/rifqimfahmi/repro_kapt_error_okbuck_task
- run `

[2020-01-14 16:46] thalescm commented on #896
So on [0.48.2](https://github.com/uber/okbuck/releases/tag/v0.48.2) we introduced a breaking change where we `autoValue extensions need to pre predefined so that okbuck can work without having to infer auto value dependencies & its extensions`.

To do that we [find all jars containing "META-INF/services/com.google.auto.value.extension.AutoValueExtension" file](https://github.com/uber/okbuck/blob/m

[2020-01-14 16:48] thalescm commented on #896
cc @raviagarwal7

[2020-01-15 11:24] ignindra commented on #896
@rifqimfahmi , this method works for me.

https://github.com/uber/okbuck/issues/883

[2020-01-19 05:24] LNeway commented on #820
I have the same issue and my gradle plugin version is 3.1.3

the following is the exception log
`Caused by: java.lang.NullPointerException
        at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:877)
        at com.uber.okbuck.core.dependency.DependencyCache.build(DependencyCache.java:182)
        at com.uber.okbuck.core.dependency.DependencyCache.<init>(DependencyCache.jav

[2020-01-19 08:25] LNeway commented on #673
still have this issue on 0.50.1

[2020-01-19 10:46] ilya-shknaj commented on #840
Issue still reproducing with latest 3.5.3 gradle plugin

[2020-02-06 20:37] mochadwi commented on #614
Keep up the good works @carlonzo

[2020-02-24 22:29] stevenovack commented on #840
I'm hitting the same problem.

[2020-03-26 11:14] s1rius commented on #840
@kageiit Sorry to bother you, this issue is still reproducing with latest 3.6.1 gradle plugin

[2020-04-05 14:04] proytx commented on #614
I am new to buck - trying to understand how this databinding implementation is working, apologies if this is a basic question. How exactly  are the PROCESS and GEN_BASE_CLASSES handled by android-data-binding-exec-3.4.0.jar  - are those strings? When I look at the code here [CLI](https://android.googlesource.com/platform/frameworks/data-binding/+/gradle_3.0.0/exec/src/main/java/android/databinding

[2020-04-09 11:00] leleliu008 opened #906 "does plan to support Gradle Kotlin DSL?"
does plan to support `Gradle Kotlin DSL`?

[2020-04-09 14:11] #906 closed

[2020-04-09 14:56] leleliu008 opened #907 "OkBuck is incompatible with Android Gradle Plugin 3.4.0+ (include 3.4.0)"
Android Gradle Plugin 3.4.0+ output:
[code]

Android Gradle Plugin 3.3.2 output:
[code]

okbuck version is 0.50.7

[2020-04-10 02:21] leleliu008 commented on #868
Okbuck version is `0.50.7`

buck : ./.okbuck/workspace/buck_binary/`buck-f6578801138a7b6b89d4a485dd2d0c740fdefe8a.pex`

**reproduced**

[2020-04-10 06:22] #790 closed

[2020-05-12 22:50] kurtisnelson opened #909 "Support Bill of Materials"
We should support `implementation project("bom-id")` as firebase (and maybe kotlin) is moving that way.

https://firebase.google.com/docs/android/setup#firebase-bom

[2020-05-13 15:32] kageiit commented on #909
Boms should already be supported. Are you seeing any issues?

[2020-07-01 09:43] carlonzo commented on #614
sorry @proytx I may have missed your message. you were looking at an old branch of databinding. I would suggest to look at [here](https://android.googlesource.com/platform/frameworks/data-binding/+/refs/heads/mirror-goog-studio-master-dev/exec/src/main/java/android/databinding)
about your question, the arguments are listed in the 2 options files [here](https://android.googlesource.com/platform/fra

[2020-07-01 10:14] carlonzo commented on #907
duplicated of https://github.com/uber/okbuck/issues/840

[2020-07-01 16:53] kageiit commented on #907
duplicate of #840

[2020-07-01 16:53] #907 closed

[2020-07-12 11:21] vanniktech commented on #378
The 'original' Crashlytics itself is deprecated nowadays.

[2020-07-12 11:21] #378 closed

[2020-07-14 09:49] onlybenyang commented on #840
this issue is still reproducing with latest 3.6.1 gradle plugin

[2020-07-14 14:57] ilya-shknaj commented on #840
I can't understand, okbuck is a gradle plugin for android. Why it's not compatible with the latest android gradle plugin for almost the year? Okbuck developers using some deprecated Android Studio and don't update it for ages?

[2020-07-14 16:08] raviagarwal7 commented on #840
Hi Ilya, OkBuck is a gradle plugin used to generate build files for Buck after which you can use buck for building.
It uses gradle & android-gradle-plugin api's to resolve the build graph and translate that into the buck rules. Unfortunately, the latest version of android-gradle-plugin is not behaving correctly where the build graph resolution now takes more than 15 mins to run (as opposed to few

[2020-07-14 16:54] #909 closed

[2020-07-14 16:55] kageiit commented on #896
See #883 for resolving

[2020-07-14 16:55] #896 closed

[2020-07-14 16:55] #305 closed

[2020-07-14 17:14] kageiit commented on #322
Should be fixed in latest version

[2020-07-14 17:14] #322 closed

[2020-07-14 17:55] Zhuinden commented on #305
I wonder if OkBuck works with google/dagger Hilt.

[2020-07-15 01:14] onlybenyang commented on #840
hi raviagarwal7, I found a merge from anoopc--fix-agp3.4-api-deprecations to airbnb-current, which update grade plugin to 3.4.2. It's better than 3.2.0.

[2020-07-15 03:13] kurtisnelson opened #912 "Support Proguard 7"
The artifact path for Proguard is hard-coded. With Proguard 7, they moved it to `com.guardsquare`. We should first check for the new version in ProguardUtils and use it if present.

[2020-07-15 18:43] #912 closed

[2020-07-16 16:46] #840 closed

[2020-07-16 16:47] #885 closed

[2020-07-17 00:08] kageiit commented on #611
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:08] #611 closed

[2020-07-17 00:11] kageiit commented on #740
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:11] #740 closed

[2020-07-17 00:11] kageiit commented on #746
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:11] #746 closed

[2020-07-17 00:12] kageiit commented on #789
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:12] #789 closed

[2020-07-17 00:12] kageiit commented on #797
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:12] #797 closed

[2020-07-17 00:13] kageiit commented on #819
This is supported now

[2020-07-17 00:13] #819 closed

[2020-07-17 00:13] kageiit commented on #820
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:13] #820 closed

[2020-07-17 00:13] kageiit commented on #825
This should be opened against buck upstream.

[2020-07-17 00:13] #825 closed

[2020-07-17 00:14] #839 closed

[2020-07-17 00:15] kageiit commented on #847
We are now on Kotlin 1.3.72

[2020-07-17 00:15] #847 closed

[2020-07-17 00:15] kageiit commented on #859
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:15] #859 closed

[2020-07-17 00:23] kageiit commented on #880
You should enable multidex on your app

[2020-07-17 00:23] #880 closed

[2020-07-17 00:24] kageiit commented on #887
Seems like gradle was not able to download and set sources correctly. This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:24] #887 closed

[2020-07-17 00:24] kageiit commented on #875
This issue is not related to okbuck

[2020-07-17 00:24] #875 closed

[2020-07-17 00:25] kageiit commented on #873
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:25] #873 closed

[2020-07-17 00:26] kageiit commented on #869
See the examples of sqldelight plugin in the example projects and use that to wire up greendao

[2020-07-17 00:26] #869 closed

[2020-07-17 00:27] kageiit commented on #872
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:27] #872 closed

[2020-07-17 00:28] kageiit commented on #864
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:28] #864 closed

[2020-07-17 00:41] kageiit commented on #866
Dont think it does currently

[2020-07-17 00:41] #866 closed

[2020-07-17 00:41] kageiit commented on #865
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:41] #865 closed

[2020-07-17 00:41] kageiit commented on #888
This should not longer be an issue with the latest okbuck. Please re-open if it happens on latest

[2020-07-17 00:41] #888 closed

[2020-07-17 00:43] kageiit commented on #883
@raviagarwal7 can you please copy over text from https://github.com/uber/okbuck/pull/844 to the wiki as you see fit and close this?

[2020-07-30 21:44] mochadwi commented on #827
Any milestone to support DFM?

[2020-07-31 05:42] mochadwi commented on #305
Willing to know that if OkBuck also supports Hilt

[2020-07-31 06:19] kageiit commented on #305
Please open a separate issue for Hilt as it is not relevant to Realm. if the question is about the gradle plugin that does bytecode transformation, it is not directly supported. It is however possible to add that support similar to how okbuck supports jarinfer as that is a byteode transformation as well. It is possible to use hilt without the gradle plugin that supports bytecode transformation - h

[2020-07-31 12:33] Zhuinden commented on #305
Hilt relies on the Gradle bytecode transform api

[2020-07-31 18:32] kageiit commented on #305
hilt transforms post compile instead of pre proguard/dex/apk steps so its lot easier to add support for it

[2020-08-05 01:29] kurtisnelson opened #925 "Cleanup proguard in generated dependencies"
In buck, the proguard-gradle dependency is unused. Additionally, OkBuck internally pins to a version of proguard instead of allowing the consumer to specify it.

[2020-08-05 10:03] raviagarwal7 commented on #925
@kurtisnelson could you give an example?

Do you mean the proguard-gradle dependency generated in `.buckconfig` is not used?

Also proguard artifact version is looked up in the classpath https://github.com/uber/okbuck/blob/master/buildSrc/src/main/java/com/uber/okbuck/core/util/ProguardUtil.java#L24

Do we want the ability to specify a specific proguard version instead of auto lookup from the clas

[2020-08-05 13:42] kageiit commented on #925
I think the issue is two fold.

- We don't need the proguard-gradle artifact
- we can allow an override of the proguard jar target and set the default like we do today

[2020-08-10 15:00] alekseevpg opened #926 "Why BUCK http cache repo is deprecated?"
Do you know if there is any particular reason why this project is deprecated now?

https://github.com/uber/buck-http-cache

It's the only place i could find related to this topic enough to ask this question :)

[2020-08-10 17:01] kageiit commented on #926
It is no longer being maintained. Feel free to fork if you would like to continue evolving it.

[2020-08-10 17:01] #926 closed

[2020-09-06 21:01] ilya-shknaj opened #927 ".buckconfig has lower priority than .okbuck/config/okbuck.buckconfig"
Okbuck plugin **0.51.2**

The issue is that default **kotlin_home** path isn't valid for me. I suppose not only for me, because of **.okbuck/workspace/koltin_home** is always contained only a single BUCK file

I change **kotlin_home** in it **.buckconfig** to a valid one, but these changes are ignoring by okbuck. Only if remove **kotlin_home** from **.okbuck/config/okbuck.buckconfig** it read valu

[2020-11-04 06:08] FightJames opened #928 "Can't set JVM-target in okbuck which need to compile on jvm 1.8."
At buck documentation. Need to set jvm-target at BUCK file. But can't modify BUCK file when using okbuck.
https://buck.build/rule/kotlin_library.html
![image](https://user-images.githubusercontent.com/24725249/98075014-8cc42000-1ea6-11eb-8dc2-08fe3b3071f7.png)

Here is error message.
[code]
BUCK file generated by okbuck.
[code]

[2020-11-09 07:06] raviagarwal7 commented on #927
This should resolve the issue: https://github.com/uber/okbuck/pull/929/files (will require rerunning buckwrapper task).

Meanwhile you can fix the error by manually updating buckw similar to as it is done in the above pr.

[2020-11-10 11:41] #927 closed

[2020-11-12 21:06] tyvsmith opened #930 "[Feature request] Support preserving files in external dependency cache"
Allow OKBuck to preserve whitelisted files within the dependency cache to preserve metadata ownership and visibility on a granular level for multi-app and multi-team repos.

[2020-11-23 20:27] tinder-brunokongawi commented on #38
Is there any update or progress on this?

[2021-02-09 15:07] J3j3m opened #939 "Is React-Native supported"
Hi,

I'm trying to setup OkBuck with a react-native project but i'm facing a problem :

In the build.gradle file, I have maven url like this :

`
maven {
 url("${rootDir}/../node_modules/react-native/android");
}
`

Then when I'm running OkBuck to generate Buckfiles, the generation looks like this for this URL :

`
"//.okbuck/ext/com/facebook/react:react-native-0.63.4.aar"
`

And it try to downloa

[2021-03-15 23:24] kageiit commented on #472
This is unlikely to be supported

[2021-03-15 23:24] #472 closed

[2021-03-30 12:27] FAIZFREADY opened #944 "https://github.com/namiml/nami-apple/issues/4"
https://www.github.com/jmslau/perf-android-large/tree/gradle/.buckversionhttps://www.github.com/jmslau/perf-android-large/tree/gradle/preprice%2Fbuild.gradlehttps://www.github.com/jmslau/perf-android-large/tree/gradle/.buckjavaargs

[2021-03-31 18:14] #944 closed

[2021-04-23 21:52] dbworku opened #945 "[Question] How to debug missing autoValueConfigurations?"
Is there some sort of debugging flag that I can add to better understand why my okbuck tasks are failing with `autoValueConfigurations should be present if adding autoValue dependencies`?

I believe that I've predefined the autovalue extensions in `okbuck` to match the reported failure. Obviously, I'm missing something subtle that the failure message doesn't highlight.

### Gradle file setup

Here

[2021-10-22 05:52] HysonHou opened #952 "My project is kotlin 1.3.50+ java, config okbuck plugin test build not faster"
Is I need to update my kt-version, or do other config for my project?
and I want know okbuck is only support MacOs?

[2021-11-22 02:13] ronnie-o-sullivan opened #954 "The version 0.52.4 can't be found"
There is "classpath 'com.uber:okbuck:0.52.4'" in README doc，but the version 0.52.4 can't be found.

[2021-11-23 07:45] ronnie-o-sullivan commented on #954
Can you publish a new version base on latest code ?

[2021-12-01 21:43] jbduncan commented on #954
I'm experiencing this too. Here's the error I get:

[code]

Here is a minimal reproduction: https://github.com/jbduncan/okbuck-not-found-repro

[2021-12-01 21:48] jbduncan commented on #954
I'm unable to downgrade to OkBuck 0.52.3 because the original project I discovered this error in, a private Android project, uses Gradle 7.2, which isn't supported by OkBuck.

The error I see when I try to downgrade to 0.52.3 and run `./gradlew :buckWrapper` in the [minimal reproduction](https://github.com/jbduncan/okbuck-not-found-repro) (which uses Gradle 7.3.1) is as follows:

[code]

[2021-12-01 23:15] kageiit commented on #954
cc @nikhilramakrishnan who cut versions recently. Lets make sure to update version number if we didnt release externally yet

[2021-12-03 01:36] Hynsn opened #955 "How to check the okbuck actived?"
I add it on readme. but I 'm not feed Okbuck has runned!
maybe I need do other config?

[2021-12-04 02:18] Hynsn commented on #955
https://github.com/uber/okbuck/issues/472#issuecomment-799827324

@kageiit hello, can you reply this question?

[2021-12-04 02:35] Hynsn commented on #955
@Piasy 你好，前辈寻求帮助。怎么去看okbuck是不是被激活或开启了，windows10版本高于buck官网提到的。

[2021-12-06 01:49] Hynsn commented on #955
@gpolak can you do some answers, thanks.

[2021-12-07 06:53] ronnie-o-sullivan opened #956 "mavenLocal cannot be translation to okbuck.buckconfig"
My gradle config as follows：
`repositories {
        google()
        jcenter()
        mavenLocal()
        maven { url = uri("file://${rootProject.projectDir}/repo") }
    }
`
But there is no corresponding config in okbuck.buckconfig，about  mavenLocal() and maven { url = uri("file://${rootProject.projectDir}/repo") }:
`[maven_repositories]
    google = https://dl.google.com/dl/android/maven2/

[2021-12-09 07:16] ronnie-o-sullivan commented on #928
I have the same problem。

[2021-12-11 16:07] ronnie-o-sullivan commented on #906
Why the issue was closed ? Already supported ?

[2021-12-12 04:05] leleliu008 commented on #906
`Gradle Kotlin DSL` is nothing to do with certain gradle plugin. It is supported by Gradle itself.

**step1: Gradle Kotlin DSL（in root project）**
[code]
**step2: Gradle Kotlin DSL（in root project）** optional
[code]

[2022-02-25 22:21] tyvsmith opened #959 "Add support for Robolectric 4.7.3"
Robolectric 4.7 introduces preinstrumented android jars, which OKbuck needs direct awareness of.

[2022-02-25 22:23] tyvsmith opened #960 "Create Release Branch to support 0.52.4"
There are numerous commits on master not ready to cut, but we need a patch release for ARM support in OKbuck provided by robolectric 4.7.3. Will create a release branch off of the last 0.52.3 tag until we can clean up for 0.53.0

[2022-02-25 22:28] tyvsmith opened #961 "Resolve discrepancy between commits on master and release branch"
-Finish Gradle upgrade
-Patch commits from release branch

[2022-03-15 05:44] tyvsmith commented on #959
Resolved in #958

[2022-03-15 05:44] #959 closed

[2022-05-02 16:48] #961 closed

[2022-05-02 16:52] #960 closed

[2022-05-02 17:05] tyvsmith opened #970 "Start cutting releases to Maven Central."
Start standard deploy process to Maven Central.
Auto deploy snapshots from CI.