[2015-10-05 01:51] Piasy opened #1 "Problems with storio"
`buck install app` emit compile error `could not resolve class com.pushtorefresh.storio.operations.PreparedOperation`

Project contains 3 module: common, model, app;

`./gradlew okbuck` output attached.
[okbuck.txt](https://github.com/Piasy/OkBuck/files/7389/okbuck.txt)

[2015-10-05 01:53] Piasy commented on #1
The reason is: storio has an internal module also named `common`, and it conflicts with the project's `common` module.

Working on it now.

[2015-10-05 03:15] liujianying opened #2 "用你的配置运行build报错，麻烦帮忙看下是什么问题，谢谢"
:MyApplication liujianying$ buck build app
Using buckd.
The following resources were not found when processing app/src/main/res:
RDotTxtEntry{idType=int, type=string, name=appbar_scrolling_view_behavior, idValue=0x00000000}

java.lang.RuntimeException
java.lang.RuntimeException
        at com.facebook.buck.android.aapt.MiniAapt.execute(MiniAapt.java:154)
        at com.facebook.buck.step.DefaultSt

[2015-10-05 04:23] Piasy commented on #2
`RDotTxtEntry{idType=int, type=string, name=appbar_scrolling_view_behavior, idValue=0x00000000}`

从这行来看是没有找到resource，你是用了CoordinateLayout吗？我先试着复现一下。

[2015-10-05 04:24] liujianying commented on #2
925279861 这个是有qq，可以麻烦加下你么？

[2015-10-05 04:26] liujianying commented on #2
现在最新的Studio 1.4版本新建的默认带activity的页面是带CoordinatorLayout的，具体可以看下xml
<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools" android:layout_width="match_parent"
    android:layout_height="match_parent"

[2015-10-05 04:33] Piasy commented on #2
@liujianying 稍等我复现一下

[2015-10-05 04:42] Piasy commented on #2
这个是buck的问题。

buck找不到对`appbar_scrolling_view_behavior`的引用，解决办法很简单：

方法1. 在你的module的string.xml里面定义一个string，名字无所谓，但最好别和已有的重复，内容是`"android.support.design.widget.AppBarLayout$ScrollingViewBehavior"`；

方法2. 直接把layout里面对`appbar_scrolling_view_behavior`的引用替换为`"android.support.design.widget.AppBarLayout$ScrollingViewBehavior"`，即：
[code]

[2015-10-05 04:42] #2 closed

[2015-10-05 05:27] Piasy commented on #1
fixed

[2015-10-05 05:27] #1 closed

[2015-10-06 07:47] Piasy opened #3 "make BUCK's output apk support debug"

[2015-10-06 07:48] Piasy opened #4 "test/androidTest support"

[2015-10-06 07:48] Piasy opened #5 "proguard support"

[2015-10-06 07:48] Piasy opened #6 "res reference on aar dependency"

[2015-10-06 07:49] Piasy opened #7 "better solution for dependency conflict"

[2015-10-06 07:49] Piasy opened #8 "better solution for local jar dependency"

[2015-10-06 12:24] Piasy opened #9 "buck Exopackage support"

[2015-10-06 15:16] Piasy opened #10 "Problem with fabric crash report"
After install successfully, the app crash with error below:

[code]

It seems the fabric app secret could not be read at runtime in buck build, which works well with gradle build.

[2015-10-06 15:47] Piasy opened #11 "sub java module that only depended by application module won't build automatically when execute okbuck task"
Now `okbuck` depends on `bundleRelease` task, which only contained by Android library module, so invoke `bundleRelease` won't make java module depended by application module only built, and error will be fired like below:

[code]

Solution is: make `okbuck` depends on Android library module's `bundleRelease` task, and java module's `jar` task.

[2015-10-06 16:06] #11 closed

[2015-10-08 10:48] Veaer opened #12 "build failed when i run "./gradlew okbuck""
Execution failed for task ':okbuck'.

[2015-10-08 11:01] Piasy commented on #12
@Veaer That's looks strange, could you show me your build.gradle file?

[2015-10-08 13:24] Piasy commented on #12
@Veaer Or you can provide a minimum build.gradle file that will reproduce this problem. Thanks!

[2015-10-09 02:12] Veaer commented on #12
root build.gradle
[code]
project build.gradle
[code]
maybe it can be helpful.

[2015-10-09 02:21] Piasy commented on #12
@Veaer Could you please attach the output of `./gradlew okbuck` ? Thanks!

[2015-10-09 02:34] Veaer commented on #12
[code]
that's all

[2015-10-09 03:32] qichuan commented on #12
Same thing happened to me,

[code]

[2015-10-09 04:41] Piasy commented on #12
@Veaer  @qichuan  Could you please try an issue-fix version of OkBuck? Use the below line in your root build.gradle:
[code]

[2015-10-09 07:33] Veaer commented on #12
It fixed,thanks!

[2015-10-09 07:36] Piasy commented on #12
@Veaer Does the generated BUCK file works well? (buck install app will install the apk to your phone?)

[2015-10-09 07:51] Veaer commented on #12
that's ok,thanks

[2015-10-09 08:25] #12 closed

[2015-10-09 08:40] qichuan commented on #12
Hi @Piasy, thanks for the quick fix.

The `./gradlew okbuck` build is successful, and I have BUCK files generated in the root folder of each modules.

However I encounter error when I run `buck install app`

[code]

I have defined `signConfigName "release"` in the build.gradle in root project, can you advise if there is any other configurations that I shall take note? thanks.

[2015-10-09 08:58] Piasy commented on #12
@qichuan  Did you set your signingConfig named "release" in your /app/build.gradle, like below?

[code]

And please check whether these three files `/.okbuck/keystore/BUCK`, `/.okbuck/keystore/app.keystore`, `/.okbuck/keystore/app.keystore.properties` exist?
Then what does `/.okbuck/keystore/BUCK`'s content looks like? like below?

[code]

I'm able to reproduce the error message with an empty `/.o

[2015-10-09 09:13] qichuan commented on #12
Hi @Piasy Yes, I saw all these 3 files
[code]

But the content of the BUCK is different from yours
[code]
I have two application modules in this project, asides from app, test-newswipe is another application module, maybe this is cause of the issue?

I have run `buck install test-newswipe`, and instead of the keystore error, it gives another error
[code]

Many thanks.

[2015-10-09 09:21] Piasy commented on #12
Oh yes, multiple application module is the root cause of your trouble, I think this should be another issue, I'll fire another issue.

But I'm afraid I don't have enough time to support this feature soon in the next two weeks.

I can advice you to remove your `test-newswipe` module(or say hide, by remote its name from your /settings.gradle file) temporarily to make your `app` works. Sorry for the

[2015-10-09 09:22] Piasy opened #14 "Multiple application module support"

[2015-10-09 09:24] qichuan commented on #12
@Piasy no worries, For the time being I can manually replace the content /.okbuck/keystore/BUCK to
[code]

However, it still give out the this error, appreciate if you can help on this, thanks.

[code]

[2015-10-09 09:28] qichuan commented on #12
/lib-paktor-newswipe is not in the same directory as /app, it is located at /libraries/lib-paktor-newswipe, could this be the cause?

[2015-10-09 09:31] Piasy opened #15 "Problems if module dir is not the direct child of rootProjectDir?"

[2015-10-09 09:35] Piasy commented on #12
@qichuan Well exactly, I'll dig into this problem, and try to fix it before tomorrow :smile:

[2015-10-09 09:39] qichuan commented on #12
@Piasy thanks, okbuck is really a great tool for getting started with buck, looking forward to it :)

[2015-10-09 09:43] Piasy commented on #12
:smile: I think OkBuck is more than a tool just helping developers get start with buck, my goal for OkBuck is to help developers to utilize buck without writing one single line of buck's magic script.

[2015-10-09 11:06] androidmalin opened #16 "这个 latest version 是具体多少呢???"
工程根目录build.gradle的buildscript dependencies部分加入：classpath "com.github.piasy:okbuck-gradle-plugin:${latest version}"

这个 latest version 是具体多少呢???

[2015-10-09 11:09] Piasy commented on #16
请看项目主页，README里面有一个Download badge，上面写了最新的版本，目前是0.2.4

[2015-10-09 11:09] #16 closed

[2015-10-09 11:27] androidmalin opened #17 "Could not find method keystore() for arguments [debug.keystore] on root project"
Could not find method keystore() for arguments [debug.keystore] on root project

[2015-10-09 11:34] androidmalin opened #18 "Unsupported major.minor version 52.0"
buck install app
Using watchman.
Using buckd.
BUILD FAILED: com/android/dx/command/dexer/Main : Unsupported major.minor version 52.0
[-] PROCESSING BUCK FILES...FINISHED 0.5s [100%]
[-] BUILDING...FINISHED 1.3s [100%] (14/43 JOBS, 13 UPDATED, 30.2% CACHE MISS)

BUILD FAILED: com/android/dx/command/dexer/Main : Unsupported major.minor version 52.0

[2015-10-09 14:25] Piasy commented on #12
@qichuan  Please checkout the latest version 0.2.5, it will fix your problem, but I still home you remove the `test-newswipe` module, because the behavior of OkBuck is currently undefined when there are multiple application modules, which may produce misunderstanding bugs.

[2015-10-09 14:33] Piasy commented on #18
I think this is neither buck nor OkBuck's problem, you seems use jdk 1.8 to build Android project.

Google your error message to find more details.

[2015-10-09 14:36] Piasy commented on #17
Could please paste the out put of 'buck install app', and content of '.okbuck/keystore/BUCK' file? Thanks!

[2015-10-09 14:58] #14 closed

[2015-10-10 04:06] qichuan commented on #12
@Piasy Thanks for the update, the above problems have been resolved.

However, there is new problem pop up when I run `buck install` command

[code]
`fade_animation` is defined in another library module 'lib-paktor-view' (package name  `com.paktor.view`), and `lib-paktor-newswipe` (package name `com.paktor.view.newswipe`) depends on 'lib-paktor-view'

I realzie if I use explict package name in the

[2015-10-10 04:08] Piasy commented on #12
@qichuan Oh, that's the limitation of BUCK, already described in README.

[2015-10-10 04:39] qichuan commented on #12
I see, hope Facebook can resolve this soon.

[2015-10-11 11:48] Piasy commented on #10
After dig into this problem (via step-by-step debug), I find out that the build with gradle will create a APK with a string resource named `com.crashlytics.android.build_id`, while the build with buck not. And fabric (Crashlytics) will fire the `UnmetDependencyException` exception if this string resource doesn't exist.

So the problem doesn't relate to fabric app secrete of ApiKey, it's the build

[2015-10-11 11:59] Piasy opened #20 "Problem with LeakCanary"
After build and install the apk, the app crashed with following message:
[code]

[2015-10-11 12:01] Piasy commented on #20
This is because the LeakCanary library have declare some component in its AndroidManifest.xml file, which will be merged into the final AndroidManifest.xml in gradle build, while BUCK build will not merge AndroidManifest.xml file.

I think this problem could be fixed by doing this merge work during BUCK, through adding some build rules into BUCK script.

[2015-10-11 12:06] Piasy commented on #20
And the merged manifest is:
[code]

With LeakCanary 1.3.1.

[2015-10-11 15:49] #10 closed

[2015-10-12 03:33] lozery opened #21 "error: 找不到符号 com.everyday.util.MyPref_(类由androidannotations生成)"
buck install 错误信息：
[code]
其中`com.everyday.util.MyPref_`是由`androidannotations`生成

而`androidannotations `依赖来自build.gradle

[code]

[2015-10-12 03:50] Piasy opened #22 "NDK support"

[2015-10-12 03:51] Piasy commented on #21
可以把`./gradlew okbuck --stacktrace`的输出保存到文件，然后附上一份吗？

[2015-10-12 08:17] wzpan opened #23 "Couldn't get dependency '//.okbuck/keystore:app_keystore' of target '//app:bin'"
I got the following error after I execute `buck run app`

[code]

Here's my root build.gradle:

[code]

And the content of .okbuck/app/BUCK looks like this:

[code]

[2015-10-12 08:24] Piasy commented on #23
That looks strange, could you please save `./gradlew okbuck --stacktrace`'s output to a file and attach it in a comment? The file structure of your project, and the content of `app/BUCK` (**not `.okbuck/app/BUCK`**) could also helpful to figure out the cause of this problem. Thanks!

[2015-10-12 10:09] wzpan commented on #23
Hi @Piasy ,

Thanks for the rapid response.

Something went wrong that I can't attach the log file to the comment. Thus I will send you a mail with the attachment. Please check it out. Thanks again.

[2015-10-12 10:42] Piasy commented on #23
@wzpan Hi, I didn't receive your email after half hour... is there something wrong? Or maybe you can contact me with QQ: 200842165. Thanks!

[2015-10-12 10:49] wzpan commented on #23
Hi @Piasy ,

Sorry I went to have dinner with my friends. Now you should have got the email! Thanks.

[2015-10-12 12:02] Piasy commented on #23
@wzpan Hi, I can reproduce your problem with version 0.2.5, which didn't support multiple application module, a newer version 0.2.6 fix it, so could you please give version 0.2.6 a trial? Thanks!

[2015-10-12 12:24] Piasy commented on #21
@lozery 看起来是BUCK在build时没有找到apt生成的类，如果你方便的话可以提供一下`./gradlew okbuck --stacktrace`的输出，另外麻烦提供一下app module下生成的BUCK文件，我检查一下OkBuck是否正确生成了`androidannotations `的依赖。谢谢！

[2015-10-13 03:20] wzpan commented on #23
Ok. I'll try it this afternoon.

[2015-10-13 03:52] wzpan commented on #23
Hi @Piasy ,

I switch to use 0.2.6 and now I come across another problem.

For application module, I got the following error:

[code]

And for library module, I got the following error:

[code]

[2015-10-13 04:01] Piasy commented on #23
@wzpan Well, I must admit that your project is a really big one, with many modules, which I didn't take into consideration when develop OkBuck. So I can imagine that there must be more problems waiting for you, and me too.

To address your problems, and improve OkBuck, more efficiently, would you mind to make contact with me through some IM tools? e.g. QQ: `200842165`, WeChat: `piasy_umumu`.

[2015-10-13 06:09] lozery commented on #21
`gradle okbuck —stacktrace` 执行文件见（附件总是上传失败，耽搁了，抱歉）
[code]

备注：
之前使用gradle编译，也偶尔遇到这种情况，重新编译一下就好了，这会貌似效果不行

[2015-10-13 06:27] lozery commented on #21
@Piasy 除了图片能上传成功，txt等其它附件都提示`Something went really wrong, and we can’t process that file. `，不知道你那边是否有这种情况？

[2015-10-13 06:36] Piasy commented on #21
@lozery 之前我也遇见过，没关系的，直接贴上来也可以，只是这就使得这个网页变长了，这个问题我看一下

[2015-10-13 06:55] lozery commented on #21
@Piasy 这个是App的BUCK文件
[code]

注：

1. 工程中和lib中并未发现`org.androidannotations.AndroidAnnotationProcessor `类

2. ［建议］类似`PullToRefresh:src`这种dips我都放在`./libs`下,需要手动修改，而lib工程是eclipse结构，即需要修改 `src_roots = ['src']`

[2015-10-13 07:38] Piasy commented on #21
@lozery 你好，我看了一下你贴上的log以及BUCK文件的内容，确认OkBuck正确地识别出了`androidannotations`这个依赖，并且正确解析出了它的annotation processor，并且生成了正确的BUCK文件。
`org.androidannotations.AndroidAnnotationProcessor`这个类应该是在androidannotations这个库中定义的，不是你定义的类。

现在需要确定的问题是：当你运行buck install app的时候，如果报错找不到`com.everyday.util.MyPref_`类，那么请检查一下，gradle打包是否正常？然后`/app/build/generated/source/apt`目录下的子目录中，是否生成了`MyPref_`这个类的java文件？

如果没有，那就是apt的问题，apt没有正

[2015-10-13 08:05] Piasy commented on #23
In summary, there are three problems:
1. If an android library module doesn't have a res folder, OkBuck will generate the wrong BUCK file, and this will be fixed soon;
2. If your project is under other version control system than git, e.g. git-svn, BUCK will try to recognize files under these folders, which should be ignored, and I'll add `.svn` ignore support in OkBuck soon, but I  still suggest

[2015-10-14 09:23] Piasy commented on #23
Above problems is fixed by 09e9f6e2ba27c1ab2fe7c85eae13370890378ff0 and c30fd6802db2d7fb7f60a806a5fe9c2dfc5c00ce.

[2015-10-14 09:23] #23 closed

[2015-10-14 15:24] Piasy commented on #6
Still buggy, e.g.
`anotherapp` depends on `emptylibrary`, `emptylibrary` depends on `common`, `common` depends on `appcompat-v7`, no other dependencies, reference to resources of `appcompat-v7` in `anotherapp` module's xml will fire error.

[2015-10-15 02:45] #6 closed

[2015-10-16 15:08] Piasy commented on #15
Still have problems...

[2015-10-17 01:27] #15 closed

[2015-10-18 01:07] Piasy opened #24 "Let okbuckDebug, okbuckRelease create really debug and release BUCK config"

[2015-10-18 01:20] Piasy opened #25 "Merge dependencies' manifest"

[2015-10-18 01:20] Piasy opened #26 "Let BUCK generate jar file of library module?"

[2015-10-18 01:25] Piasy commented on #21
原因：OkBuck目前暂不支持为annotation processor传入参数，后续OkBuck将加入支持。
另外：androidannotations与BUCK不兼容，原因和ButterKnife一样。

[2015-10-18 01:26] Piasy opened #27 "Support non-standard gradle project structure, even custom, with configurations"

[2015-10-18 01:27] Piasy opened #28 "Support passing parameters to annotation processor?"

[2015-10-18 01:31] Piasy opened #29 "Multi-product flavor and build variant support?"
merge multiple source set and create **one flavor/variant at one time**.

[2015-10-18 01:39] Piasy commented on #20
It will be fixed at #25

[2015-10-20 07:28] Piasy opened #30 "Merge resources in different configuration?"

[2015-10-20 13:07] nicay opened #31 ":okbuck FAILED FAILURE: Build failed with an exception. * What went wrong: Execution failed for task ':okbuck'. > /Users/foobar/AndroidStudioProjects/mylibrary/BUCK (No such file or directory)"
build failed and throw me above message. How to solve it? thanks!

[2015-10-20 13:23] Piasy commented on #31
@nicay Could you please provide the output of `./gradlew okbuck --stacktrace`? Thanks!

[2015-10-20 13:47] nicay commented on #31
[code]

actually, my app is called `testApp`, and it includes a library module called `MyAndroidGradle/mylibrary`, but the path shown in error message seems odd.

[2015-10-20 13:51] Piasy commented on #31
@nicay Well, that's really strange, could you please check what's the exact path of your library `mylibrary ` through finder or a terminal?

[2015-10-20 13:54] nicay commented on #31
@Piasy the path is `/Users/foobar/AndroidStudioProjects/MyAndroidGradle/mylibrary`

[2015-10-20 14:10] Piasy commented on #31
@nicay That's really out of my mind... could you please try this bug fix version of OkBuck: `0.3.0-issue-31`? Just put this line into your top level build.gradle file:
[code]
Try this version and please provide the full output of `./gradlew okbuck --stacktrace`, thanks!

[2015-10-20 14:58] nicay commented on #31
@Piasy This bug fix version works fine and now build successful. Thanks!

[2015-10-20 15:00] Piasy commented on #31
@nicay Could you please paste the output of `./gradlew okbuck --stacktrace` so that I can figure out what went wrong with the former version?

[2015-10-20 15:07] nicay commented on #31
@Piasy
[code]

[2015-10-20 15:09] Piasy commented on #31
@nicay Got it, you reference a module which locate outside your root project folder, right?

[2015-10-20 15:11] nicay commented on #31
@Piasy yes, that is a library module which locate somewhere.

[2015-10-20 15:14] Piasy commented on #31
@nicay Well, the issue fix version won't fail when execute `./gradlew okbuck`, but I think `buck install` will fail because your library module locate somewhere outside your root project folder, if so, you can only move it in.

[2015-10-20 15:21] nicay commented on #31
@Piasy yes, `buck install` failed, but I don't want the module be putted inside my app, which messes the app structure.

[2015-10-20 15:24] Piasy commented on #31
@nicay Does the following structure bother you?
--testApp
----app
----mylibrary
This the standard gradle project structure, where library and app module are siblings.

[2015-10-20 15:32] nicay commented on #31
@Piasy since `mylibrary ` will be used by other project, if i do so, I need to copy that library module into the new project folder everytime when the new project depends on `mylibrary`.

[2015-10-20 15:45] Piasy commented on #31
@nicay Oh, got it, maybe you can pack your library into a jar/aar file, and new project depends it via prebuilt jar/aar file.

[2015-10-20 18:03] sdwilsh opened #32 "Support RetroLambda"
From https://github.com/Piasy/OkBuck/wiki/Known-caveats#incompatible-with-retrolambda, it says that Buck doesn't compile with Java 8.  Buck does, although we haven't stated that it does yet because we don't yet have CI setup for it to make sure we don't break it in the future.

If that's the only thing that is blocking you, it should just work.

[2015-10-21 00:45] Piasy commented on #32
@sdwilsh Thanks for your remind, I'll give it a trial.

[2015-10-21 01:42] #31 closed

[2015-10-21 05:24] qihigh opened #34 "an error happen when `gradlew okbuck`"
[code]

[2015-10-21 05:29] Piasy commented on #34
@qihigh Could you please provide the okbuck config in your top level build.gradle? Like below:
[code]

[2015-10-21 05:31] qihigh commented on #34
[code]

[2015-10-21 05:35] Piasy commented on #34
@qihigh You should set your config according to your own project structure, not copy everything in this repo into your own project.

[2015-10-21 05:43] qihigh commented on #34
Really thank you，It's done after fixed.

[2015-10-21 05:45] Piasy commented on #34
@qihigh Thanks for try OkBuck! The confusing error message is actually a problem of OkBuck, I'll fix it later.

[2015-10-21 05:46] qihigh commented on #34
Nice work

[2015-10-21 05:55] #34 closed

[2015-10-25 08:46] #25 closed

[2015-10-25 08:49] Piasy commented on #20
fixed at #36

[2015-10-25 08:49] #20 closed

[2015-10-25 08:50] Piasy commented on #27
not need extra configuration, custom project structure supported by gradle will works well, fixed by #36

[2015-10-25 08:50] #27 closed

[2015-10-25 08:51] #18 closed

[2015-10-25 08:51] #17 closed

[2015-10-25 08:52] #21 closed

[2015-10-26 02:23] Piasy commented on #32
@sdwilsh Could you please give an example that make RetroLambda work with BUCK? I find this link: https://groups.google.com/forum/#!topic/buck-build/tpBERd8tcIc, which gives an example:
[code]
 but `java_library` rule doesn't accept `post_process_commands` argument.

[2015-10-27 00:47] #22 closed

[2015-10-27 00:47] Piasy commented on #22
This support means prebuilt native library support, NDK integration will be another issue.

[2015-10-27 00:56] Piasy opened #38 "NDK integration"

[2015-10-27 01:18] Piasy commented on #30
This can be done together with #29, by adding multiple android_resource rules, and add them into deps of their depender.

[2015-10-27 01:19] Piasy commented on #29
Generate multiple android_binary rules at the same time, with different flavor names.

[2015-10-27 10:28] just-kip opened #39 "String index out of range"
I think it causes because my modules have a really long path with 132 characters length
[code]

[2015-10-28 04:01] Piasy commented on #39
@just-kip Sorry for the late response, I think it's not because of the long path. Maybe your module(sub project) locates outside of your root project dir?

[2015-10-28 04:09] Piasy commented on #39
@just-kip And OkBuck will print all your modules' path when execute `./gradlew okbuck` with version 0.3.4, could you please provide these output? Thanks!

[2015-10-28 07:22] just-kip commented on #39
@Piasy my modules is out of project dir
is located like:

../projectName/app
../module1
../module2
../module3
../modules/module4

[2015-10-28 07:36] Piasy commented on #39
@just-kip Got it, the error above is a bug of OkBuck, but even OkBuck not fails here, BUCK build will fail. BUCK doesn't support sub modules out of project dir. So I suggest you move your modules into your project dir, or export your module to a jar/aar, and use it through jar/aar file.

[2015-10-29 00:33] Piasy commented on #39
With version 0.3.5, the error message should be more meaningful. But the root cause of this problem is BUCK can't refer to files outside root project dir, same as #31.

[2015-10-29 00:33] #39 closed

[2015-11-02 14:14] vRallev opened #40 "Missing AIDL support"
I have .aidl files in my project, but the corresponding .java files aren't generated.

[2015-11-02 14:17] Piasy commented on #40
@vRallev Oh, yes! I'm working on multi-product flavor now, after finishing it I'll add AIDL support.

[2015-11-03 07:31] #7 closed

[2015-11-03 07:31] #8 closed

[2015-11-03 07:31] #29 closed

[2015-11-03 07:31] #30 closed

[2015-11-03 07:33] Piasy commented on #8
Local jar dependency couldn't conflict (or the same) with maven dependencies, otherwise error messages like `Multiple dex files define***` will be fired.

[2015-11-03 07:34] Piasy commented on #29
Manifest, jniLibs still not supported.

[2015-11-03 09:04] Piasy opened #42 "add VERSION_NAME, VERSION_CODE, BUILD_TYPE build config into generated BuildConfig.java"

[2015-11-04 07:38] Piasy commented on #42
add APPLICATION_ID, BUILD_TYPE, FLAVOR, VERSION_CODE, VERSION_NAME, they are exported by gradle that defined inside `defaultConfig` block.

[2015-11-04 07:43] #42 closed

[2015-11-05 00:42] sdwilsh commented on #38
Note that while Buck has `ndk_library`, we don't suggest folks use it.

[2015-11-05 00:44] sdwilsh commented on #32
It's `postprocess_classes_commands` (you can see this by looking at `JavaLibraryDescription.Arg`).

[2015-11-10 13:29] FtheGFW opened #43 "cant't buck work with android data-binding?"
Error parsing resources to generate resource IDs for app/src/main/res.
com.facebook.buck.android.aapt.MiniAapt.ResourceParseException: Invalid definition of a resource: '@{userVM.avatar}'
com.facebook.buck.android.aapt.MiniAapt$ResourceParseException: Invalid definition of a resource: '@{userVM.avatar}'
        at com.facebook.buck.android.aapt.MiniAapt.processXmlFile(MiniAapt.java:411)
        at

[2015-11-10 14:10] Piasy commented on #43
@FtheGFW Do you use data binding? Buck doesn't support data binding now.

[2015-11-10 14:51] #43 closed

[2015-11-14 02:45] emile2013 opened #44 "执行buck install app 失败"
@Piasy
我这边用okbuck 集成gradle和buck，执行gradle okbuck 是Ok的，但执行buck install app命令抛出了以下错误：

buck install app
Using watchman.
Traceback (most recent call last):
  File "/usr/local/bin/buck/.bootstrap/_twitter_common_python/pex.py", line 223, in execute
    self.execute_entry(entry_point, args)
  File "/usr/local/bin/buck/.bootstrap/_twitter_common_python/pex.py", line 271, in execute_entry
    runner(entry

[2015-11-14 02:49] Piasy commented on #44
@emile2013 这看起来是BUCK运行出了问题，你的BUCK正确安装了吗？你试着按照[quick start](https://buckbuild.com/setup/quick_start.html)的教程过一遍，看看能不能成功？

[2015-11-14 03:17] emile2013 commented on #44
@Piasy 按 buck 的 quick start 是ok的，能编译部署到我的真机上。

[2015-11-14 03:47] Piasy commented on #44
@emile2013 我google搜了下报错信息：
[code]
你的这个工程路径名是不是有中文呀？

[2015-11-14 04:06] emile2013 commented on #44
@Piasy  是的，有中文目录，我现在改过来了，但是执行gradle okbuck ，module根目录没有生成BUCK文件。

[2015-11-14 04:08] Piasy commented on #44
@emile2013 你加到QQ群里面聊吧？

[2015-11-14 18:06] nicay opened #45 "build failed: AndroidLibraryRule srcs must be non-null."
It throws the following error after I executed `./gradlew okbuck`
[code]

[2015-11-15 00:58] Piasy commented on #45
@nicay Do you have a module that has no java source files?

[2015-11-15 00:59] #44 closed

[2015-11-15 03:55] nicay commented on #45
@Piasy yes, I have a module that do not have java files

[2015-11-15 03:58] Piasy commented on #45
@nicay That's why the error thrown, OkBuck presume that each module will have source files. If you really don't need java files for this module, you can create an empty source directory, the normal path is `$module_root/src/main/java`, after that OkBuck should work well.

[2015-11-15 04:23] nicay commented on #45
@Piasy it works now. thanks!

[2015-11-15 04:26] nicay opened #46 "install failed: BUILD FAILED: No rule found when resolving target //app:app in build file //app/BUCK"
It thows the following error while I execute `buck install app`
[code]

[2015-11-15 05:21] Piasy commented on #46
@nicay Could you please show me the content of your `/.buckconfig` and `/app/BUCK` ?

[2015-11-15 05:21] #45 closed

[2015-11-15 13:08] Piasy commented on #32
@sdwilsh Dear sir, after several trials, I finally make buck work with RetroLambda for the `:libraries:javalibrary` module(`buck build libraries/javalibrary:src` succeed, and the class files inside `buck-out/bin/libraries/javalibrary/lib__src__classes` are in Java 7 format), but when I try to build `:dummylibrary` and `:app` module, it fails with  the error message below:
[code]
I google this erro

[2015-11-15 13:17] Piasy commented on #46
@nicay I think the buck command should be `buck install appDebug` or `buck install appRelease`, that's because multi product flavor was supported, sorry that I didn't update the documentation in time.

[2015-11-15 14:09] nicay commented on #46
@Piasy sorry for my late reply.
**/.buckconfig**
```java```
[alias]
	appDevRelease = //app:bin_dev_release
	appProductionRelease = //app:bin_production_release
	appProductionDebug = //app:bin_production_debug
	appDevDebug = //app:bin_dev_debug

[android]
	target = android-23

[project]
	ignore = .git, **/.svn,
[code]

[2015-11-15 14:12] nicay commented on #46
@Piasy I have tried `buck install appDebug`, it throws the error:
```java```
No build file at appDebug/BUCK when resolving target //appDebug:appDebug.
[code]

[2015-11-15 14:51] Piasy commented on #46
@nicay Well according to your `.buckconfig` file, the right command should be `buck install appDevRelease`.

[2015-11-15 15:13] nicay commented on #46
@Piasy `appDevRelease ` throws the same error:
```java```
BUILD FAILED: Couldn't get dependency '//.okbuck/app:jar__nexstreaming_nexplayerengine_stb.aar' of
target '//app:src_dev_debug':
The build file that should contain //.okbuck/app:jar__nexstreaming_nexplayerengine_stb.aar
has already been parsed (/Users/jaychang/AndroidStudioProjects/tv.v5.android.stb/.okbuck/app/BUCK),
but //.okbuck/app:jar_

[2015-11-15 15:59] nicay commented on #46
I look into the `//.okbuck/app/BUCK`, the name of `aar` file is extracted in the format with the `'aar__` prefix, but the error message shown above shows `jar__nexstreaming_nexplayerengine_stb.aar`. I hope this can help you.

```java```
aar_deps = []
for aarfile in glob(['*.aar']):
	name = 'aar__' + re.sub(r'^.*/([^/]+)\.aar$', r'\1', aarfile)
	aar_deps.append(':' + name)
	android_prebuilt_aar(

[2015-11-15 16:26] nicay opened #47 "BUILD failed: failed on step symlink_assets with an exception"
The error is thrown after I execute `buck install appDevDebug`
[code]

[2015-11-15 16:31] #47 closed

[2015-11-15 23:38] Piasy commented on #46
@nicay That sounds like a bug of OkBuck, could you please provide the full output of `./gradlew okbuck`, and the output of `ls .okbuck/app`? Thanks!

[2015-11-17 00:46] fengbugou opened #48 "gradle android tool 1.5找不到sign config"
1.3的时候是OK的，把1.3改成下面的1.5, gradlew okbuck就报错了
classpath 'com.android.tools.build:gradle:1.5.0'

trace 如下

:okbuckClean
:okbuck
<<< hashSetAddTraversalTest
1, 2, 3 ==> 123
3, 2, 1 ==> 123
2, 1, 3 ==> 123
hashSetAddTraversalTest >>>
==========>> overwrite mode is toggle on <<==========
Sub project 'app': /Users/dt/Developer/Code/Android/idea/Cl024/app
Sub project 'dtroidlib': /Users/dt/Developer/Code/

[2015-11-17 01:06] Piasy commented on #48
@fengbugou 目前还没有针对1.5做适配，会尽快加上的。

[2015-11-17 01:08] fengbugou commented on #48
谢谢，想用1.5的原因是想用官方的databind来替换掉butterknife，而databin d需要1.5。
拜托了
2015年11月17日 09:06，"Piasy" <notifications@github.com>写道：

[2015-11-17 01:10] Piasy commented on #48
@fengbugou 可是目前buck似乎不支持data binding呀

[2015-11-17 01:13] fengbugou commented on #48
！！我一会儿查查 谢谢！
2015年11月17日 09:10，"Piasy" <notifications@github.com>写道：

[2015-11-22 07:35] Piasy opened #49 "Use genrule to generate AndroidManifest.xml"

[2015-11-22 12:17] Piasy commented on #49
fixed by #50

[2015-11-22 12:17] #49 closed

[2015-12-14 07:22] ASCE1885 opened #51 "'presentation/src/main/res/.svn' is not a valid resource sub-directory."
运行 'buck install --run'后，得到如下异常：

[code]

但是.buckconfig中已经将.svn忽略掉了：

[code]

有谁遇到过吗？

[2015-12-14 09:59] ASCE1885 opened #52 "Can not figure out sign config, please make sure you have only one sign config in your build.gradle, or set signConfigName in okbuck dsl."
when running
[code]

[2015-12-14 10:06] Piasy commented on #52
Just specify your sign config name as the error message hint, [like this](https://github.com/Piasy/OkBuck/blob/master/build.gradle#L27).

[2015-12-14 11:23] ASCE1885 commented on #52
It works, thank you very much!

[2015-12-14 11:23] #52 closed

[2015-12-15 09:14] Piasy commented on #3
Since v0.4.6, OkBuck use genrule to generate the `AndroidManifest.xml` file, which contains version name, version code, min sdk version, target sdk version, debuggable (always true) values parsed from `build.gradle`.

[2015-12-15 09:14] #3 closed

[2015-12-15 09:15] Piasy commented on #4
This will not be added.

[2015-12-15 09:15] #4 closed

[2015-12-15 09:15] Piasy commented on #5
This will not be added.

[2015-12-15 09:15] #5 closed

[2015-12-15 09:18] Piasy commented on #24
Since v0.4.0, OkBuck will generate multi-product flavor BUCK configs, each combination of product flavor and build variant has its BUCK config.

That's all of it, no more additional support will be added.

[2015-12-15 09:18] #24 closed

[2015-12-15 09:18] Piasy commented on #51
Seems BUCK's problem.

[2015-12-15 09:54] ASCE1885 opened #53 "In Buck, Why Module A cannot refer Module B's resources, like R.string.. R.id.."
does anyone knows why？

[2015-12-15 09:55] ASCE1885 commented on #51
It's buck's bug,I solve it by modify buck source code

[2015-12-16 06:32] ASCE1885 opened #54 "OKBuck does not support Exopackage and multi-dex?"

[2015-12-16 06:39] Piasy commented on #54
On the way, see #9 , and [issue-9 branch](https://github.com/Piasy/OkBuck/tree/issue-9).

[2015-12-23 03:16] archmages opened #55 "Not support Android Data Binding now"

[2015-12-23 08:51] Piasy commented on #55
Yes, because BUCK not support it now.

[2016-01-05 06:45] 2kpurple opened #56 "Can not figure out sign config, please make sure you have only one sign config in your build.gradle, or set signConfigName in okbuck dsl."
我是按README_ZH来搞的。
最后是这个错误 >_> 怎么破

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':okbuck'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:46)
        at org.gradle.api.interna

[2016-01-05 06:55] Piasy commented on #56
@2kpurple
[code]

报错提示这个，你需要指定一下签名配置，可以参考一下[demo的build.gradle](https://github.com/Piasy/OkBuck/blob/master/build.gradle)

[2016-01-05 06:55] #46 closed

[2016-01-05 06:56] Piasy commented on #46
Close now.

[2016-01-05 06:56] #54 closed

[2016-01-05 07:05] 2kpurple commented on #56
@Piasy 好的~我试试看！谢谢！ :)))

[2016-01-05 07:10] 2kpurple commented on #56
@Piasy 如果是多工程依赖的话要怎么做呢？

现在是报这个了 resPackage key-value pair must be set for sub project

[2016-01-05 07:12] Piasy commented on #56
@2kpurple [demo的build.gradle](https://github.com/Piasy/OkBuck/blob/master/build.gradle)里面也有为多个依赖Module配置资源文件包名。

[2016-01-05 07:13] 2kpurple commented on #56
@Piasy 看到了 实在抱歉 >_> 都是在写完编译的时候等得久。。然后顺便看看。。

[2016-01-05 07:14] Piasy commented on #56
@2kpurple 没关系，其实没必要等android studio sync完毕。直接修改之后在命令行里面运行`./gradlew okbuck`即可

[2016-01-05 07:21] 2kpurple commented on #56
@Piasy 是不是不支持windows >_>

[2016-01-05 07:22] Piasy commented on #56
@2kpurple 是的目前官方没有支持。

[2016-01-05 07:24] 2kpurple commented on #56
@Piasy 今晚换个ubuntu试试...编译过了, 根目录运行buck, 说找不到buck

[2016-01-27 05:03] nbthinkful opened #59 "Gradle build tool 2.0.0"
I would like to use okbuck in my project, but it does not seem to support gradle build tools 2.0.x

Latest version is found from:-

https://bintray.com/android/android-tools/com.android.tools.build.gradle/2.0.0-alpha7/view

I tried it out, but buck failed to manage to get signing info.

[2016-01-27 05:13] Piasy commented on #59
@nbthinkful Yes I have noticed that problem, I'll release a version soon.

[2016-01-27 05:26] nbthinkful commented on #59
If you have a snapshot version and you want me to test out, I'll be happy to do so.

[2016-01-27 06:02] #59 closed

[2016-01-27 06:03] Piasy commented on #59
@nbthinkful I have just released `0.4.10`, please try it out.

[2016-01-27 08:06] nbthinkful opened #60 "File name too long error"
Hi,

I'm testing buck on a multi-module project where I'm implementing a micro-service aproach for a system I'm writing.  I've configured okbuck 0.4.10 for my build but when I start to launch it, I get the following error, possibly because it's trying to create a file with concatenated dependency names: -

The okbuck configuration I'm using is the following: -

okbuck {
    target "android-23"

[2016-01-27 08:18] Piasy commented on #60
Oh, that's because you have some dependencies shared by too much module.

From log you provided, modules are: Authentication.Ui, Common.Core, App.Phoenix, Global.Ui, Authentication.Client... and because OkBuck will create a directory to put these shared dependencies, with all modules name concatenated, in such case, the directory will have a super long name which cause the error.

Now I'm rewritin

[2016-01-28 05:12] nbonavia commented on #59
Tested it today and it worked like a charm. Buck did not build my android project because it did not detect resources that include data binding, but I guess that's buck that needs to be able to build the project.

[2016-01-28 05:14] Piasy commented on #59
@nbonavia Yes, buck's official team has claimed that when data binding comes stable, they will work on data binding support.

[2016-01-28 10:54] ghuiii opened #61 "error after 'buck install flavorName'"
Parse error for build file /Users/ghui/Company/code/app/BUCK:   File "/Users/ghui/Company/code/app/BUCK", line 76, in <module>
    'PUBLIC',
  File "/Users/ghui/Company/code/.buckd/tmp/buck_run.9oqnXu/buck84461324831384572.py", line 119, in invoke
    return self.func(*args, **updated_kwargs)
  File "/Users/ghui/Company/code/-android/-as/.buckd/tmp/buck_run.9oqnXu/buck84461324831384572.py", line 1

[2016-02-02 03:46] Piasy commented on #56
fixed by v0.4.10

[2016-02-02 03:46] #56 closed

[2016-02-02 11:08] Piasy commented on #60
@nbthinkful Hi, I just release v1.0.0-beta3, which solve this problem, please try it out!

[2016-02-02 11:09] #60 closed

[2016-02-02 11:10] Piasy commented on #48
Solved since v1.0.0-beta3

[2016-02-02 11:10] #48 closed

[2016-02-02 11:10] Piasy commented on #9
Added since v0.4.8

[2016-02-02 11:10] #9 closed

[2016-02-03 00:53] Piasy commented on #40
@vRallev Hello, AIDL support has added since 1.0.0-beta4, this is a minimum support that your .aidl file must locate inside main source set.

[2016-02-03 00:53] #40 closed

[2016-02-08 22:16] nbonavia commented on #60
Tested and I confirm that it solved the problem. I am looking forward for buck to support android databinding so that I can utilise okbuck - buck to the full. Well done, you've done a great job.

[2016-02-08 23:39] rzsombor commented on #53
As far as I can tell the reason comes down to Buck not merging the resources of the dependency modules with the resources of the dependant module. So if:

We have:
- Library module A, with package "com.hello.A"
- Library module B, with package "com.hello.B"
- A is a dependency of B
- A has a string resource "my_title"

Then:
- We'll have a "com.hello.A.R" resource class
- We'll have a "com.hello.B

[2016-02-09 01:27] Piasy commented on #53
@rzsombor There is no need for two codebases, in your example, `com.hello.A.R.string.my_title` will work both for BUCK and gradle. And that's what exactly our team do for our production code; we run BUCK build for development and gradle build for production release.

[2016-02-09 20:59] rzsombor commented on #53
@Piasy I forgot to mention one important detail from my previous example: the modules are all Android Library modules. The reference `com.hello.A.R.string.my_title` seems to be ok if it's placed in an Android Application module. This same code fails for me as soon as it's being used in a library, the error being:

`Error:(8, 51) error: package com.hello.A.R does not exist`

Unfortunately our proje

[2016-02-10 03:17] Piasy commented on #53
@rzsombor Got it.

[2016-02-10 17:14] nbonavia opened #62 "Provided dependencies not picked up by buck"
Hi,

I don't know if this is a buck or okbuck issue, but when I use project lombok or hrisey in my android project, they are only used during compilation. They are typically defined as shown below: -

dependencies {
    provided 'pl.mg6.hrisey:hrisey:0.3.+'
}

Unfortunately when dependencies are set as provided, they give a compilation error when running buck install. Could it be a missing configu

[2016-02-11 15:33] Piasy commented on #62
Yes OkBuck won't generate BUCK rule dependency for provided configuration, and of course OkBuck could. But I don't understand why provided configuration (compile time dependency) is needed more than apt (annotation processor) usage. Could you please give me more explanation?

[2016-03-19 21:56] cuong0993 opened #63 "BUILD FAILED: No rule found when resolving target //app:app in build file //app/BUCK"
Hi.
I had just started learning okbuck. I used your project (just import it, sync and do nothing else) [https://github.com/Piasy/BuckProjectEditDetectDemo](url) and i get this eror when i build

Not using buckd because watchman isn't installed.
[+] PROCESSING BUCK FILES...0.0s [100%]
BUILD FAILED: No rule found when resolving target //app:app in build file //app/BUCK
Defined in file: /home/cuong/D

[2016-03-20 01:18] Piasy commented on #63
You should run `buck build appDebug` or `buck build appRelease`, these two names `appDebug` and `appRelease` can be found inside `.buckconfig` file generated by OkBuck.

[2016-03-20 01:18] #63 closed

[2016-04-08 03:45] AllenCoder opened #64 "Error parsing resources to generate resource IDs"
buck install appDevDebug
[AndroidManifest.xml:3, AndroidManifest.xml:3] Main manifest has <uses-sdk android:targetSdkVersion='14'> but library uses targetSdkVersion='23'
Note: main manifest lacks a <uses-sdk android:targetSdkVersion> declaration, which defaults to value minSdkVersion or 1.
[AndroidManifest.xml:3, AndroidManifest.xml:3] Main manifest has <uses-sdk android:targetSdkVersion='14'> but

[2016-04-08 05:58] Piasy commented on #64
This is not OkBuck's problem, it's because your resource id contains `@` sign. Besides, it seems that your app's `targetSdkVersion` differs from libraries, which will also cause build fail, your app's `targetSdkVersion` should be greater than all libraries.

[2016-04-08 06:20] AllenCoder commented on #64
my  resource id not contains @ sign

[2016-04-08 07:22] Piasy commented on #64
It's due to the usage of `data binding` library, which is incompatible with BUCK.

[2016-04-08 07:22] #64 closed

[2016-04-08 07:22] Piasy commented on #61
closed

[2016-04-08 07:22] #61 closed

[2016-04-11 05:19] jansonjoan opened #65 "There is one problem."
Incremental java compilation is an incubating feature.
:okbuckClean
:FashionMii:okbuckClean
:FashionMii:okbuck
:okbuck
==========>> overwrite mode is toggle on <<==========
:okbuck FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':okbuck'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log ou

[2016-04-11 05:28] Piasy commented on #65
As the error message said:

You can see the [explanation part of README](https://github.com/Piasy/OkBuck#explanations).

[2016-04-12 02:36] jansonjoan opened #66 "what can i do?"
associated EnclosingMethod attribute. This class was probably produced by a
compiler that did not target the modern .class file format. The recommended
solution is to recompile the class from source, using an up-to-date compiler
and without specifying any "-target" type options. The consequence of ignoring
this warning is that reflective operations on this class will incorrectly
indicate that it i

[2016-04-12 03:03] Piasy commented on #66
I think this is the issue of BUCK, please open an issue in BUCK repo.

[2016-04-14 03:40] sherryein opened #67 "there is a problem when buck install"
trouble processing "java/io/DataInputStream.class":

Ill-advised or mistaken usage of a core class (java.* or javax.*)
when not building a core library.

This is often due to inadvertently including a core library file
in your application's project, when using an IDE (such as
Eclipse). If you are sure you're not intentionally defining a
core class, then this is the most likely explanation of what'

[2016-04-14 04:12] Piasy commented on #67
I think it's not problem of OkBuck, but Android build tool, references:
http://stackoverflow.com/questions/7661559/ill-advised-or-mistaken-usage-of-a-core-class-java-or-javax-when-not-build
http://stackoverflow.com/questions/18266853/attempted-to-fix-androids-ill-advised-or-mistaken-usage-of-a-core-class-went-b
http://blog.csdn.net/cyj5366/article/details/9629809

[2016-04-14 04:13] Piasy commented on #65
closed

[2016-04-14 04:13] #65 closed

[2016-04-14 17:19] kageiit commented on #67
This error is thrown by dx, when buck tries to invoke dx to create the classes.dex

do a `./gradlew dependencies` and see if you have any packages with javax.* in the output. You may want to remove them via gradle dependency exclude rules to get buck to build

[2016-04-14 17:21] kageiit commented on #66
This is not unique to buck. This is just caused by dx tool from android. This will show up even in gradle. Its just a warning message you can safely ignore.

Yo get it to go away, you need to get the sdk authors of the library (cn.smssdk.b.c) you are using to recompile their library using latest javac compiler. They probably might be using jdk 1.6.

This is quite a common problem among sdks from c

[2016-04-14 17:22] kageiit commented on #62
Try to get around this by using the apt configuration instead of provided

https://bitbucket.org/hvisser/android-apt

[2016-04-15 00:55] Piasy commented on #62
@kageiit OkBuck could recognize `provided` and `apt` dependencies, but didn't make them part of module library compile dependencies.

The problem is I don't understand why provided configuration (compile time dependency) is needed more than apt (annotation processor) usage.

[2016-04-15 02:30] jansonjoan commented on #66
Thank you

[2016-04-15 04:16] kageiit commented on #62
@Piasy There are valid cases where you would want to use provided dependencies outside the scope of annotation processing.

An example would be a java library that needs to use Parcelable, but does not want to be tied to be an aar. Another example is Robolectric test framework.

In that case, provided will be used to compile the jar and the parcelable classes are actually provided by the android o

[2016-04-15 04:23] Piasy commented on #62
@kageiit Thanks for your reply!

But I don't know whether BUCK support this kind of dependency, I mean, if we put a gradle `provided` or `apt` scoped dependency into a `android_library` or `java_library` rule's deps list, will BUCK only use it for compile purpose? or BUCK will bundle it into the final target?

[2016-04-20 04:27] kageiit opened #68 "Okbuck fails to process projects with "-" in their name"
Easy way to reproduce is to rename "anotherapp" to "another-app" and try to run `./gradlew okbuck` on master

[2016-04-20 05:08] Piasy commented on #68
Yes I know this problem, maybe I delete the note for this problem in some commit.

[2016-04-20 07:39] kageiit commented on #68
Is there any solution to this? I tried to tackle solving this by making some changes, but if you already know about it, it would be great to understand why it breaks so I have a better idea to fix it if possible

[2016-04-20 07:47] Piasy commented on #68
Sorry that it's months before, I forget the reason...

Could you replace your `-` with `_` in your module name?

[2016-04-21 06:15] kageiit commented on #68
I know removing "-" or replacing it with "_" fixes it, but I dont think its something a gradle plugin should force users to do. I will look at whats causing this problem, because I was able to setup buck for projects with "-" in module name manually before, but the auto generated version from okbuck plugin have issues.

I guess it is an issue with Okbuck and not really buck's

[2016-04-21 07:17] kageiit commented on #68
I think I found a solution to the problem. The issue is with how OkBuck is relying on the aar name to determine the flavor and variant.

There is a better way to determine this without depending on splitting the aar file name by "-". That seems to be the problem. I will open a PR with the fix.

[2016-04-21 07:19] Piasy commented on #68
@kageiit You are definitely right! I have to admit that the way I used to determine flavor and variant is really a poor one...

[2016-04-21 07:27] Piasy commented on #68
It's inside [`FileUtil.groovy`](https://github.com/Piasy/OkBuck/blob/f01ba56a7f375e1762a545222c7b101b36587c5d/buildSrc%2Fsrc%2Fmain%2Fgroovy%2Fcom%2Fgithub%2Fpiasy%2Fokbuck%2Fhelper%2FFileUtil.groovy#L99), and it utilize several naming convention, which may cause other problems too, e.g. [dependency duplication detection](https://github.com/Piasy/OkBuck/blob/f01ba56a7f375e1762a545222c7b101b36587c5

[2016-04-21 08:07] kageiit commented on #68
I have another solution for the dependency duplication detection which i will open a separate PR for once the "-" one merges

[2016-04-21 08:13] #68 closed

[2016-05-03 14:56] #32 closed

[2016-05-05 12:14] almozavr opened #72 "Flavor Dimension Support"
Looks like flavor dimensions are not supported at the moment, `okbuck` command gives an error.
### Gradle setup

[code]
### Error

[code]

[Gist for AndroidTDDBootStrap](https://gist.github.com/almozavr/a9ae06052846ce213d65b11472005983)

[2016-05-10 08:50] Piasy opened #75 "No `versionCode` and `versionName` in merged manifest"

[2016-05-11 07:35] kageiit commented on #26
Do we need this?

[2016-05-11 07:44] #66 closed

[2016-05-11 07:44] #67 closed

[2016-05-11 08:00] kageiit commented on #72
Flavor dimensions dont crash the okbuck task anymore. But okbuck also does not generate any buck build rules for flavor dimensions yet. This will be added

[2016-05-11 15:47] kageiit opened #82 "Proguard Support"

[2016-05-11 15:47] kageiit opened #83 "Testing Support"
- [x] Java Unit Tests
- [x] Android Robolectric Unit Tests
- [x] Android Espresso UI Tests
- [x] Cobertura Code Coverage Report

[2016-05-12 01:48] Andecy opened #84 "You must specify signing config for app release build type"
Hello!
I am following [手把手OkBuck教程：应用到AndroidTDDBootStrap项目（续）](http://blog.piasy.com/2016/03/10/AndroidTDDBootStrap-Use-OkBuck-2/) but when executing "./gradlew okbuck" throw this error

==========>> overwrite mode is toggle on <<==========
:okbuck FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':okbuck'.

* Try:

to get more log output.

BUILD FAIL

[2016-05-12 02:09] Piasy commented on #84
Just as the error message said:

[2016-05-12 02:11] Andecy commented on #84
thank your response！
I can not understand how to specify？what means build type

[2016-05-12 02:14] Piasy commented on #84
[code]

[2016-05-12 02:43] Andecy commented on #84
thank you！I config this bug like your code but A new bug throw：

AndroidLibraryRule srcs must be non-null.

[2016-05-12 02:45] Piasy commented on #84
Do you have a library module that contains no source set?

[2016-05-12 02:46] Andecy commented on #84
thanks！yep it is，How can I do ？

[2016-05-12 02:47] Piasy commented on #84
Add a source set for it could fix this.

[2016-05-12 02:52] kageiit commented on #53
Seems like this is possible using an undocumented option that was added in  https://github.com/facebook/buck/pull/653

I will add it to our plugin

[2016-05-12 02:53] Andecy commented on #84
those modules have the kind of catolog:
|-src
  |-main
    |-res

so add a source set is like this?
|-src
  |-main
    |-res
    |-java
      |-com.package

[2016-05-12 02:54] Piasy commented on #84
yes, actually, only `java` is needed

[2016-05-12 03:01] Andecy commented on #84
Thank you for your help!
`BUILD SUCCESSFUL`
非常感谢你的及时帮助！

[2016-05-12 03:01] #84 closed

[2016-05-12 03:02] kageiit commented on #84
We actually do not require sources to be non null/empty anymore. That restriction is not imposed by buck, so we removed it recently

[2016-05-12 03:09] #53 closed

[2016-05-12 15:58] kageiit opened #86 "Support for Manifest Placeholders"
http://tools.android.com/tech-docs/new-build-system/user-guide/manifest-merger#TOC-Placeholder-support

[2016-05-14 10:55] Piasy commented on #75
fixed by #87

[2016-05-14 10:55] #75 closed

[2016-05-17 04:12] #82 closed

[2016-05-22 03:02] kageiit commented on #86
Changes proposed to buck: https://github.com/facebook/buck/pull/753

[2016-05-22 15:04] vinz243 opened #95 "release of app has no signing config set!"
I'm trying to use buck on my new project and I get this:

[code]
Project config is the default one with overwrite on

[2016-05-22 15:08] Piasy commented on #95
seeeeeee #84

[2016-05-22 15:08] #95 closed

[2016-05-22 15:33] vinz243 commented on #95
Thanks!

[2016-05-23 04:46] Piasy commented on #26
not necessary

[2016-05-23 04:48] #26 closed

[2016-05-23 04:49] kageiit commented on #51
Please reopen if this is still an issue

[2016-05-23 04:49] #51 closed

[2016-05-23 04:49] kageiit commented on #55
Nothing we can do here

[2016-05-23 04:49] #55 closed

[2016-05-23 04:51] kageiit commented on #28
If you add extra parameters to the relevant JavaCompile.options , they will be puleld into the generated buck files automatically

[2016-05-23 04:51] #28 closed

[2016-05-26 06:14] kageiit commented on #62
You can use the solution preferred by buck authors from here: https://groups.google.com/forum/#!topic/buck-build/pz8NZsAeYdw

[2016-05-26 06:16] #86 closed

[2016-05-28 13:37] kageiit opened #107 "Add support to install/maintain buck versions"

[2016-05-29 01:47] #107 closed

[2016-06-10 12:13] andreas- commented on #72
+1

[2016-06-10 12:14] andreas- commented on #83
+1

[2016-06-13 23:23] kageiit commented on #62
confirmed with buck team that it is only used for compile since dependencies are not exported by default from a target

[2016-06-13 23:35] #62 closed

[2016-06-24 18:43] kageiit opened #119 "IDE Project Generation Support"

[2016-06-29 00:03] #119 closed

[2016-06-30 03:46] kageiit commented on #83
Unit testing support for java targets is now available in v0.2.0

[2016-06-30 03:48] kageiit opened #125 "Static Analysis Support"
- [x] Lint
- [x] Infer

[2016-06-30 03:52] kageiit opened #126 "Butterknife Support"

[2016-07-07 06:25] Bvin opened #128 "Unsupported major.minor version 52.0"
gradle version is 2.10,android gradle plugin version is 2.1.0.

[2016-07-07 14:20] kageiit commented on #128
Are you using jdk7? Can you try using jdk8?

[2016-07-11 17:11] tonycosentini opened #130 "Buck aliases generated from Gradle modules in directories are not valid alias names."
If you have a Gradle project with many modules - and some modules are in a folder like this:
[code]

OkBuck will generate an alias named `moduleGroup:appModule` - this is not a valid buck alias.

[2016-07-11 21:23] #130 closed

[2016-07-11 23:26] #126 closed

[2016-07-26 22:08] kageiit commented on #128
fell free to reopen if jdk 8 did not solve this

[2016-07-26 22:08] #128 closed

[2016-07-28 15:52] mr-procrastinator opened #140 "Proceed okbuck for project with cutom folder structure"
I've project that moved from Eclipse to Android studio, with following sources set:
[code]
There 'res' and 'src' dir placed on same level in MyApp folder.

During execution of okbuck command, I've faced with following error:

How could I resolve the issue?

[2016-07-29 02:01] Piasy commented on #140
please provide stacktrace by adding `--stacktrace`

[2016-07-29 08:28] mr-procrastinator commented on #140
[code]

[2016-07-29 14:30] Piasy commented on #140
So your application module is named as `MyApp`, do you have any resources dir which isn't the child dir of `MyApp`? If so, you need put all your resources dir as child of `MyApp`.

B.T.W. I suggest you use the conventional project structure of AndroidStudio.

[2016-07-29 14:35] mr-procrastinator commented on #140
The Point is that the "res" folder are placed inside of "MyApp" directory, but for plugin it is not true.
Use android studio structure is not the best option because I will lose commit history in that case.

[2016-07-29 16:47] kageiit commented on #140
@mr-procrastinator try to create a symlink. It might solve your issue

[2016-08-02 13:13] ragunathjawahar opened #142 "Buck randomly throws BUILD FAILED errors"
The project compiles fine after initial configuration, however if a `buck clean` command is invoked, subsequent calls to `build targets` or `build install [target]` throws the following error.

1. `buck install appDebug`
[code]

2. `buck install appDebug`
[code]

3. `buck build appDebug`
[code]

4. `buck targets`
[code]

[2016-08-02 13:28] ragunathjawahar opened #143 "Use soft tabs in generated BUCK files."
The generated **BUCK** files currently use hard tabs for formatting instead of soft tabs. It's visually distracting when the IDE's show whitespace chars option is enabled.

![whitespace](https://cloud.githubusercontent.com/assets/1141970/17330107/1a6999c8-58e3-11e6-88a3-a560f95e8815.png)

[2016-08-02 14:40] kageiit commented on #143
These are generated files. You can turn off that option in your ide for now. Will probably handle this at a later time. Not really a high priority sorry

[2016-08-05 07:15] kageiit opened #144 "Simplify okbuck cache structure"
Make it flat structure

[2016-08-05 07:16] kageiit commented on #142
Can you try with the latest version? We fixed an issue with old BUCK files not being cleaned up when gradle modules moved around

[2016-08-05 07:16] kageiit commented on #140
Feel free to re-open this if the symlink did not solve your issue

[2016-08-05 07:16] #140 closed

[2016-08-05 07:24] mr-procrastinator commented on #140
Symlink to res folder?  Also what if I have several targets with old-resource structure, there these targets are placed not in "src" folder.  What should I do that case? Create symlink to nonexisten folder for every target? I am not clear where the library expected to see resources in that case

[2016-08-05 11:07] ragunathjawahar commented on #142
I am using `0.3.1`

[2016-08-05 11:14] ragunathjawahar opened #145 "Http Server port not set error when used with the Buck IntelliJ plugin."
[code]

[2016-08-06 21:56] kageiit commented on #140
The folder structure you have is not something buck supports. see
https://github.com/facebook/buck/blob/b154769ec72f9efebf856779b13cd64d8f54c54a/src/com/facebook/buck/parser/DefaultParserTargetNodeFactory.java#L216

all the source/resource directories of a target need to be inside the same parent directory.

[2016-08-07 01:24] kageiit commented on #145
This is intentionally not set because some may want to use a real http server. Suggestion is to set this in `.buckconfig` instead of `.buckconfig.local` and check the file into vcs

[2016-08-07 01:25] #145 closed

[2016-08-07 01:25] #143 closed

[2016-08-07 01:27] kageiit commented on #142
Unable to reproduce this on the sample project included in this repo. Can you upload a sample project or make a branch on this repo that reproduces your issue?

[2016-08-07 01:33] #144 closed

[2016-08-07 01:35] kageiit commented on #83
Making Robolectric tests work with buck requires a custom test runner. Plan to add it as an artifact/example to this repo before releasing Robolectric test support fully

[2016-08-09 03:27] zongwu233 opened #151 "gradle 2.14 build failed"
with  buck version c2ed8543ce0b761034795e96da8bd931dc5b66dc
Android studio 2.2 per 7 ,  gradle 2.14 ,
`classpath 'com.android.tools.build:gradle:2.1.0'`
create a very simple demo app  with default config  .
and add
`classpath 'com.github.okbuilds:okbuild-gradle-plugin:0.4.0'`

`apply plugin: 'com.github.okbuilds.okbuck-gradle-plugin'`

to build.gradle  following what readme to say.

execute gradle

[2016-08-09 04:00] Piasy commented on #151
I face the same problem too, I think that's buck's bug, try older version of buck, e.g. `0b322be4714cdc0701749e568fea4bf42c2c18a0`

[2016-08-09 09:13] zongwu233 commented on #151
@Piasy  Thanks. I build another version of  buck  and  it works.

[2016-08-09 09:18] #151 closed

[2016-08-10 04:57] ragunathjawahar commented on #142
@kageiit Sure, will do.

[2016-08-10 11:46] zhangyunhua opened #152 "Cannot get property 'apiLevel' on null object"
* What went wrong:
Execution failed for task ':okbuck'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':okbuck'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
	at org.gradle.api.internal.tasks.execution.ExecuteAction

[2016-08-10 12:16] Piasy commented on #152
Do you specify `targetSdkVersion` and `minSdkVersion` in your build.gradle? If not, please set them.

[2016-08-10 17:56] gcobc12677 opened #153 "show "get app's sign config fail!""
I open a hello word project to try okbuck
after enter ```./gradle okbuck```, I receive this message:
[code]
but I have no idea how to config.
here`s my ___build.gradle___:
[code]

[2016-08-10 23:34] Piasy commented on #153
see #95

[2016-08-10 23:34] #153 closed

[2016-08-11 05:29] gcobc12677 commented on #153
thanks for reply, but it still not work for me
I add __signConfigs__ in __/app/build.gradle__ like this:
[code]
and neither I add ```signConfigName "release"``` in root build.gradle, I get this message:
[code]

[2016-08-11 05:31] Piasy commented on #153
So after add signConfigs in /app/build.gradle, what's the stacktrace?

[2016-08-11 05:36] gcobc12677 commented on #153
it look like this:
[code]

[2016-08-11 05:38] Piasy commented on #153
What's version of OkBuck do you use? it seems not the latest `0.4.0`.

[2016-08-11 05:43] gcobc12677 commented on #153
```0.4.0```. or it's a good idea try to click ```Sync Projects with Gradle Files``` and ```./gradlew okbuck``` again?

[2016-08-11 05:50] Piasy commented on #153
You are using wrong OkBuck version, please set it up according to README.

[2016-08-11 06:03] gcobc12677 commented on #153
but I had follow README.md, my root __build.gradle__ is:
[code]
and logs I received when I enter ```./gradlew okbuck --stacktrace``` is:
[code]
sorry for my annoying, but I really can`t figure out it.

[2016-08-11 06:48] Piasy commented on #153
`com.github.okbuilds:okbuild-gradle-plugin:0.4.0` but not `com.github.piasy:okbuck-gradle-plugin:0.4.0`

[2016-08-11 07:09] gcobc12677 commented on #153
oh how dumb am I,
finally if show ```BUILD SUCCESSFUL```
thanks for your help

[2016-08-11 07:10] Piasy commented on #153
:) that's also a history problem, sorry for your inconvenient.

[2016-08-11 07:33] jiangchunyu opened #154 "Third party library import resource failure"
use  'com.android.support:appcompat-v7:24.1.1' ，Can normally generate BUCK file，Can also be normal generationapk，But after the operation return wrong，the error info is org.xmlpull.v1.XmlPullParserException: Binary XML file line #17<vector> tag requires viewportWidth > 0

[2016-08-11 08:29] Piasy commented on #154
Use English please, there are several English speaker in maintainers. :)

[2016-08-11 09:31] jiangchunyu commented on #154
use 'com.android.support:appcompat-v7:24.1.1' ，Can normally generate BUCK file，Can also be normal generationapk，But after the operation return wrong，the error info is org.xmlpull.v1.XmlPullParserException: Binary XML file line #17 tag requires viewportWidth > 0

[2016-08-11 09:34] Piasy commented on #154
Does your gradle build works well?

By the way, change this issue title please.

[2016-08-11 09:39] jiangchunyu commented on #154
yes,Using Android Studio can normally run :）

[2016-08-11 09:46] jiangchunyu commented on #154
I use Android  Studio create a new Empty Activity ,and modify gradle file，add signingConfigs,the app
gradle is this:
[code]
at the root gradle.build is
[code]

[2016-08-11 09:48] Piasy commented on #154
gotcha! You use the wrong plugin, see README closely :)

[2016-08-11 09:53] jiangchunyu commented on #154
I have use Java 8 lambda  in my project, so I use okbuck-gradle-plugin:1.0.0-beta9, you think I shoud use 0.4.0? It is newer?

[2016-08-11 09:59] jiangchunyu commented on #154
I have update root gradle classpath 'com.github.okbuilds:okbuild-gradle-plugin:0.4.0' android apply plugin: 'com.github.okbuilds.okbuck-gradle-plugin'
[code]
but ./gradlew okbuck -info Error occurred，the error info is
[code]

[2016-08-11 10:41] Piasy commented on #154
Follow the full guide in README, please.

[2016-08-11 12:45] jiangchunyu commented on #154
OK，I would try tomorrow,thank you verymach

[2016-08-22 03:11] NickPan365 commented on #152
I got the same problem, and i checked all the module project 's build.gradle files ， I'm sure minSdkVersion，compileSdkVersion，targetSdkVersion，buildToolsVersion were all specified.

:okbuck FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':okbuck'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.

[2016-08-23 19:43] rzsombor commented on #53
Thanks for resolving this, much appreciated! This was one of the biggest blockers for using Buck / OkBuck for our project, we'll definitely reevaluate them now.

[2016-09-12 08:45] kageiit commented on #83
Code coverage is supported out of the box with the `--with-coverage` option in buck

[2016-09-15 07:07] kageiit commented on #125
Infer is supported out of the box with buck

http://fbinfer.com/docs/analyzing-apps-or-projects.html

[code]

[2016-09-16 00:27] runningcode opened #168 "Extra output when running buckw in sample project."
I get the following output whenever I run buckw
[code]

Let me know if you need any more debugging information.

[2016-09-16 11:27] kageiit commented on #168
Interesting. Thanks for the report. Will look into it.

It seems like your buck installation was not clean due to the first message and so you maybe seeing the second message as a result.

[2016-09-16 18:13] #168 closed

[2016-09-21 22:59] ashoykh commented on #61
Anyone have this issue and been able to resolve it?  I'm running into the same issue in my build.

[2016-09-22 09:01] kageiit commented on #61
@ashoykh please open a new ticket. Make sure you are on version 0.5.3 (latest)

[2016-09-23 04:56] eggcaker opened #175 "Gradle 3.0 and android tools gralde not working"
Just setup OkBuck following README, and ran `./gradlew okbuck`, lot of files generated, but cannot build when run `buck targets` , got error says cannot resolve LIBRARY_PROJECT:src_release .

LIBRARY_PROJECT is a locale library dependency.

is it okbuck support latest version of gradle  now ?

[2016-09-23 05:50] kageiit commented on #175
Can you be more elaborate?

What version of the android gradle plugin are you using?

We dont recommend running buck directly. Please use the buck wrapper (`buckw`) as specified in the readme

[2016-09-23 08:52] eggcaker commented on #175
the latest version  of gralde (3.0 ) and android tools gradle: 2.2.0 with buckw

[2016-09-23 14:57] kageiit commented on #175
The later version of gradle is 3.1 and it works fine with 2.2.0 . Please post provide a test/repro project that can reliably reproduce this issue

[2016-09-25 06:56] kageiit commented on #154
Latest installation instructions in README

[code]

Please re-open if it is happening in latest version. Closing for now

[2016-09-25 06:56] #154 closed

[2016-09-25 06:57] kageiit commented on #152
Latest installation instructions in README

[code]

Please re-open if it is happening in latest version. Closing for now

[2016-09-25 06:57] #152 closed

[2016-09-25 06:57] kageiit commented on #142
Latest installation instructions in README

[code]

Use the buck wrapper. Please re-open if it is happening in latest version. Closing for now

[2016-09-25 06:57] #142 closed

[2016-09-25 06:59] Piasy commented on #152
@kageiit This issue did happen, I think we should check the `apiLevel` in advance, so we could give more useful information about how developer could correct the error.

[2016-09-25 07:00] kageiit commented on #72
Would like to welcome PRs for this feature

[2016-09-25 07:08] kageiit commented on #152
Thanks @Piasy for clarification.

@zhangyunhua @NickPan365 to mitigate these sort of issues, I would recommend you follow the structure of this project https://github.com/kageiit/android-studio-gradle-test and have a top level configuration file to make sure you do not miss setting any important values

[2016-09-26 07:53] eggcaker commented on #175
it's a closed source project . Just tried the latest gradle (3.1) with 2.2.0. same error.  maybe it's just my local android library configure not with standard way. but with gradle it's all works.  Close for now.

[2016-09-26 07:53] #175 closed

[2016-09-27 08:39] 330194686 opened #180 "okbuck issues"
I met a problem when using okbuck
this is log
Execution failed for task ':okbuck'.

Trouble told me what was wrong
thinks

[2016-09-27 08:43] kageiit commented on #180
Please see https://github.com/OkBuilds/OkBuck/issues/152#issuecomment-249406696

[2016-09-27 09:26] 330194686 commented on #180
I follow your grade
**********************
ext {
    androidCompileSdkVersion = 23
    androidBuildToolsVersion = '23.03'
    androidMinSdkVersion = 19
    androidTargetSdkVersion = 23
    androidSupportSdkVersion = '23.03'
}
okbuck {
    buildToolVersion rootProject.ext.androidBuildToolsVersion
    target "android-${rootProject.ext.androidCompileSdkVersion}"
}
****************
and version is the

[2016-09-27 10:11] cangwang opened #181 "Unsupported major.minor version 52.0"
FAILURE: Build failed with an exception.

* Where:
Build file '/Users/air/Desktop/Android/MyJob/Muxer/build.gradle' line: 15

* What went wrong:
A problem occurred evaluating root project 'Muxer'.

I have run the project in Java jdk1.8.0_91, but it show this error.Please help me to solve this problem,thx

[2016-09-27 17:40] kageiit commented on #181
Can you provide a small repro project that can reproduce this error? Have not been able to repro this using jdk1.8

[2016-09-27 17:41] kageiit commented on #180
Are you actually using these values to set them across all subprojects?

Like
https://github.com/kageiit/android-studio-gradle-test/blob/master/build.gradle#L69

[2016-09-28 02:08] 2BAB commented on #142
BUILD FAILED: //app:manifest_releaseChangeEnv: parameter 'skeleton': no such file or directory 'app/build/okbuck/releaseChangeEnv/AndroidManifest.xml'

0.6.0, happen again? I have

[2016-09-28 02:27] 2BAB opened #183 "parameter 'skeleton' && parameter 'proguardConfig' : no such file or directory"
I have a buildType named releaseChangeEnv, and when I build app:src_debug, it failed:

    → ./buckw build app:src_debug
    [+] PARSING BUCK FILES...0.4s [17%]
    BUILD FAILED: //app:manifest_releaseChangeEnv: parameter 'skeleton': no such file or directory 'app/build/okbuck/releaseChangeEnv/AndroidManifest.xml'

if I remove this buildType, it throws a new exception:

    → ./buckw build app:src

[2016-09-28 02:31] 2BAB commented on #181
@cangwang Just Using JDK 1.8, make sure `java -version` && `javac -help` are working.

[2016-09-29 06:05] kageiit commented on #180
This should be fixed in v0.7.0

[2016-09-29 06:10] 330194686 commented on #180
This problem has been solved, thank you very much

[2016-09-30 04:38] srmankala opened #186 "buildTypes - Custom buildconfig fields not supported?"
**Issue:**
If we have custom build config fields as part of buildTypes block BUCK file generate doesn't include them.
In below example BUCK file generated doesn't have **CUSTOM_PARAMETER** field. ( this seems to be working fine with product flavors)
e.g
 buildTypes {
        release {
            buildConfigField "String", "CUSTOM_PARAMETER", "\"release\""
        }
       debug {
            buil

[2016-09-30 06:14] cwoodwar6 commented on #181
For what its worth, I've had the same issue.

[2016-09-30 07:45] LichFaker opened #187 "Cannot invoke method get() on null object"
Exception is:
[code]

[2016-09-30 09:24] LichFaker commented on #187
Finally worked by `com.uber:okbuck:0.7.0`, seems `com.github.piasy:okbuck-gradle-plugin` is deprecated

[2016-09-30 09:24] #187 closed

[2016-09-30 13:15] kageiit commented on #186
they are supported. what plugin are you using. read the README carefully. the new artifact is `com.uber:okbuck:0.7.0`

[2016-09-30 13:16] kageiit commented on #181
what plugin are you using. the new artifact is `com.uber:okbuck:0.7.0`. Can you please try that

[2016-09-30 13:34] srmankala commented on #186
@kageiit I am using latest. (com.uber:okbuck:0.7.0)

I tried this on latest master(uber/okbuck) as well.

If you see below all the build config fields from product flavors are included but are missing config fields(RELEASE_CUSTOM_CONFIG)  from release buildType.
Am I missing something here. Please advise

**Gradle build.gradle**
 ` buildTypes {
        debug {
            buildConfigField "boolean

[2016-09-30 16:23] cwoodwar6 commented on #181
This issue occurred for me when I was using Gradle 2.1.3 and using version 0.5.0 of the plugin. The error only occurred when trying to Gradle sync in Android studio. Since then I've updated to Gradle 2.2.0 and the 0.7.0 plugin, now the issue seems to be resolved.

Not sure what @cangwang's experience is but making both of those updates worked for me.

[2016-10-01 10:19] yanjuncq opened #188 "com.facebook.buck.util.HumanReadableException: Error generating manifest file"
BUILD FAILED: //app:manifest_guangdiantong008Debug failed on step generate_manifest with an exception:
Error generating manifest file
com.facebook.buck.util.HumanReadableException: Error generating manifest file
        at com.facebook.buck.android.GenerateManifestStep.execute(GenerateManifestStep.java:107)
        at com.facebook.buck.step.DefaultStepRunner.runStepForBuildTarget(DefaultStepRunner

[2016-10-01 13:43] Piasy opened #189 "Add the `--offline` flag for gradle source gen rule"
Adding this flag would speed up build very much, and dependencies will be downloaded during the execution of `okbuck` task.

[2016-10-01 13:44] kageiit commented on #189
I think we should make it an option to add whatever flag user wants for the gradle source gen rule instead of hard coding just a single flag. There might be other flags that may be uaeful

[2016-10-01 13:45] Piasy commented on #189
Ya, allow user to add extra flag is a good way.

[2016-10-01 15:19] germanb commented on #83
Hi @kageiit, I'm trying to execute the unit tests with buck but it's not working. I also tried to clone this repo and I found that the java_test rule is generated for the libraries/javalibrary but it doesn't for app which contains the ExampleUnitTest.java.

[2016-10-01 15:23] kageiit commented on #83
Yes, the robolectric android test support is guarded by an experimental flag in the `experimental` extension.

A couple of changes had to merge back to buck (https://github.com/facebook/buck/commit/8bd6dd13d3e1d3319cc37e7a271f71ddd2b3939d) before we could roll this out to everyone (only happened very recently). It also requires the usage of a custom robolectric test runner which we will add to thi

[2016-10-04 02:03] #188 closed

[2016-10-05 21:18] tonycosentini opened #191 "Adding test resources to a project that does not have any resources should trigger OkBuck run in the buck wrapper."
Adding resources to a test source set that does not previously have test resources (this might apply to resources in main source sets too) will not get caught by `buckw`.

You need to manually rerun OkBuck to pick up these changes in generated BUCK.

[2016-10-05 23:52] kageiit commented on #191
Yes this is a known issue. buckw currently only detects changes to `res` and not `resources`. Thanks for bringing it up

[2016-10-06 17:23] kageiit opened #193 "Add labels to unit and ui tests to distinguish them"

[2016-10-06 20:46] #193 closed

[2016-10-07 08:03] marcinkwiatkowski opened #195 "Duplicate element error"
In the following, somehow non typical but still valid project setup, generated buck files cause `duplicate element` error

Gradle files
[code]

Generated buck file
[code]

Error
`duplicate element "//common:src_main"`

Looking at the code, the test rule composer always includes `:${src(target)}` (`':src_main'` in that case).
If we changed it to `${target.path}:${src(target)}`, the de-dup logic wou

[2016-10-07 17:42] kageiit commented on #195
I like the second approach better as it still keeps the generated BUCK files be more readable. Thanks for opening the issue. This is definitely a valid use case.

[2016-10-07 18:14] #195 closed

[2016-10-08 05:32] kageiit commented on #186
@srmankala thanks for the report. Seems like we were missing values from buildTypes and were only consuming ones from product flavors. #200 will fix it

[2016-10-08 06:11] #186 closed

[2016-10-08 06:47] #189 closed

[2016-10-08 06:48] kageiit commented on #181
@cangwang can you try the suggested workaround. Feel free to re-open if this still happens after that

[2016-10-08 06:48] #181 closed

[2016-10-09 02:34] jingyuanGit opened #203 "I need help."
BUILD FAILED: No rule found when resolving target //app:app in build file //app/BUCK
Defined in file: /Users/Yuan/Desktop/Projects/AndroidStudioProjects/BuckDemo/app/BUCK

[2016-10-09 04:09] kageiit commented on #203
Please be more specific

you should run `./buckw targets` to see what targets are available to build first.

[2016-10-09 04:09] #203 closed

[2016-10-10 20:59] #191 closed

[2016-10-10 23:35] kageiit commented on #183
Can you try on 0.7.1 ? Some proguard issues were fixed in it.

Feel free to re-open if this is still happening

[2016-10-10 23:35] #183 closed

[2016-10-11 00:18] kageiit commented on #83
All testing features are moved out of experimental now

https://github.com/uber/okbuck/commit/9180d26e92acf158c568837b63c5e096937c9f1b

[2016-10-11 00:18] #83 closed

[2016-10-15 18:03] kageiit opened #218 "SCM aware wrapper support for ci"
on ci `buckw` only needs to check changes between previous and current scm state to decide if it needs to run okbuck instead of relying on watchman

[2016-10-17 20:12] eljobe opened #219 "OkBuck is not working for the WordPress project"
I've just posted this in the Buck Google Group:
https://groups.google.com/forum/#!topic/buck-build/s4-qtB4J1XY

In summary, we have forked the WordPress project so that we can compare Gradle and Buck performance, and we've quickly run into a roadblock attempting to generate a good set of BUCK files for the project using OkBuck. We aren't sure if it is a bug in BUCK or the okbuck plugin, and we're

[2016-10-18 02:13] niravnagda opened #220 "Add support to allow multiple test runners"
We need multiple test runners in the app and currently generated apk only has the default test runner.

[2016-10-18 15:02] bagrusss commented on #10
if you use gradlew via terminal, add for current productFlavor this string
`resValue "string", "com.crashlytics.android.build_id", UUID.randomUUID().toString()`

[2016-10-18 15:20] kageiit commented on #10
@bagrusss thanks for the idea. Will add that to the wiki

[2016-10-18 18:22] kageiit commented on #219
Fixed in https://github.com/gradle/perf-android-medium/pull/1

[2016-10-18 18:22] #219 closed

[2016-10-21 00:19] cwoodwar6 opened #221 "Support for extra resource directories"
We don't define flavors, they just exist and Gradle is happy. They once existed as flavors but are no longer defined that way. Probably due to some magic under the hood. Either way, here is the situation:

I have the folder `module/main/res` with an `android_resource` configuration named `res_main`. There is a folder `module/x/res` that is also defined. This is the inexplicit flavor. OkBuck sees i

[2016-10-21 00:44] kageiit commented on #221
okbuck defines the dependency based on what it gets from the basevariant api. It cannot make special assumptions because that might break someone else's use case. Seems like you can get around this by just defining a flavor. I would suggest to try that first.

[2016-10-26 06:03] kageiit commented on #220
These can be set directly in the android test manifest and they should appear correctly in the okbuck generated manifest after merging

[2016-10-26 06:03] #220 closed

[2016-10-27 21:08] dsyang opened #223 "okBuck does not work for a simple sample Android app"
I tried using this on Jake Warton's sample u2020 app https://github.com/JakeWharton/u2020 and okBuck doesn't generate any buck files. Here are the repro steps:

[code]

[2016-10-27 21:16] hzsweers commented on #223
Deferring to Gautam on this, but to be fair u2020 is not a simple project.

[2016-10-27 21:28] kageiit commented on #223
If you want to use a simple test app for okbuck, you can use okbuck applied to wordpess maintained by the gradle folks

https://github.com/gradle/perf-android-medium

Or you can use the sample apps from this repo

as @hzsweers pointed out, u2020 is not a trivial app, but it should be able to work with okbuck with tweaks

[2016-10-27 21:28] #223 closed

[2016-10-27 23:07] dsyang commented on #223
Sorry simple definitely wasn't the right word to use there. What I meant to say is "app of reasonable complexity"

I think having okBuck work out of the box for something like u2020 would go a long way to getting more people to adopt it.

"It simply works with something as complex as u2020 and your app is less / as complex as that. It should not be a problem for you to adopt okBuck and enjoy light

[2016-10-27 23:09] dsyang commented on #223
@kageiit Any idea what tweaks I'd need to make? The error messages say very little.
In fact, it looks like okBuck is completing successfully and not complaining at all, it's just not doing anything

[2016-10-28 00:15] dsyang opened #224 "okBuck fails silently on u2020"
Mostly a duplicate of #223 because of the new questions I raised after the issue was closed (not sure how to re-open a close issue or if thats even possible).

Sorry for the thrash!

[2016-10-28 00:43] kageiit commented on #223
I will take a look at u2020. But the u2020 app it is not a good way to compare any app to it as complex/less complex. Every app is unique in its design. We have a much better story than u2020 because it is used by uber, lyft, airbnb and square internally on their large android codebases.

[2016-10-28 00:45] kageiit commented on #223
If you want real complex android projects that are opensource and works with okbuck, you should take a look at

- https://github.com/Piasy/AndroidTDDBootStrap
- https://github.com/kageiit/android-studio-gradle-test

[2016-10-28 01:01] kageiit commented on #224
u2020 is actually a very simple app to try okbuck on (with regards to build configuration)

I just had to make it have a top level build.gradle file since okbuck only operates on subprojects by default

https://github.com/kageiit/u2020/tree/okbuck

It generates buck files correctly now. The actual build has issues with R.id values being treated as final etc. which need to be tweaked with buck proj

[2016-10-28 01:08] dsyang commented on #224
I figured it was something small since it's not that complex of an app.  The error messages just didn't make any since so I couldn't figure out what was wrong. Thanks for looking into it @kageiit.

Do you think we can update the error message or have a check to tell people you need a top-level build.gradle?

[2016-10-28 01:09] dsyang commented on #224
Or make okBuck work with 1 project projects :)

[2016-10-28 02:18] kageiit commented on #224
It works with one project projects

There just needs to be a top level build.gradle right now.

Without that would need to modify the okbuck extensions

Take a look at the buck projects extension option. That's where you can change the default from being subproject to whatever projects you like

[2016-11-02 13:07] 2BAB commented on #183
This issue is fixed by Updating to 0.8.5, but the Buck not support Data-Binding. Anyway, thanks!

[2016-11-02 17:35] MichaelEvans opened #225 "Allow for resources to be generated via gradle (via resValue)"
It'd be great to support adding resources via gradle's mechanism like:

[code]

[2016-11-02 22:16] eric-townsquared commented on #63
I get this too and my .buckconfig file is empty. My app target's build.gradle file had multiple configurations (release, debug, production, etc), so I expected .buckconfig to reflect that

[2016-11-03 01:04] Piasy commented on #225
I face the same problem, but if your string content is not dynamic, it could be put in xml.

[2016-11-04 04:03] kageiit commented on #221
Repor: https://github.com/runningcode/okbuck/tree/no/repro

[2016-11-04 04:43] kageiit commented on #221
There is no clean way for okbuck to infer that resources in one directory are referring to resources in another without an explicit dependency. My suggestion would be to move the resources in x to another gradle module and add a dependency on it. Buck only allows one directory of res/assets per `android_resource` rule. Gradle manages this by copying resources from all the included folders into an

[2016-11-04 04:47] kageiit commented on #225
@MichaelEvans can you use the suggested workaround and put the resources in xml instead?

This is the recommended approach for resources because `buckw` cannot infer dynamic resource values that change outside the `okbuck` gradle invocation.

i.e if okbuck runs once from `buckw` and you change an environment variable (for example) that changes the res value, `buckw` has no way to know that it has

[2016-11-06 03:06] kageiit commented on #125
Lint is handled in https://github.com/uber/okbuck/pull/228

[2016-11-06 03:06] #125 closed

[2016-11-06 04:51] kageiit commented on #225
Closing due to suggested workaround. Please reach out of anything is missing and I can reopen

[2016-11-06 04:51] #225 closed

[2016-11-06 04:52] kageiit commented on #221
Closing due to suggested workaround. Feel free to let me know if anything is missing and I will reopen as needed

[2016-11-08 16:59] aj-michael opened #232 "Bazel support"
Hey guys, I saw on your [Wiki](https://github.com/uber/okbuck/wiki/OkBuck-Overview) a comment about extending okbuck to support other build systems like Bazel. I was wondering what your plans are for supporting Bazel in particular and wanted to discuss the possibility of contributing a pull request to extend the okbuck plugin to generate Bazel BUILD files.

I have a rough first draft of the implem

[2016-11-09 02:18] kageiit commented on #232
Hey @aj-michael Thanks for making the first implementation of okbazel. We have always wanted to start working on bazel support but we also wanted to make sure all the tools from gradle can be ported and work seamlessly on an alternative build systme. We finally added lint support recently and are working on adding transform support next.

Part of the reason we did not move forward with bazel origi

[2016-11-09 13:04] gcobc12677 opened #233 "buck install app not work"
when I run ```buck install app```, I get this message
[code]

but in my NDK location, I have ```arm-linux-androideabi-4.9```
is version cause this problem?
thanks for help

[2016-11-09 13:21] gcobc12677 commented on #233
and then I try to add the follow text to ```.buckconfig.local```
[code]

then I get this message when I retry ```buck install app```
[code]

sorry for annoying

[2016-11-09 16:48] kageiit commented on #233
I think you are using a very old version of buck

set your `.buckversion` file to point to latest buck master

[2016-11-09 18:26] gcobc12677 commented on #233
I have ```.buckversion``` in the root of my project
and the content is ```5083f81ad5c8f95fce3c46c24f13012c85a3d2c4``` that is the latest commit

what I did is add ```classpath 'com.uber:okbuck:0.9.3'``` and ```apply plugin: 'com.uber.okbuck'```
then run ```./gradlew :buckWrapper``` and ```./gradlew :okbuck```
after that I try to ```buck install app``` then I get the message mentioned above
do I mi

[2016-11-09 20:47] kageiit commented on #233
You dont need to run okbuck yourself

use `./buckw` instead of `buck` when running the build command

[2016-11-10 04:15] gcobc12677 commented on #233
I keep trying and install my project on my device successfully
Thanks for help

[2016-11-10 04:15] #233 closed

[2016-11-10 22:06] seanabraham opened #237 "Generated gradle genrules contain absolute paths, breaking caching"
The specific breaking case here is the gradle genrule that okbuck has to support SqlDelight

The output in the BUCK file looks like:
[code]

This is problematic for the same reason all absolute paths in BUCK files are problematic: it can break cache consistency as everyone's local machines can potentially compute rule keys differently.

[2016-11-11 22:00] vanniktech opened #240 "Trying to merge incompatible /manifest/application/activity[@name=com.facebook.accountkit.ui.AccountKitActivity] element:"
Output:

[code]

Seems like `tools:replace="android:theme"` is not handled correctly. I'm manually adding this activity and overriding the theme in my manifest.

I'm using Version 0.9.5 is there anything else that you guys will need?

[2016-11-11 22:01] hzsweers commented on #240
afaik this is because buck still uses the old manifest merger, but I'll defer to Gautam on this

[2016-11-11 22:11] vanniktech commented on #240
This might make sense yeah, I also see some other merge errors in the output.

[2016-11-11 22:25] kageiit commented on #240
yes buck does not support the new manifest merger attributes yet. `tools:replace` being one of them

[2016-11-11 22:47] vanniktech commented on #240
It also [seems like](https://github.com/facebook/buck/issues/299) this is not a priority anyways. Is there any way to get around this?

[2016-11-15 16:25] aj-michael commented on #232
Hey @kageiit , that's fantastic! Sorry for the delayed response, the last week has been very busy for me.

As an update: I am currently working on polishing it up and fixing a bug I discovered due to differences in resource merging between Bazel and Buck for AARs. I plan to send the pull request near the end of this week.

A few questions first:

1. By experimental module, do you just mean that al

[2016-11-15 16:44] kageiit commented on #232
We should put it in the experimental package. There is already an experimental package you can make a bazel sub package under that

It's ok to be in the same jar with a new plugin id.

The most basic setup would probably work fine with bazel. A lot of advanced use cases like butterknife support, retrolambda etc. Will require a thought after the initial code drop. But excited to see this change!

[2016-11-15 19:57] aj-michael commented on #232
Where is the experimental package? I cannot seem to find it

[code]

[2016-11-16 01:01] kageiit commented on #232
Actually nvm we just have an experimental extension

https://github.com/uber/okbuck/blob/f2e447bc51e3732cf46701b0bd84b15e754695ce/buildSrc/src/main/groovy/com/uber/okbuck/extension/ExperimentalExtension.groovy

Do you mind making one? We can move it out once its stable

[2016-11-16 04:46] kageiit commented on #240
@vanniktech Wait for https://github.com/facebook/buck/pull/1018 to merge :)

[2016-11-16 06:33] kageiit commented on #240
Or if you want to use it sooner, you can create a fork of buck and cherry pick this change over. `./buckw` supports custom forks. You can set the

[code]

and regenerate the wrapper

[2016-11-16 08:52] vanniktech commented on #240
I think I'll wait for the official one as this is not blocking me really. I just wanted to give okbuck a try

[2016-11-16 15:30] aj-michael commented on #232
Sure, I will create `buildSrc/src/main/groovy/com/uber/okbuck/experimental/bazel`. Is `com.uber.okbazel` an OK name for the plugin, or do you want experimental in that name as well?

[2016-11-16 15:56] kageiit commented on #232
Plugin name is fine

[2016-11-16 21:56] felipecsl opened #246 "Add support for junit style output from buck test"
Some CI servers like TeamCity can parse test results automatically if they are in the junit format and display nicely like Gradle does :)

[2016-11-18 21:28] cwoodwar6 opened #248 "Comparable dependency declaration generates different BUCK files"
Declaring a dependency by using an array such as:
[code]
Provides a different generated BUCK file than when using the dependency hardcoded such as:
[code]

I've created a demo project here:
https://github.com/cwoodwar6/okbuck-test-project

If you run `./buckw build app:src_debug` and compare app/BUCK with DEPS_BUCK they should be identical.

Make the following change in app/build.gradle:
[code]
Ru

[2016-11-19 00:07] #246 closed

[2016-11-19 00:09] kageiit commented on #237
This is no longer an issue as okbuck does not use gradle source gen rules anymore

[2016-11-19 00:09] #237 closed

[2016-11-19 00:11] kageiit commented on #240
No action on okbuck part. need to wait for https://github.com/facebook/buck/pull/1018 to merge

[2016-11-19 00:11] #240 closed

[2016-11-19 00:12] kageiit commented on #224
Closing this as workaround was posted for u2020 already. Feel free to open a PR if you would like to support okbuck for projects with no subprojects

[2016-11-19 00:12] #224 closed

[2016-11-19 00:18] kageiit commented on #248
There is a bug in your test project
ext is project local
so your extension block only ever applied to the root project
if you look at the sample okbuck project configuration, the `dependencies.gradle` script is applied to all subprojects as well
https://github.com/uber/okbuck/blob/master/build.gradle#L16

[2016-11-19 00:20] #248 closed

[2016-11-21 00:22] cuchas opened #250 "Error: resource directory 'buck-out/bin/.okbuck/cache/__unpack_com.google.firebase...#aar_unzip__res' does not exist"
I'm trying to use okbuck with my project but I'm getting dependency errors like this one:

Error: resource directory 'buck-out/bin/.okbuck/cache/__unpack_com.google.firebase...#aar_unzip__res' does not exist

$MY_PROJECT/__src_debug#dummy_r_dot_java_rdotjava_src__/$MY_PACKAGE/R.java:linenumber error ';' expected

public static int drawable-hdpi=hexadress

Any idea why I could getting this errors?

[2016-11-21 19:35] cwoodwar6 commented on #248
If that were the case, why is it able to resolve dependencies in app/build.gradle? Wouldn't moving ```ext.deps = [
    dagger2: [
        dagger2: "com.google.dagger:dagger:2.7",
        dagger2compiler: "com.google.dagger:dagger:2.7"
    ]
]``` into app/build.gradle resolve the issue if it it only applies locally? That is not the case I am seeing.

[2016-11-21 20:21] cwoodwar6 commented on #248
Your suggested fix also didn't seem to fix the issue: https://github.com/cwoodwar6/okbuck-test-project/commit/b988ef4a69a857120a0cc35ce3251e109aa3dab7

[2016-11-23 07:16] zhihuawensc opened #252 "is there a way to support aspectj with okbuck"
I was experimenting with the aspectj configure below in our gradle file to change our code in the compile time, it works fine with the normal gradle file.

But when I tried the okbuck, it only picks up the aspectj runtime at '//.okbuck/cache:org.aspectj.aspectjrt-1.8.9.jar'. It's the same behavior when I tried to use hugo at https://github.com/JakeWharton/hugo which also uses aspectj.

Is there a

[2016-11-23 12:42] Maragues opened #253 "Watchman not running *okBuck"
I built *./buck targets* and the first time it did show targets

Then I did a *./gradlew clean* and everything is broken. *Watchman* is installed, so I was hoping that it automatically run *./gradlew okbuck*

*./buck targets* shows an error message

    BUILD FAILED: //app:bin_devRelease: parameter 'proguardConfig': no such file or directory 'app/build/okbuck/devRelease/proguard.pro'

Running *./g

[2016-11-23 12:45] Maragues opened #254 "Watchman not running ./gradlew okBuck automatically"
I built *./buck targets* and the first time it did show targets. Then I did a *./gradlew clean* and the *app/build* folder dissappeared. *Watchman* is installed, so I was hoping that it automatically run *./gradlew okbuck*, but it didn't

*./buck targets* shows an error message

    BUILD FAILED: //app:bin_devRelease: parameter 'proguardConfig': no such file or directory 'app/build/okbuck/devRelea

[2016-11-23 14:07] #253 closed

[2016-11-23 18:11] vanniktech opened #255 "Warnings when running buck wrapper"
I get the following warnings when I try to run the wrapper regardless of the command:

[code]

I am using version 0.10.1 of OkBuck. Is there any other information you guys need?

[2016-11-25 03:17] changjiashuai opened #256 "BUILD FAILED: //app:manifest_recordDebug failed on step generate_manifest with an exception: Error generating manifest file"
[code]

[2016-11-25 03:31] hzsweers commented on #256
Could you give us more details? A sample project would be helpful, as there's not much we can infer from this trace alone.

[2016-11-25 03:31] hzsweers commented on #255
do you have a sample project we could repro on?

[2016-11-25 08:38] vanniktech commented on #255
This even happens when I create a new Android Project from AS.

[Here's my playground](https://github.com/vanniktech/okbuck-playground) where if I execute buck wrapper I get this warning.

[2016-11-26 20:29] devilmac opened #257 "ImportError: No module named buck_parser"
Hi,
I'm trying to use OkBuck to build my project but I get this error:

MBP-di-Federico:MyProject federico$ ./buckw build appDebug
Shutting down nailgun server...
Using watchman.
Warning raised by BUCK file parser: Traceback (most recent call last):
Warning raised by BUCK file parser:   File "/Volumes/HDD Mac/AndroidStudioProjects/MyProject/.buckd/tmp/buck_run.n311S0/buck_python_program54863525554

[2016-11-29 06:20] kageiit commented on #248
This issue is

https://github.com/cwoodwar6/okbuck-test-project/commit/b988ef4a69a857120a0cc35ce3251e109aa3dab7#diff-3b9a217ffab4682c5a1776933687741fR4

`deps.dagger2.dagger2compiler` is not the same as `com.google.dagger:dagger-compiler:2.7`

The dependencies.gradle file has it set to `com.google.dagger:dagger:2.7` which is the wrong artifact. okbuck only adds annotation processors if it can find

[2016-11-29 06:27] kageiit commented on #254
I think the issue is that watchman is not really watching for changes in gradle build folders. If you find having to run `./gradlew clean` often I would suggest adding this to your root build.gradle

[code]

This will delete the top level `build` folder which `buckw` does monitor to decide whether to run okbuck again or not.

[2016-11-29 06:27] #254 closed

[2016-11-29 07:29] kageiit commented on #255
Seems like you have an older version of watchman/python. Can you confirm what versions of both you have available in path. To suppress the warnings, you can also uninstall watchman during testing

[2016-11-29 07:30] kageiit commented on #250
What version of buck are you using? do you still see the issue if you set the buck sha to latest in `.buckversion` ?

[2016-11-29 07:41] kageiit commented on #252
There is no support for it currently. But the closest thing that does very similar stuff is `retrolambdac` which is an external javac which intercepts the javac invocation args and weaves in the retrolambda jar invocation after javac.

Aspectj could be supported similarly by making your own `external_javac` which can intercept the javac invocation and weave in aspectj instead. This is not somethin

[2016-11-29 07:47] kageiit commented on #257
What version of buck are you using? do you still see the issue if you set the buck sha to latest in .buckversion ?

[2016-11-29 07:59] kageiit commented on #256
Need a sample project to understand whats going on

[2016-11-29 09:00] vanniktech commented on #255
[code]

[2016-11-29 18:18] devilmac commented on #257
@kageiit
I'm using this version of Buck:
[code]
I don't have the `.buckversion` file in my project.

[2016-11-29 20:28] clonetwin26 opened #258 "Allow custom compilers per module"
Make it so that you can specify a compiler on a per module basis. This will allow some modules to use error prone, and some to use javac.

[2016-12-01 20:04] kageiit commented on #255
Unable to reproduce your error on the playground repo. Is it blocking you from building? Can you try to repro on a colleague, friend's computer?

[2016-12-02 08:37] vanniktech commented on #255
Nope not blocking at all it just emits those warnings in the beginning and then continues

[2016-12-02 12:28] gengjiawen opened #260 "Support for protobuf-gradle-plugin"
plugin location: https://github.com/google/protobuf-gradle-plugin

I tried somthing like sqldelight in this repo https://github.com/Piasy/AndroidTDDBootStrap. But with no luck.Maybe the task is generated dynamically using dsl.

[2016-12-02 13:07] kageiit commented on #260
Okbuck cannot support third party plugins directly because running them inside buck can be bad due to

- Not knowing when exactly to invalidate such rules
- increased build times due to multiple gradle invocations

Now okbuck relies on the gradle tasks to be called directly by the consumer before the `okbuck` task runs. An example of how this is done with sqldelight is here: https://github.com/ube

[2016-12-05 19:24] cwoodwar6 commented on #248
Doh, good catch.

[2016-12-06 03:06] kageiit commented on #257
Can you use a more recent version of buck.

I would recommend not to use brew's buck. Use `buckw` instead that can be generated with `./gradlew buckWrapper`

[2016-12-06 03:11] kageiit commented on #252
@zhihuawensc With the most recent changes to buck around post process classes commands, it would be quite easy to add support for it. Retrolambda was refactored recently to take advantage of this mechanism as well.

It should probably be anchored on something like https://github.com/eveoh/gradle-aspectj similar to how retrolambda configuration is applied based on the application of the retrolambda

[2016-12-06 09:17] #258 closed

[2016-12-06 18:47] kageiit opened #266 "Add support for infer/eradicate genrules"
Now that infer supports running via genrules, okbuck should be able to generate them

https://github.com/facebook/infer/blob/master/infer/tests/codetoanalyze/java/infer/BUCK#L23

[2016-12-06 23:15] kageiit opened #268 "Generate BUCK files that are independent for incremental okbuck"
Today, we generate BUCK files with all the transitive dependencies accounted for in every buck file. We can make the generated `BUCK` files less verbose by using `exported_deps` instead.

By also renaming the external dependency rules to not have the version in their rule name, we can let buck files be generated on a per project basis without needing to configure all the sub projects

[2016-12-08 00:32] cuchas commented on #250
Yes I do, I'm using buck v2016.11.11.01 it is the latest version!

[2016-12-08 01:30] kageiit commented on #250
I would recommend not using buck from brew. use `buckw` instead . look for examples in the sample project in this repo. they point to a buckversion file as documented in https://buckbuild.com/concept/buckversion.html

[2016-12-08 05:38] androidhuoniao opened #270 "targetsdkversion conflict"
![image](https://cloud.githubusercontent.com/assets/4191583/20998832/8bd8f0aa-bd4b-11e6-9881-985897b2841d.png)

[2016-12-08 06:58] kageiit commented on #270
This is a legit error in the old manifest merger that buck currently uses

You may have to wait for https://github.com/facebook/buck/pull/1018 to merge as the new manifest merger does not account for this as an error

[2016-12-09 18:34] felipecsl opened #273 "Lint doens't seem to work"
I'm getting different results when running lint from Buck version Gradle.
More specifically, the Gradle lint succeeds but the Buck one fails.
In general, it looks like newer lint checks are missing from the buck lint, usually related to `PercentFrameLayout` and `PercentRelativeLayout`. Also some `MissingRegistered` false positives.

Build tools version: 25.0.1
okbuck 0.11.0 (the same behavior was

[2016-12-09 19:12] kageiit commented on #273
Would be great if you can add a code snippet of a pattern that is reported incorrectly. Buck lint delegates always back to the lint version that ships with the android gradle plugin, so I dont see how checks would be missing. There could be cases where the commandline linter does not work similar to the gradle linter (but those are only for gradle based checks and are very few)

[2016-12-12 16:45] kageiit opened #274 "Pre-extract jar/aar files to improve okbuck performance"
The following files can be extracted from jars/aars just once
- Annotation processors
- Lint jars (if enabled)
- Consumer proguard files (if enabled)

Currently these files are extracted via the `ZipFile` api for every target, but they can be done ahead of time and cached instead

[2016-12-12 16:48] kageiit opened #275 "Consider resolving multiple configurations of a project in paralle/as single configuration"
Currently, multiple configurations per target are resolved serially to extract deps etc. A super configuration (detached) that extends from all dependent configurations can be created instead to resolve just one configuration per target

[2016-12-12 16:51] kageiit opened #276 "Explore usage of DEFS file to reduce generated boilerplate duplication"
Buck supports def/include files that can be used as templates for various rules generated by okbuck today. These can be used to cut down on repeated generated code that is unique for the entire project

[2016-12-12 20:41] raviagarwal7 opened #277 "Explore making changes to rule `deps` to only add direct dependencies."
Transitives ones' are already included by rules in dependent projects. This will make BUCK files smaller and more readable.

[2016-12-12 20:44] raviagarwal7 opened #278 "Explore offloading tasks from okBuck to Buck."
- [ ] Extracting annotation processors
- [ ] Extracting lint jars
- [x] Extracting proguard rules

This will allow use to use BUCK parallelism & also benefit from network cache.
Will make okBuck faster.

[2016-12-13 21:54] felipecsl commented on #273
@kageiit here is a test change that reproduces the issue: https://github.com/felipecsl/okbuck/commit/26d56e173c35608972d994a3b5a23e11814617ce

When running `./buckw build //libraries/common:lint_freeRelease` I get 1 error:
`RequiredSize: Missing layout_width or layout_height attributes`

However, when running with gradle using `./gradlew libraries:common:lintFreeRelease`, I get no errors.

[2016-12-13 23:09] kageiit commented on #274
Lint is handled by dependency cache already.
Annotation processors are moved as part of #282

[2016-12-14 17:27] kageiit commented on #273
cc @clonetwin26

[2016-12-16 23:07] raviagarwal7 opened #290 "Create a Target Cache to keep track of existing instantiated target."
Every project creates its own dependent target instance. Having a target cache will allow us to reuse those instances.

[2016-12-17 14:16] elsennov opened #292 "Unable to find method (Gradle)"
Hi i got this error when tried to use this library. Could you please help? Thanks!

[code]

[2016-12-17 15:02] vanniktech commented on #255
Still happening with `0.12.1`. Is there any more information I could give you?

[2016-12-18 01:43] kageiit commented on #292
Do you have same sample project? There is not much info to go on and there is no indication in the error stacktrace pointing to okbuck

[2016-12-18 02:47] #290 closed

[2016-12-18 02:49] kageiit commented on #275
Fixed by f022eba1226a640635c5c242644d2268514fd552

[2016-12-18 02:49] #275 closed

[2016-12-18 02:50] kageiit commented on #270
Closing since this is not an okbuck issue

[2016-12-18 02:50] #270 closed

[2016-12-18 02:50] kageiit commented on #250
Closing since correct buck version was not used. Please comment if you still have issues with `buckw`

[2016-12-18 02:50] #250 closed

[2016-12-18 03:01] kageiit commented on #218
We have improved okbuck performance a lot recently. We will focus on making okbuck tasks incremental instead.

[2016-12-18 03:01] #218 closed

[2016-12-18 03:09] kageiit commented on #274
Since proguard files are only required typically for release builds and do not affect regular development, they should not affect okbuck performance

[2016-12-18 03:09] #274 closed

[2016-12-18 03:09] kageiit commented on #260
Closing since support will not be added from within okbuck

[2016-12-18 03:09] #260 closed

[2016-12-18 03:13] kageiit commented on #268
Will be handled by #276 instead

[2016-12-18 03:13] #268 closed

[2016-12-18 03:15] kageiit commented on #257
Closing because right version of buck was not used. Please comment if `buckw` has not solved the issue

[2016-12-18 03:15] #257 closed

[2016-12-18 03:39] #255 closed

[2016-12-18 03:44] kageiit commented on #255
Should be fixed in v0.13.0

[2016-12-18 04:23] elsennov commented on #292
Here it is my sample project https://github.com/elsennov/recipee @kageiit

[2016-12-18 12:24] vanniktech commented on #255
I just checked and it isn't

[2016-12-18 18:29] kageiit commented on #255
Uou need to regenerate your wrapper. Can you try again after you do so?

[2016-12-18 20:53] vanniktech commented on #255
I did so with `./gradlew :buckWrapper`

[2016-12-18 21:36] kageiit commented on #255
Same error with new wrapper?

[2016-12-18 21:51] vanniktech commented on #255
Yup same error

[2016-12-18 22:52] cuchas commented on #250
Sorry, I tried downloading and compiling buck but it still doesn't work. It looks the script tries to read res folder in every aar file, but firebase-core does not have one, any other suggestions?

buck version af1fef7f44a35cf34a54a4a5f67bc159f0fabe0a

PS: How did you know I installed buck using brew?

[2016-12-19 12:42] sadegh opened #295 "No R2 class for dealing with ButterKnife"
Hi,

I am using ButterKnife in my project but when I run `./buckw build //app:bin_debug` I get ` error: element value must be a constant expression`. According to [wiki](https://github.com/uber/okbuck/wiki/Known-caveats#butterknife) I have to use `R2` instead of `R`, but I don't see any R2 class.
So my question is how exactly `R2` could generated?

Thank you.

[2016-12-19 19:16] kageiit commented on #295
You need to apply the butterknife gradle plugin on apps as well

https://github.com/JakeWharton/butterknife#library-projects

Since buck builds all code as libraries. You then need to replace all R with R2 in your imports and code

[2016-12-19 21:28] sadegh commented on #295
oh, I didn't notice that part. thanks :grinning:

[2016-12-19 21:34] #295 closed

[2016-12-20 07:29] stat0s2p opened #296 "Not support custom projectDir"
i use a custom projectDir in settings.gradle:
[code]
then i run gradle task okbuck to genernate BUCK file.
the app BUCK file deps field use the project name //weex_sdk as the correct location is //sq-weex/android/sdk:
[code]
So i run `buckw build appRelease` it tell me at //weex_sdk not found a buck file.
i think it should use the projectDir but not project name in BUCK file dept field.

[2016-12-20 07:34] kageiit commented on #296
Can you just move the project directory to the correct name? Whats preventing you from doing that? This is not a usecase we can support easily as it complicates the api and logic a lot internally

[2016-12-20 07:35] kageiit commented on #296
okbuck already respects what is given by `project.path` to refer to generated project rules

you can instead do

[code]

[2016-12-20 08:40] stat0s2p commented on #296
@kageiit weex_sdk is a forked third part library(https://github.com/alibaba/weex). we add in project using git submodule so can not simply change the directory structure.

your include code works thank you.

[2016-12-20 09:29] kageiit commented on #296
Great

[2016-12-20 09:29] #296 closed

[2016-12-20 21:01] Leland-Takamine opened #297 "JavaLibTarget srcs"
Not sure if I'm reading the code correctly, but it looks like we're hardcoding `project.files("src/main/java")` as the only sources for JavaLibTarget. Would we be able to inspect `Project.sourceSets` instead of assuming just "src/main/java"?

[2016-12-20 21:31] kageiit commented on #297
We only support one sourceset for java targets and that is the default sourceset and configuration

[2016-12-20 21:32] #297 closed

[2016-12-20 23:33] aphexcx commented on #256
I've noticed this happening when there are _any_ messages from the manifest merger at all, even warnings. Check the previous lines before this message and try fixing the warnings/errors. To our discussion: I think that okbuck should ignore warnings from the merger and only halt on error.

[2016-12-20 23:43] aphexcx commented on #32
Sorry to resurrect this, but is this now officially supported? If so, how? I'm converting an Android Studio + Gradle + gradle-retrolambda project to Buck as we speak and this seems to be my final obstacle.

[2016-12-20 23:48] Piasy commented on #32
@aphexcx Just use the latest version of OkBuck, you don't need any extra configuration.

[2016-12-21 00:01] aphexcx commented on #32
Hmm, I'm still getting the famous `java.lang.invoke.MethodType not found` exception:
[code]
Here's my build.gradle:
[code]

Here's my app's app/build.gradle:
[code]

Here's the full output of `./buckw install --run //app:bin_alphaDebug`:
[code]

What do you think? Much appreciated!

[2016-12-21 00:29] Piasy commented on #32
That's wired, it seems `rt.jar` is missing from the classpath, @kageiit could you please give a look on it?

[2016-12-23 01:19] hzsweers opened #301 "OkBuck should include lint sources"
e.g. I should be able to click into `PsiClass` and see sources

[2016-12-23 01:21] hzsweers commented on #301
nvm, they ship a dummy sources jar >_>

[2016-12-23 01:21] #301 closed

[2016-12-23 08:42] Piasy opened #302 "watchman query fail"
My project dir is a child of git root dir, so when I run `watchman watch-project` it returns:

[code]

And when `buckw` query `/Users/piasy/src/Yolo/piasyRepo/YOLO-Android/YOLO-Android-Client`, it fails:

[code]

Hope `buckw` take care of `relative_path`.

[2016-12-23 09:50] ljnalex commented on #292
@kageiit I have the same problem，my as version is 2.2.2

[2016-12-23 09:50] ljnalex commented on #292
classpath 'com.android.tools.build:gradle:2.2.2'

[2016-12-23 17:47] kageiit commented on #292
@elsennov I am seeing this error on your sample project
[code]

I think that maybe your root cause. Also, okbuck has no support for kotlin sources yet.

[2016-12-23 18:31] kageiit commented on #302
It cannot because buckw has no way to know what the project root is. Is your `buckw` at the project root but your project is in a sub directory? Ideally buckw will reside side by side to the root build.gradle. Can you add some info on what the exact project setup looks like so we can look at possible solutions?

[2016-12-23 23:43] Piasy commented on #302
Project root is the git repo root, I mean.

My project looks like below:

<img width="193" alt="screen shot 2016-12-24 at 07 41 41" src="https://cloud.githubusercontent.com/assets/3098704/21463947/9af0426a-c9ac-11e6-8914-39eb852910be.png">

[2016-12-24 02:38] Piasy opened #303 "Execution failed for task ':buildDepCache'"
[code]

When I run `./gradlew :buildDepCache`, no error happens, but when I run `./gradlew okbuck`, it fails, and if I touch such file, it succeeds. I'm using `v0.13.1`.

[2016-12-24 16:12] yelinaung opened #304 "MultiDex Issue"
Hello,

First of all, thanks for creating awesome plugin!

I've having some issues with MultiDex and okbuck. I've created a sample app at [https://github.com/yelinaung/BuckTest](https://github.com/yelinaung/BuckTest).

I can successfully run `./buckw install -r //app:bin_debug ` and the app starts. If I understand correctly logs are saying that the MultiDex is disabled ?

[code]
I also have looked

[2016-12-24 17:18] yelinaung commented on #304
Update : I've found the bug in the product app and after fixing it, things seem running fine. But I am still wondering why the message still show `MultiDex support library is disabled` despite it's enabled in the `app/build.gradle`

[2016-12-24 17:52] ChaitanyaPramod commented on #304
@yelinaung That line is harmless (and logged at info level). It means that the host OS itself will load all the dex files and support-multidex library doesn't have to do that.

[2016-12-25 01:22] yelinaung commented on #304
@ChaitanyaPramod Argh got it. I will close this issue for now. Thanks for the answer and Merry Christmas! :christmas_tree:

[2016-12-25 01:22] #304 closed

[2016-12-26 19:56] kageiit commented on #277
This will create problems with exclude rules in dependency declarations. Needs more thought

[2016-12-31 10:07] devilmac commented on #257
Hi @kageiit,
I added the .buckversion file to my project with te latest version of Buck (this one: 6197e7aa555c0cb1100d65bc1e20c83f692c5c63) and now it seems building my project with Buck works well.
Thanks a lot for the help.

[2017-01-01 13:42] paulononaka opened #305 "Issue with OkBuck + Realm"
Hi! My build and APK are successfully generated, but when I run the app an error is raised, forcing close the app. If I build the same dependencies with Gradle, not using OkBuck, it runs perfectly. Logcat:

[code]

NONAKAApplication.java line 44 has this code:
[code]

https://realm.io/news/android-installation-change did not help. This is my Gradle configuration that I used to generate the Buck fi

[2017-01-01 14:07] Zhuinden commented on #305
That's because OkBuck doesn't support the Transform API yet.

https://github.com/realm/realm-java/issues/3971

[2017-01-01 14:39] paulononaka commented on #305
@Zhuinden didn't notice that. Thanks a lot! Does anyone know though if it is possible to use Realm without this Transform API?

[2017-01-01 15:24] Zhuinden commented on #305
The last Realm that does not use the Realm-Transformer API is `compile "io.realm:realm-android:0.87.5"`

In that version of Realm, RealmObjects cannot have custom methods, and custom logic in getters/setters.

Also, RealmResults are live in transactions, so you need to reverse iterate them instead of using `for(Blah blah: blahs)`.

[2017-01-01 15:30] paulononaka commented on #305
@Zhuinden thanks man. It helped me a lot!

[2017-01-01 17:05] kageiit commented on #305
Transform api support is actually available in okbuck, but it is not documented yet. It's a bit of work to setup right now, so we are working to make it more plug and play and will document it fully at that point.

[2017-01-01 18:16] paulononaka commented on #305
@kageiit cool man. Could you share with me how to make it work? Perhaps a working configuration sample. I'm willing to make it work, even though it is still not so simple.

[2017-01-03 13:33] friendoye commented on #225
But what if I have several product flavors, that determine what resource values should be chosen?

As I see, if I change build.gradle, `okbuck` will remake BUCK file, so why can't we add resValue support?

[2017-01-03 14:18] alexfu commented on #292
I ran into the same error in Android Studio (and I _**do not**_ use Kotlin in my app but I do use it for unit tests), but from the terminal I got the following error:

I updated my gradle wrapper to 3.2 and subsequently had to update my `buildToolsVersion` to 25.0.0+ and it worked fine.

[2017-01-03 14:49] fseba opened #306 "Package not found when use buildConfigField of enum type"
Hi.

I am adding a buildConfigField with an Enum value that depends on buildType.
[code]
I am having the next error:

/home/travis/build/ ... /buck-out/gen/app/__build_config_devDebug#gen_java_android_build_config__/BuildConfig.java:11: error: package com.mypackage.MyEnum does not exist

[2017-01-03 15:25] Piasy commented on #225
flavor/variant could have a resource directory.

[2017-01-03 16:05] kageiit commented on #225
As @Piasy pointed out already, flavors can have their own resource directories and define values differently. Please use that mechanism instead

[2017-01-03 19:11] kageiit commented on #305
cc @malbano can add some comments on how to setup transforms with okbuck

[2017-01-03 21:45] tc opened #307 "NullPointerException: Cannot get property 'project' on null object when running gradle okbuck"
When i run ``gradle okbuck --stacktrace``, i get this exception:

[code]

[code]

[2017-01-03 22:03] kageiit commented on #307
Can you add a small sample project that repro's this bug?

[2017-01-03 22:18] felipecsl commented on #187
I'm seeing this on 0.13.1, different stacktrace though:

[code]

[2017-01-03 22:25] tc commented on #307
I will try to create one. The project i'm trying ``okbuck`` is fairly large and private.

[2017-01-03 22:31] kageiit commented on #303
Is `unmocked-androidmodel.jar` generated by some gradle task? What is it used for? This might be similar to sqldelight where you have to hook in something before okbuck task to generate any necessary files

[2017-01-03 22:36] kageiit commented on #306
I dont think this will work. buck compiles `BuildConfig.java` separately from the rest of the code. This means buildconfig fields can only be primitives or java/android sdk imports. If you have custom enum code that is part of your codebase, buck will not be able to see them. You have a few options

- Generate a String buildConfigField instead and in your code convert it to the enum using `MyEnum.

[2017-01-03 22:46] kageiit commented on #187
@felipecsl Whats in your `extraBuckOpts` ?

[2017-01-03 23:21] felipecsl commented on #187
[code]

This happened right after we upgraded to 0.13.1
It doesnt seem to be happening anymore though. I'll report back if it keeps happening

[2017-01-03 23:57] kageiit commented on #187
Please open a separate ticket if this happens again. Different stack trace means it could be a completely unrelated issue

[2017-01-04 04:58] ChaitanyaPramod commented on #306
Probably a separate issue but I get a similar error when I use android classes in BuildConfig
[code]
Using the above fails buck build with "package android.util does not exist"

[2017-01-04 06:32] ChaitanyaPramod commented on #270
@kageiit Can you suggest a work-around we can use to evaluate okbuck with our project until upstream lands the change?

[2017-01-04 06:53] kageiit commented on #270
@ChaitanyaPramod You can set your target sdk to the highest version so that it is >= whats coming from any transitive libraries

[2017-01-04 12:47] fseba commented on #306
Ok. So, I will set this programmatically in **MainApplication.java**.
Thank you very much!

[2017-01-04 18:02] kageiit commented on #307
@tc do you have any project local dependencies like jars/aars that are not consumed from a maven artifact server?

[2017-01-04 18:08] tc commented on #307
@kageiit yes, we have a few jars/aars dependencies in ``app/libs``

[2017-01-04 18:15] kageiit commented on #307
Also, do you have any gradle modules whose group and name are the same as an external artifact you are consuming. For example a module X group `com.example` and a dependency like `compile 'com.example:X:1.0.0`

[2017-01-04 18:30] kageiit commented on #307
There is a potential fix in #309 but I need to understand your project setup more to confirm if it fixes the issue

[2017-01-04 21:05] #307 closed

[2017-01-04 21:22] kageiit commented on #306
@ChaitanyaPramod seems like buck does not add anything to the classpath or bootclasspath when compiling buildconfig

https://github.com/facebook/buck/blob/c1bf24631f4cba93602c92aa947b8f66d62534f8/src/com/facebook/buck/android/AndroidBuildConfigJavaLibrary.java#L61

You can get around your issue by hardcoding the int value an adding a comment in your gradle file as to what that integer value means.

[2017-01-04 21:23] kageiit commented on #306
Feel free to open an issue against buck if you feel it should support android classes in buildconfig. I am closing this issue as it is not an okbuck issue and there are available workarounds

[2017-01-04 21:23] #306 closed

[2017-01-04 21:29] tc commented on #307
Should you still merge the PR? The ``IllegalStateException("No such artifact"`` was a much more helpful debugging output than ``NullPointerException: Cannot get property 'project' on null object``

[2017-01-04 21:30] kageiit commented on #307
I already merged the PR

[2017-01-04 22:33] kageiit commented on #292
Closing this issue as okbuck does not support kotlin yet. @elsennov please comment if you see this issue on a non kotlin project and I will re-open this issue

[2017-01-04 22:33] #292 closed

[2017-01-04 22:41] tc commented on #307
As further background info, this was the offending pattern we had in the project that caused the error: http://stackoverflow.com/questions/21882804/adding-local-aar-files-to-my-gradle-build/33214781#33214781

[2017-01-05 22:40] aphexcx commented on #32
@kageiit Would appreciate your input!

[2017-01-05 22:43] kageiit commented on #32
Did you try the latest version of okbuck? it adds an rt-stub.jar to the compilation classpath when using retrolambda to make these symbols available. okbuck sample uses it fine and so do folks at airbnb cc @felipecl

[2017-01-05 22:45] kageiit commented on #32
@aphexcx can you check if your rule has a `provided_deps` entry for `rt-stub.jar`?

[2017-01-05 23:56] aphexcx commented on #32
Hmm, it doesn't! Am I looking in the right place? I'm looking at the `./app/BUCK` file, and since I'm running `./buckw install --run //app:bin_alphaDebug`, I'm looking at this rule:
[code]

And here's the `src_alphaDebug` rule:
[code]

[2017-01-06 00:01] kageiit commented on #32
The rt-stub.jar is added automatically if the project is applying the retrolambda gradle plugin

https://github.com/uber/okbuck/blob/9dc32de31c77130fba5ca31e9184c93406eb9f92/buildSrc/src/main/groovy/com/uber/okbuck/composer/java/JavaLibraryRuleComposer.groovy#L29

If you check the generated files for okbuck samples, this entry is present. You should check if you have applied the retrolambda gradle

[2017-01-06 00:23] aphexcx commented on #32
That's really strange. The app project, as you can see from the gradle file I posted above, is applying the retrolambda plugin.

[code]
Could OkBuck not be recognizing that somehow?

[2017-01-06 00:26] kageiit commented on #32
I am not sure why retrolambda is not being detected. Can you try to debug on your project by printing out if the plugin is applied or not by forking okbuck locally?

[2017-01-06 00:27] kageiit commented on #32
Another option is to take the `rt-stub.jar` from the okbuck repo and just add it locally to your project as a `provided` dependency as a local jar. That should make it work as well

[2017-01-06 01:41] aphexcx commented on #32
I grabbed `rt-stub.jar` and added it to my libs folder. Then I added this to `build.gradle`:
[code]
This gets me further into the build, but then it fails with this:
[code]
Hmm.. seems like we're getting closer!

[2017-01-06 01:46] kageiit commented on #32
This just means that retrolambda never ran on your app. Its better to debug why retrolambda is not getting applied to your project than use the workaround of adding rt stub jar

[2017-01-06 07:30] chrislacy opened #314 "Building fails if a library does not contain a `res` folder"
To reproduce:
1. Add the following to `libraries/common/build.gradle`:
`compile 'com.google.firebase:firebase-core:9.4.0'`
2. Build the `app` project (I did so via `./buckw install --run appDevDebug`).

Observe building fails with the following error:

[code]

Seemingly this library doesn't contain a `res` folder. Note that if one manually creates an empty `res` folder at the expected location (`b

[2017-01-06 09:40] adityasd commented on #12
I change jcenter to mavencentral but it shows Failed to resolve: jp.wasabeef:recyclerview-animators:2.2.4

[2017-01-06 15:36] kageiit commented on #314
This is a bug in buck. There is a ticket open for it already.
https://github.com/facebook/buck/issues/1055

Closing this because okbuck cannot solve this problem. The aar is not following the spec. More details in the linked ticket

[2017-01-06 15:36] #314 closed

[2017-01-06 21:46] aphexcx commented on #32
That's a good clue, then. I'm trying everything I can think of. What's confusing here is that Retrolambda *is* getting applied when I build with gradle, of course. If I had to guess, OkBuck is simply not recognizing that my project uses retrolambda, and so does not include rt-stub and doesn't run retrolambda. Now just to figure out why.

In the groovy file you linked, what determines `target.retro

[2017-01-06 21:59] kageiit commented on #32
`target.retrolamdba` is basically https://github.com/uber/okbuck/blob/master/buildSrc/src/main/groovy/com/uber/okbuck/core/model/java/JavaLibTarget.groovy#L59

[2017-01-06 22:03] kageiit commented on #256
@aphexcx The failure is happening in buck and not okbuck from the stacktrace. The need to run the manifest merger as part of okbuck will be largely removed when https://github.com/facebook/buck/pull/1018 is merged

[2017-01-07 20:59] h777arsh opened #317 "BUILD FAILED: Must set ANDROID_SDK"
Hello Guys,
**BUILD FAILED: Must set ANDROID_SDK to point to the absolute path of your Android SDK directory.**

I'm getting problem when running ./buckw build //app:src_debug command,
I already set my environment variable for SDK and NDK.

Thanks.

[2017-01-07 21:08] hzsweers commented on #317
What's the output of running `echo $ANDROID_SDK`?

[2017-01-08 07:51] h777arsh commented on #317
Its empty. so i set again and try to execute command but it gave me same error then i again set path before command and now it works :)

Thanks for help.
Cheers

[2017-01-08 07:51] #317 closed

[2017-01-09 20:07] tmelz opened #318 ""Resources not found" for `src/debug` code referencing `src/main` resources"
[code]
These are resources stored in `Yelp/src/main/res`, referenced by code in `Yelp/src/debug/`. Working with @raviagarwal7, we found that adding `:res_main` to the dependencies of `:res_debug` in `Yelp/BUCK` resolves the issue.

[2017-01-09 20:21] kageiit commented on #318
@tmelz res_main and res_debug cannot depend on each other directly because they are part of the same sourceset i.e resources in debug can refer to those in main and those in main can refer to debug. This is possible in gradle due to the variant concept, but not in buck because there is no concept of variants thats part of the build system. This can be worked around by the method specified in https

[2017-01-09 22:20] tmelz commented on #318
Thanks for the info! Looks like I should read up on the "variant concept". For now, just copying the files into `src/debug` is a good enough workaround for me.

[2017-01-09 22:20] #318 closed

[2017-01-10 19:35] ramden opened #319 "Failed to notify build listener"
Hello.
I know buck (and okbuck) does not support Windows (I am using Windows 10 Pro) but I ask anyways, maybe it actually can work this issue is removed.

I am using cygwin, setup my os (installed ant and other dependencies) and buck is building at insane speed, which is **great**!

When it comes to the last step to notify gradle about it, it fails with following error:

BUILD SUCCESSFUL
Total tim

[2017-01-11 02:11] alexfu opened #320 "Invalid lint jar version: null"
I'm currently getting `Invalid lint jar version: null` when I run `buckw`. Not exactly sure what I'm missing to have this error come up.

[2017-01-11 05:03] kageiit commented on #320
Does your project apply the android gradle plugin?

[2017-01-11 05:07] kageiit commented on #319
If you are using the android gradle plugin, it might be related to a bug in that. Try to upgrade to the latest version (2.3.0-beta2) of the android gradle plugin and see if that helps.

Related google bug: https://code.google.com/p/android/issues/detail?id=224994

[2017-01-11 10:00] hai-nguyen opened #322 "Configuration with name 'buckLint_deps' not found."
Hi,

We got this message when trying to run `okbuck` task: `Configuration with name 'buckLint_deps' not found.`

Is there any way I can skip the lint check step? In our case, we need to skip Lint check due to some 3rd libraries we are using.

Thanks.

[2017-01-11 10:23] kageiit commented on #322
You can disable lint entirety using

[code]

[2017-01-11 11:17] alexfu commented on #320
Yes, here are both of my `build.gradle` files:

**android:**
[code]

**app:**
[code]

[2017-01-11 11:26] alexfu commented on #320
I suspect it's plugin version mismatch. It looks like `okbuck` is built with `2.3.0-beta2` while my example project is using `2.2.3`.

[2017-01-11 16:00] kageiit commented on #320
You are applying okbuck in the wrong project. It should be applied to the root project. Never to a sub project. Please read the Readme again carefully

[2017-01-11 16:00] #320 closed

[2017-01-11 16:18] alexfu commented on #320
@kageiit ahh. sorry, any time i see `apply plugin` i automatically assume app level. thanks.

[2017-01-12 05:59] kageiit commented on #266
This can be done easily by including a `DEFS` file like https://github.com/facebook/infer/blob/master/DEFS

[2017-01-12 05:59] kageiit commented on #266
Closing this as there is nothing extra to be done on okbuck side

[2017-01-12 05:59] #266 closed

[2017-01-12 21:46] vRallev opened #323 "Kotlin support"
I read that Kotlin is supported by Buck now. In the Fragment podcast it was mentioned that the Kotlin support is WIP. The [features wiki](https://github.com/uber/okbuck/wiki/Features) states that it's planned. But I couldn't find a ticket to track progress. Is there maybe an experimental snapshot build already?

[2017-01-12 22:29] bishopmatthew commented on #317
I'm having the same problem but my ANDROID_SDK is set
[code]

[2017-01-12 23:30] kageiit commented on #323
There is no snapshot yet. Thanks for opening the issue. We are waiting on better kotlin support in buck (its quite basic right now) and plan to open the corresponding support PR in okbuck right after

[2017-01-12 23:31] kageiit commented on #323
Specifically waiting for https://github.com/brettwooldridge/buck/tree/kotlin-compiler to merge back into usptream. cc @brettwooldridge

[2017-01-12 23:46] brettwooldridge commented on #323
My current estimate is ~2 weeks before a pull request can be submitted...

[2017-01-12 23:48] kageiit commented on #319
Closing since this is not an okbuck bug. Please comment if there is any other issue

[2017-01-12 23:48] #319 closed

[2017-01-13 01:55] felipecsl opened #326 "ConcurrentModificationException with Gradle 3.3"
And android plugin 2.3.0-beta2. Here's the stacktrace:

[code]

[2017-01-13 02:22] kageiit commented on #326
There is no indication of okbuck in the stacktrace. Can you try to exclude the gradle plugin version from okbuck and use whatever you were using before? This might be a bug on the android gradle plugin that needs to be opened there

[2017-01-13 12:16] vRallev commented on #323
Thanks, that sounds great. I'm also glad to hear that there's already a lot progress.

[2017-01-13 13:13] regisdaniel opened #327 "Main manifest has <uses-sdk android:targetSdkVersion='23'> but library uses targetSdkVersion='24'"
Trying to start using buck, but, when I try to run
./buckw build appDebug

The following error appears:
[code]

I can't change manifest to run against SDK 24. How could I address this?
Here is my config file

[code]

[2017-01-13 13:51] regisdaniel opened #328 "Which Plugin should I use?"
I started to read about buck and okbuck last night and it seems to be aweosome.

But, I'm a little bit confused about which libraries should I use to make it work...

The Readme and this [link](https://speakerdeck.com/kageiit/lightning-fast-android-builds-with-gradle-plus-buck) instructs to use:

[code]

but, reading some issues, I could see that some people are using

[code]

that appear to be ne

[2017-01-13 19:49] kageiit opened #329 "Migrate Plugin source to Java 8"
less groovy, better performance

[2017-01-13 19:54] kageiit commented on #328
Please use `com.uber:okbuck:0.14.3` i.e whatever is in the current README. The old plugin group id is no longer in use

[2017-01-13 19:54] #328 closed

[2017-01-13 19:55] kageiit commented on #327
You need to wait till https://github.com/facebook/buck/pull/1018 merges (its close to merge) and use the `tools:replace` marker (https://developer.android.com/studio/build/manifest-merge.html) in your application manifest to override what is coming from libraries.

[2017-01-13 20:43] bishopmatthew commented on #317
Really sorry, turns out it was a typo (24.1.1_1 should have been 24.4.1_1). Ugh I spent forever looking at the difference between the two and never noticed it.

[2017-01-13 21:26] kageiit commented on #329
Groovy vs Java performance: https://dzone.com/articles/java-7-vs-groovy-21
Gradle as well as the Android gradle plugin have moved to pure java in later releases to improve general plugin performance

[2017-01-14 00:47] Macarse opened #332 "Product flavor with duplicate exportedDeps"
I am trying okbuck for the first time in a pretty big app.
I am using `com.uber:okbuck:0.14.3`

When I run `./buckw targets` I get:

[code]

Inside the BUCK generated file I see:

[code]

Any idea what could be the problem?

[2017-01-14 14:13] vanniktech commented on #255
@kageiit also with the latest version (0.14.3) - [I just updated](https://github.com/vanniktech/okbuck-playground)

[2017-01-14 14:17] vanniktech opened #334 "buckw test - does not run tests"
When I execute `buckw test` on a [really simple project](https://github.com/vanniktech/okbuck-playground) no tests are executed. However the default [ExampleUnitTest](https://github.com/vanniktech/okbuck-playground/blob/master/app/src/test/java/com/vanniktech/okbuck/ExampleUnitTest.java) that Android Studio generates exists. Running `./gradlew test` executes also that test.

Is there something wro

[2017-01-16 15:30] vanniktech opened #335 "java.lang.RuntimeException: Failed to backport class: com/myapp/android/rx/RxLogger"
When running `buckw test`, I get the following error message with okbuck 0.14.3:

[code]

RxLogger looks like this:

[code]

[2017-01-17 10:02] vanniktech commented on #335
Lint also seems to have troubles with that file:

[code]

[2017-01-18 02:22] kageiit commented on #335
This seems like a missing classpath dependency on retrolambda. Does the class work in gradle?

[2017-01-18 02:23] kageiit commented on #334
You need to use the custom  [BuckRobolectricTestRunner](https://github.com/uber/okbuck/blob/master/libraries/robolectric-base/src/main/java/com/uber/okbuck/BuckRobolectricTestRunner.java) to make your tests work with buck.

Plan to upstream this to robolectric as the project has new maintainers now

[2017-01-18 02:25] kageiit commented on #332
Can you try to extract all your aidl files to a separate gradle module and have your app project depend on it? This might be a case we have not encountered yet. if you can create a small sample or make a branch on okbuck samples that repros the errors, we can dig more into it. Thanks!

[2017-01-18 02:27] kageiit commented on #326
Seems to be a bug in the android gradle plugin.

https://code.google.com/p/android/issues/detail?id=220031

Can you follow up with the android bug tracker? Closing this as it is not an okbuck issue

[2017-01-18 02:27] #326 closed

[2017-01-18 07:48] vanniktech commented on #334
Okay cool although the unit test doesn't require Robolectric to be present since it's a plain junit test.

[2017-01-18 08:19] vanniktech commented on #335
Yup everything works there.

[2017-01-18 17:47] kageiit commented on #335
@vanniktech Can you drop this class in your okbuck playground sample project with required dependencies so we can analyze the root cause?

Thanks

[2017-01-18 21:28] vanniktech commented on #335
Unfortunately just putting it in with the dependencies does not trigger the issue. I'll try again is there for now any other information I can give you?

[2017-01-18 21:50] kageiit commented on #335
Some way to repro would be useful. The folks at airbnb have been able to use retrolambda with no issues for months now using okbuck+buck, so its very hard to tell what the issue is unless there are clear repro steps.

[2017-01-19 02:01] hzsweers opened #337 "Need an option to add local project dependencies to annotation processor classpath"
We have cases where we need local projects to appear on the annotation processor classpath, so something like this:

[code]

And we need

[code]

[2017-01-19 07:04] #337 closed

[2017-01-19 07:32] kageiit opened #340 "Add an integration test for custom lint rule modules"
Prevent cases like #339 from happening

[2017-01-19 07:32] kageiit commented on #340
@clonetwin26 Feel free to take this

[2017-01-19 08:52] Macarse commented on #332
@kageiit I found the problem in my project but I couldn't reproduce in the okbuck's samples :(

In my project I have:
[code]

`src-gen-dao` is the folder of the generated java files from GreenDao. GreenDao doesn't generate AIDLs, so I changed that line to:

[code]

and this unblocked me.

Perhaps two different src folders with code in them generate two `exported_deps`?

[2017-01-19 09:12] Macarse commented on #256
@aphexcx  Fixing manifest merger warnings solved my problem. Thanks!

[2017-01-19 09:22] kageiit commented on #256
Closing this as it is an upstream buck issue

[2017-01-19 09:22] #256 closed

[2017-01-19 09:25] kageiit commented on #332
@Macarse it seems you are right, we currently try to generate separate rules for each aidl source directory, but name them the same, which leads to the conflict.

The fix is to consume all aidl sources at once as part of a single rule. Thanks for reporting back. I will push up a PR and would appreciate it if you can test it out on your project locally.

[2017-01-19 09:28] Macarse commented on #332
@kageiit 👍

[2017-01-19 09:34] kageiit commented on #332
@Macarse to use https://github.com/uber/okbuck/pull/341 locally

- Pull it down
- Change version in `buildSrc/build.gradle` to something like a snpashot
- Run `./gradlew plugin:publishToMavenLocal` to pload local okbuck to mavenLocal
- Consume it in your project and run your okbuck/buck commands again

Please report back if your issue is fixed before you needed to make changes

[2017-01-19 09:48] Macarse commented on #332
Nope, it didn't work.

I get:

[code]

PS: I am going to bed, I will try tomorrow if you have another fix. Cheers!

[2017-01-19 10:03] kageiit commented on #332
I think that is because `-` is not allowed as a valid character in `BUCK` files for a rule name. I replaced `-` with `_` for now.

[2017-01-19 17:37] cesarferreira opened #342 "NullPointerException: Unknown platform type ARMV7"
Do you guys have any idea of why this is happening?

[code]

[2017-01-19 18:08] kageiit commented on #342
Make sure you install the latest ndk and set the Android ndk home variable. This is documented in the wiki

[2017-01-19 20:55] #342 closed

[2017-01-19 20:59] kageiit commented on #334
Hmm, I see that the tests ran in your sample project

[code]

[2017-01-19 21:00] kageiit commented on #334
You are right that you dont require a special runner if you dont use robolectric. But I am able to run the tests locally. Is this something local to your machine? Maybe try it on travis?

[2017-01-19 21:08] kageiit commented on #332
@Macarse any luck with the latest commit? I pushed updates to #341

[2017-01-19 22:01] vanniktech commented on #334
I'm starting to believe that there's something wrong with my machine:

First of all this warning:

[code]

I also tried to run the project with the error reported in #335 on a coworkers machine and there Retrolambda had no issues at all.

And if that's not already enough if I try to run the test on my playground app locally I don't get any tests result.

Instead of

[code]

I get:

[code]

Is ther

[2017-01-19 22:43] vanniktech commented on #334
@kageiit [works on Travis](https://github.com/vanniktech/okbuck-playground/pull/1) thanks for the tip. Do you have any idea what could be wrong on my machine?

[2017-01-19 23:31] kageiit commented on #334
No idea whats up on your machine. very hard to debug unfortunately :(

I cant think of anything top of my head. Ill update if i do find anything

[2017-01-20 00:14] Macarse commented on #332
@kageiit Sorry for the delay. You changed worked! 👍

[2017-01-20 00:26] Macarse opened #343 "CHANGELOG.md is not being updated?"
Just wondering why :)

https://github.com/uber/okbuck/blob/master/CHANGELOG.md

[2017-01-20 00:52] Macarse opened #344 "Does applying the plugin override the android gradle plugin version?"
I think the android gradle plugin version is getting override in my gradle cfg by the okBuck plugin.

My app is using GreenDao and I am hitting this issue:
https://github.com/greenrobot/greenDAO/issues/498

After reading the issue, it looks like it should only happen with `com.android.tools.build:gradle:2.3.0` and I am using `com.android.tools.build:gradle:2.2.3`

I have read https://github.com/ub

[2017-01-20 01:02] kageiit commented on #344
You can exclude it quite easily

[code]

Then the android gradle plugin that is picked up transitively will be replaced by whatever you include in your project explictly

[2017-01-20 01:02] #344 closed

[2017-01-20 01:02] #332 closed

[2017-01-20 01:03] felipecsl commented on #326
Thanks for the follow up.
I haven't had a chance to look further into it this week, but will make sure to star that issue

[2017-01-20 01:05] kageiit commented on #343
Have been updating in the release tab instead. Will probably delete that file to avoid duplication

[2017-01-20 01:25] Macarse commented on #344
@kageiit If you are offering a way to override build tools might make sense to add a way to override android gradle plugin version.

[2017-01-20 01:39] kageiit commented on #344
That's what mentioned in my comment above. It does not make sense to have an extension for this (it's not possible even). Even if it was, the android gradle plugin is not used for while running the buck build. Configuration exclude principles are a well documented gradle feature and can be used for the effect you originally desired.

[2017-01-20 01:45] Macarse commented on #344
Just to make sure I understand correctly: You are saying that okBuck would not use the android gradle plugin?

[2017-01-20 02:00] kageiit commented on #344
Okbuck would use the android  gradle plugin, but it cannot be overridden from an extension container. The only way to override which version it uses would be to use a dependency exclusion or substitution rule as in the comment above

[2017-01-20 10:41] cesarferreira commented on #342
You are right, thanks!

[2017-01-20 19:35] Macarse commented on #344
@kageiit thanks for answering!

[2017-01-22 16:26] gbajaj opened #345 "Not able to make build after ./gradlew clean"
I wanted to make a clean build, i could not find a command in buck to make clean the build folders.
I tried and` ./gradlew clean` that deleted the build folder however when I tried to make a build again using ` ./buckw build appDemoDebug` it gave the following error

**BUILD FAILED: //app:manifest_devDebug_test: parameter 'skeleton': no such file or directory 'app/build/okbuck/devDebug_test/Androi

[2017-01-23 10:46] cesarferreira opened #346 "App crashes on startup if built with buck and not with gradle"
So I build my app with `gradle` and it runs normally, when I build it with buck it crashes with this log,
it's weird because it's precisely the same code, do any of you know why is it?

[code]

[2017-01-23 19:04] meierjan commented on #305
As supporting the Transformer is in the Planned section. Is there ANYTHING you can say about when this is happening?

[2017-01-23 20:02] kageiit commented on #305
@malbano is opening a PR in the next few days i believe

[2017-01-23 22:37] meierjan commented on #305
Uh that would be awesome 👍🏼

[2017-01-24 00:23] vasticles opened #347 "Submodule dependency"
Hi!
Our app has a proprietary dependency that is maintained as a submodule.
Whenever I try to use buck, I get an error:

./buckw targets
No build file at core/BUCK when resolving target //core:src_release.
[-] PROCESSING BUCK FILES...FINISHED 0.0s [100%]
[+] DOWNLOADING... (0.00 B/S, TOTAL: 0.00 B, 0 Artifacts)

I looked at the app BUCK build file, and there are a few problematic lines scattered a

[2017-01-24 00:25] kageiit commented on #347
Hmm I am not sure how you are consuming this `core` module. It needs to be added to `settings.gradle` for okbuck to generate buck files for it. Can you provide more info on your setup?

[2017-01-24 00:32] vasticles commented on #347
This is the global `settings.gradle`:
`include ':app', ':core'
project(':core').projectDir = new File('core-repo/core')`

[2017-01-24 00:36] kageiit commented on #347
The syntax on the second line is not supported by okbuck

See: https://github.com/uber/okbuck/issues/296

for possible workarounds

[2017-01-24 00:36] #347 closed

[2017-01-24 00:51] vasticles commented on #347
Thanks for the pointer!

[2017-01-24 02:01] clonetwin26 commented on #340
https://github.com/uber/okbuck/pull/348

[2017-01-24 06:01] kageiit commented on #346
As the stack trace suggests

`You need to use a Theme.AppCompat theme (or descendant) with this activity.`

Try to set the theme to an appcompat theme in your application manifest. Buck updated to use the newer manifest merger 2 just today a few hours ago (https://github.com/facebook/buck/commit/35a60ca72ded633ecc17be4bac8f4af4c1506e1d)

You can try to update to that buckversion as well to check i

[2017-01-24 06:02] kageiit commented on #345
If you want to clean fully, try

`git clean -fdx`

if using git

You can also do `./buckw clean`

[2017-01-24 06:02] #345 closed

[2017-01-24 06:03] kageiit commented on #343
Removed in f2afcb71391f5af9af189864dc27652d58a8130f

[2017-01-24 06:03] #343 closed

[2017-01-24 06:04] kageiit commented on #334
Closing this issue as it is purely local and works on travis as well. Please comment back if you do find what was different on your machine

[2017-01-24 06:04] #334 closed

[2017-01-25 06:45] #340 closed

[2017-01-25 07:04] kageiit commented on #346
Please comment if the suggestions managed to solve your issue. This is more a buck related issue than an okbuck one because okbuck's `app` sample already uses an `AppCompat` theme without any issues

[2017-01-25 07:04] #346 closed

[2017-01-25 07:05] kageiit commented on #327
https://github.com/facebook/buck/pull/1018 has been merged and you can update your `.buckversion` to get the update and use the tools marker to perform the replacement

[2017-01-25 07:05] #327 closed

[2017-01-25 07:06] kageiit opened #353 "Gradle Transform API support"
cc @malbano

[2017-01-25 13:46] vanniktech commented on #334
For the record I found out why this does not work, it's because of #255. When I uninstall watchman with `brew uninstall watchman` it works and I can run my tests 🎉

[2017-01-25 13:48] vanniktech commented on #255
This is the cause for #334 :/

[2017-01-25 19:15] wez commented on #302
Hey folks, I'm the watchman guy.  I've just had a user report a problem in https://github.com/facebook/watchman/issues/426 (which was formerly https://github.com/uber/okbuck/issues/255 for you) and I suspect it is due to this line:

https://github.com/uber/okbuck/blob/cb912a90ea356aaf081295eadab12448035354d8/buckw#L62

There are a couple of problems here:

1. Using `watch-project` allows watchman

[2017-01-25 19:43] kageiit commented on #302
@wez Thanks for the insights. The only other watch that happens at the same root is the watch setup by the buck build that follows the watch in the `buckw` script. Since we only watch very few categories of files by default, the performance impact may not be as bad if we setup a separate `watch` and not use `watch-project`. Will investigate more into this.

Regarding error handling, we do perform

[2017-01-25 19:46] wez commented on #302
You need to keep in mind that watchman is a shared resource; there are other tools that may establish watches and may influence the results of the watch-project call depending on which one runs first.

You may also want to try dropping in an empty `.watchmanconfig` file at the location you consider to be the root to hint to watchman that you'd prefer it to aggregate at that location.

I'd be happy

[2017-01-25 19:49] kageiit commented on #302
We do have a `.watchmanconfig` that we use with contents like

[code]

Is there anything in particular we should pay attention to in terms of configuration?

[2017-01-25 19:57] wez commented on #302
is that `.watchmanconfig` deployed to `$WORKING_DIR`?  I don't see that in the screenshot that @Piasy included earlier in this thread.  @vanniktech: do you have a `/Users/nik/tmp/okbuck/.watchmanconfig` file?

re: the contents, the `ignore_dirs` is a list of dirs; that `.swp` entry looks like it might be trying to match a vim `.swp` file, so that doesn't seem effective in this context.  On macOS t

[2017-01-25 20:03] Yuliya-Kaleda opened #354 "'moduleVersion' on null object"
When running ./buckw targets, I get the following error message with okbuck 0.15.4:

[code]

Root build.gradle

[code]

[2017-01-25 20:08] wez commented on #302
hijacking this thread for general feedback on the watchman usage in the wrapper; these are just some micro-optimization perf nits:

* Prefer `match` over `imatch`.  Watchman will automatically use case insensitive matching if the underlying filesystem requires it.  Case sensitive matches and globs are faster to execute because they transform O(n) directory walks to O(1) lookups in some code paths.

[2017-01-25 20:20] kageiit commented on #354
Can you run `./gradlew okbuck --stacktrace` and paste the output please?

[2017-01-25 20:33] vanniktech commented on #302
@kageiit I am using the latest version of buckw

@wez I do not have a file named `.watchmanconfig`

[2017-01-25 20:37] Yuliya-Kaleda commented on #354
@kageiit

[code]

[2017-01-25 20:53] kageiit commented on #354
@Yuliya-Kaleda can you try once with version `0.14.4` and see if the same issue occurs?

cc @raviagarwal7

[2017-01-25 21:17] Yuliya-Kaleda commented on #354
@kageiit

The "moduleVersion" issue is not reproduced with 0.14.4. But I am getting a new one on retrolambda jar location.

[code]

[2017-01-25 21:25] kageiit commented on #354
Try doing a clean build on 0.14.4

`git clean -fdx` and okbuck on `0.14.4`

[2017-01-25 21:36] Yuliya-Kaleda commented on #354
@kageiit the retrolambda issue is reproduced on clean builds.

[2017-01-25 22:05] #354 closed

[2017-01-25 22:36] kageiit commented on #354
@Yuliya-Kaleda Please try `v0.15.5`

[2017-01-25 23:05] Yuliya-Kaleda commented on #354
@kageiit thank you for quick fixes! 0.15.5 fixed all the issues, although there is a new one with resources.
Seems like okbuck cannot pull some resources from main/res (storage of all app resources) to staging  flavour and even debug and release build types
[code]

[2017-01-25 23:57] kageiit commented on #354
There is a separate issue for that already with possible workarounds in https://github.com/uber/okbuck/issues/221

[2017-01-26 02:32] kageiit commented on #354
@Yuliya-Kaleda It might be possible with https://github.com/facebook/buck/commit/3319cd6ce5c0126fea859932cc5c2494e95b63b9#commitcomment-20620573

I am trying to get clarification from the buck maintainers. Also cc @cwoodwar6

[2017-01-26 05:10] Yuliya-Kaleda commented on #354
@kageiit Thank you! The commit you provided reference to looks promising.

[2017-01-26 08:48] kageiit commented on #354
@Yuliya-Kaleda @cwoodwar6 There seems to be a way to support having flavor resources depend on main and vice versa by tweaking buck slightly. I made some comments at

https://github.com/facebook/buck/commit/3319cd6ce5c0126fea859932cc5c2494e95b63b9#commitcomment-20622815

Hopefully, we can finalize on the approach and make this use case compelling to support.

[2017-01-26 11:25] cesarferreira commented on #346
@kageiit it's funny because when I opened the issue on `facebook/buck` they told me to come to `okbuck` :)

I'll try to fix it in the next few days and will report it if helped. Thanks!

[2017-01-26 11:25] spirosoik opened #356 "Some dependencies don't resolve"
For example if I want to try from Nexus a specific snapshot dependency in a gradle file, okbuck doesn't really understand which jar to fetch from Nexus. Are we missing something? for example for this snapshot dependency `com.squareup.retrofit2:adapter-rxjava2`

Let me mention that this dependency belongs to an `android library module`.

It seems that in `.gradle/caches/modules-2/files` this jar is

[2017-01-26 16:19] wez commented on #302
@vanniktech try these steps:

[code]

[2017-01-26 21:35] traviswestbrook commented on #323
Just wanted to give this a bump and see if there was anything that could be done to help out :)

[2017-01-26 21:45] vanniktech commented on #255
Managed to fix this with the following approach:

[code]

The reason it happened to me was because I have a Git repository in my home path.

[2017-01-26 21:45] vanniktech commented on #302
@wez this does work. Thank you so much.

@kageiit also updated my original ticket with the working solution so if anyone stumbles upon this they know how to fix it.

[2017-01-26 21:54] kageiit commented on #323
Nothing much needed from the okbuck side. compiling mixed sources and annotation processor support is currently missing in buck. Creating the bridge between gradle to buck via okbuck once those features are available will not be much work

[2017-01-26 21:55] felipecsl commented on #326
Removing `-Pandroid.enableImprovedDependenciesResolution=true` from the buck wrapper fixes the problem in the meantime

[2017-01-26 21:56] kageiit commented on #323
You can help with the conversation in
https://github.com/facebook/buck/issues/1037
https://github.com/facebook/buck/issues/956

and see if you can help out with the buck codebase

[2017-01-26 21:57] kageiit commented on #326
That flag may not be required from the android gradle plugin 2.4 and up. But we have not had issues running with that plugin so far as it does make okbuck run much faster

[2017-01-26 21:58] kageiit commented on #302
@vanniktech thanks!

I am going to cleanup the wrapper with @wez 's suggestions and okbuck will automatically include a .watchmanconfig when creating the wrapper if you do not have one. Ill add more info to the wiki once this is available

[2017-01-26 22:41] kageiit commented on #356
Can you post a code snippet of your gradle file? Its hard to make out much info from the ticket description

[2017-01-26 23:20] felipecsl commented on #273
Made some progress in the investigation here. I found out that (at least one) of the issues is that resource from project dependencies are not passed into the linter.
More specifically, in the `lint_release` rule, if I add '--resources /path/to/depending/project/n2/src/main/res ' \` to the genrule, then some of the errors go away

[2017-01-27 07:39] vanniktech commented on #302
Okay cool. Looking forward to the changes, thank you everyone once again.

[2017-01-27 07:46] hanjunx commented on #302
thank you! TK, Thuan

On Jan 27, 2017 3:39 PM, "Niklas Baudy" <notifications@github.com> wrote:

[2017-01-27 07:47] hanjunx commented on #302
ThanK U, ALL

On Jan 27, 2017 3:46 PM, "Hanjun Xiao" <hanjun.h.xiao@gmail.com> wrote:

[2017-01-27 07:52] hanjunx commented on #302
see u tmr

On Jan 27, 2017 3:47 PM, "Hanjun Xiao" <hanjun.h.xiao@gmail.com> wrote:

[2017-01-27 09:34] kageiit commented on #302
@wez I have cleaned up the watchman queries thanks to your suggestions. Please leave any feedback you have on https://github.com/uber/okbuck/pull/359

[2017-01-27 11:39] spirosoik commented on #356
@kageiit take a look here https://gist.github.com/spirosoik/8857e626ac071007a6e391b39c454bef

[2017-01-27 13:34] vanniktech opened #360 "OkBuck is executing Dagger on tests even if it wasn't told to do so"
This time with repro - https://github.com/vanniktech/okbuck-playground/pull/5

Is this by design?

[2017-01-27 15:03] Yuliya-Kaleda commented on #354
@kageiit is there any ETA on build variants res support?

[2017-01-27 19:11] kageiit commented on #354
Will be looking at this today

[2017-01-27 23:18] #302 closed

[2017-01-28 08:44] #221 closed

[2017-01-28 09:42] kageiit commented on #360
Definitely not by intelligent design, but more of a simplification made in the early days. This needs to be refactored to work like any other compile time dependency config by taking main/test/flavor/buildtype conventions into account

[2017-01-28 11:28] kageiit opened #362 "Add ability to only resolve a subset of configurations during okbuck"
We do not need to resolve all possible configurations

[2017-01-28 11:40] vanniktech opened #363 "Can't read [/sdk/platforms/android-25/android.jar] (Can't process class [java/text/CollationElementIterator.class] (Unsupported class version number [52.0] (maximum 51.0, Java 1.7)))"
I'm trying to build a release version of an app using `./buck build appRelease`

However it fails:

[code]

The project is using Retrolambda and has Java 8 set as compileOptions:

[code]

The machine is having the following Java Version:

[code]

Building with Gradle works perfectly fine.

[2017-01-28 11:42] vanniktech commented on #335
Just to give it an update. On my Mac I still have this issue although on my Linux machine at home I am not encountering this issue, so I'm thinking that there's something wrong with my Mac. I also tried building the same project already on a few machines from coworkers and they didn't face it either.

[2017-01-28 11:46] vanniktech commented on #360
I think this might break `./buckw test` for my project since building the app version using `./buckw build appDeug` works. When executing `./buckw test`, I get:

[code]

[2017-01-28 18:14] kageiit commented on #335
Please post back the cause if you find one. Closing this as it is not occuring for everyone

[2017-01-28 18:14] #335 closed

[2017-01-28 18:15] kageiit commented on #360
Yep. I'm in the process of untangling the dependencies and make them better isolated :)

[2017-01-28 20:42] Macarse commented on #363
@vanniktech I would recommend you doing a small sample project to reproduce the issue and share it.
I am in the process of migrating a big app and most of my issues end up being a problem with my cfg rather than okBuck.

[2017-01-28 21:14] vanniktech commented on #363
I tried to recreate that problem in a small sample project although I had no luck - otherwise I'd have.

[2017-01-28 23:58] regisdaniel opened #364 "Trying to merge incompatible /manifest/application/activity[@name=cat.ereza.customactivityoncrash.activity.DefaultErrorActivity]"
Hello!

I receiving this following error while trying to build using buck.
I'm using the lastest version of buck and okbuck.

Any advices?

[code]

[2017-01-29 00:26] kageiit commented on #364
Try with `.buckversion` set to https://github.com/facebook/buck/commit/6e1d7dae88aed3933d39208f764ff3eb79b28973

This is just one commit before they reverted the new manifest merger for some reason

[2017-01-29 04:13] #362 closed

[2017-01-29 06:25] Macarse commented on #363
@vanniktech have you checked the logs? are the proguard versions the same? build tools versions?

Another thing to try:
In my project I add okBuck like this:
[code]

without the exclude module it override the version of `com.android.tools.build:gradle`. AFAIK proguard will depend on the build tools versions, but it won't hurt to try.

[2017-01-29 08:37] kageiit commented on #363
This is because buck is not using the same proguard version as gradle. This can be fixed by setting an explicit proguard jar as done in the sample app in okbuck, but I am also making a change to make buck automatically pickup the same proguard version that ships with the android gradle plugin

[2017-01-29 13:35] vanniktech commented on #335
I reran this one again with verbosity turned on and found another stacktrace:

[code]

Can you make any sense out of this one?

[2017-01-29 17:33] Macarse opened #368 "element value must be a constant expression when using ButterKnife"
Way to repro:

In a project with android modules:
 - main module using R.id.bla for ButterKnife
 - Additional modules using R2.id.bla for ButterKnife

I noticed the sample uses R2 for everything (https://github.com/uber/okbuck/blob/master/app/src/main/java/com/uber/okbuck/example/MainActivity.java#L40) changing that to use R directly fails the build.

In ButterKnife doc it says:

[code]

I can now

[2017-01-29 17:57] kageiit commented on #368
In buck everything is built as an Android library. There is no concept of a main or library module. All libraries are then combined into a binary. This means that all code is treated like a library where R values are not final. You will have to switch to use R2 everywhere

[2017-01-29 17:57] #368 closed

[2017-01-29 18:59] #363 closed

[2017-01-29 19:27] Macarse commented on #368
@kageiit you did the implementation for ButterKnife module support, right?
What's the reasoning behind "Now make sure you use R2 instead of R inside all Butter Knife annotations"? Is there a benefit?

I could apply the butterknife plugin to the main project but that would duplicate the ids (They would live in R and in R2) right?

Thanks

[2017-01-29 19:43] kageiit commented on #368
The benefit is that you can build with buck :)

Duplication of ids is not a concern as `R2` s only used at build time and is replaced with R by the time the app runs.

[2017-01-29 19:45] #364 closed

[2017-01-29 19:47] kageiit commented on #356
Check the readme closely again. You need to setup a `repositories` block for the root project build.gradle as well

[code]

[2017-01-29 19:47] #356 closed

[2017-01-29 19:48] kageiit commented on #303
Have not heard back any info on this issue. Please comment back if you have more info to debug. Closing this ticket for now. Will re-open if needed

[2017-01-29 19:48] #303 closed

[2017-01-30 08:54] vanniktech commented on #335
Seems like upgrading to `0.16.0` (`0.16.3` also works in this regard) and buckversion `3319cd6ce5c0126fea859932cc5c2494e95b63b9` fixes this issue.

[2017-01-30 08:55] vanniktech commented on #360
@kageiit I'm still getting the above error when executing the tests with version (`0.16.0` and `0.16.3`)

[2017-01-30 09:13] kageiit commented on #360
Hmm. Would be great to get some repro steps at this point.

[2017-01-30 09:13] kageiit commented on #360
Hmm. Would be great to get some repro steps at this point.

[2017-01-30 09:26] vanniktech commented on #360
Since I'm using Java 8 in my unit tests I needed to add the `rt.jar` as a `testCompile` dependency.

Go to `/Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk` and search for `rt.jar` which should be under `./Contents/Home/jre/lib/rt.jar`. Copy the `rt.jar` into `your_path/project/app/libs` and then add a test dependency to this one: `testCompile files('libs/rt.jar')`.

After this you should be ab

[2017-01-30 09:26] #360 closed

[2017-01-30 12:18] avipars opened #371 "Windows support?"
Is there any windows support for this?

[2017-01-30 12:36] vanniktech opened #372 "Consider updating Robolectric to 3.3.1"
Robolectrics API have changed again from `3.0.0` to `3.2.2` which means that the [BuckRobolectricTestRunner](https://github.com/uber/okbuck/blob/a607797cab9e17310a2c18326303613ad42e4858/libraries/robolectric-base/src/main/java/com/uber/okbuck/BuckRobolectricTestRunner.java) does not work anymore.

[2017-01-31 02:52] malbano commented on #305
I created a PR to add the missing part to support transform api. Transform-cli is a command line utility that mimes the behaviour of android transform api, creating a transform invocation that processes all the input jars. Note that the transform step is plugged before the dex one and applied once to all the modules of the app (i.e. it disables predexing, so it may be worth to create a different b

[2017-01-31 03:28] #353 closed

[2017-01-31 20:36] cwoodwar6 opened #375 "OkBuck generates incorrect Buck file with test artifact"
Dependencies.gradle:
[code]

App module dependencies:
[code]
Library module dependencies:
[code]

The library module's generated Buck file:
[code]
Dagger's test artifact is used in the library module instead of the main dagger artifact.

This line:
```//.okbuck/cache:com.google.dagger.dagger-2.8-tests.jar```
should instead be:
```//.okbuck/cache:com.google.dagger.dagger-2.8.jar```

Repro project:

[2017-02-01 00:06] kageiit commented on #375
I think this is because the dependency cache does not handle artifacts with classifiers correctly yet.

cc @raviagarwal7

We will work on a fix, but in the meanwhile, you can try to rename your artifact to something like `com.google.dagger:dagger-tests:2.8` and upload to a local maven. The other option is to consume the dagger test jar as a local jar dependency to unblock yourself.

[2017-02-01 05:27] Macarse opened #376 "Minor issue when parsing strings.xml files"
Another of those "doesn't work in okBuck but gradle doesn't care" bugs.
[code]

Edit: sorry, I hit submit before I should.
The problem is there is an invisible character " "
 
<img width="105" alt="screen shot 2017-01-31 at 9 28 06 pm" src="https://cloud.githubusercontent.com/assets/24915/22496153/3efcc9ce-e7fc-11e6-8ffc-7c56d3789bda.png">

git diff shows the character is:
<U+2028>

[2017-02-01 07:25] Macarse opened #377 "Buck parsing files taking too long"
@kageiit in the SF meetup you mentioned there was a way of just running a single build type. Can you give an example?

[2017-02-01 09:24] vanniktech opened #378 "OkBuck and Crashlytics don't play well together"
Repro steps:

1. Add Crashlytics to your project
2. `./buckw build appRelease`
3. Open the app
4. Crash appears

[code]

Gradle puts the `crashlytics-build.properties` where it belongs. OkBuck does not since Plugins are not handled by default. Is there a way to make this work?

[2017-02-01 09:28] vanniktech opened #379 "Support archivesBaseName"
It would be cool if OkBuck would support naming the built APK. In Gradle there is `archivesBaseName` for this - which would name the APK like this `app-1.0.0-release.apk`for instance.

[code]

Are there any plans on supporting this one?

[2017-02-01 18:32] kageiit commented on #371
Users have been able to make it work with cygwin, but there is no native support for windows.

https://github.com/uber/okbuck/issues/319

[2017-02-01 18:32] #371 closed

[2017-02-01 23:29] kageiit commented on #379
Hmm, this can be easily achieved outside okbuck. Buck does not have any option for this.

You can do `./buckw targets <apk-target> --show-output` to get the path to the apk and you can execute a simple mv or cp to whatever you like after your build runs.

There are no plans to support naming within okbuck as it can be done fairly easily outside it.

[2017-02-01 23:29] #379 closed

[2017-02-02 14:30] cmelchior opened #380 "buckw crashes if gradlew isn't found"
We have a module structure like this:
[code]

Each folder is their own self-contained example only sharing the minimum from the top-level folder. In particular this means sharing `gradle` and `gradlew`. If you run `:buckWrapper` from the `okBuckExample` subfolder it will work, but trying to use the wrapper from the subfolder crashes with the below error:

[code]

[2017-02-02 14:38] cmelchior opened #381 "buckWrapper crashes on first run"
With the following directory structure

[code]

I get the following exception on the first run. Running the exact same command twice succeds and `buckw` is correctly created.

[code]

[2017-02-02 17:47] kageiit commented on #380
@cmelchior It would be great if you can push a branch to your repo so we can dig deeper

[2017-02-02 17:47] kageiit commented on #380
@cmelchior It would be great if you can push a branch to your repo so we can dig deeper

[2017-02-02 17:47] kageiit commented on #381
@cmelchior It would be great if you can push a branch to your repo so we can dig deeper

[2017-02-02 18:16] kageiit commented on #378
Ya, you can invoke the crashlytics task before the okbuck task, or better yet, if this is only for release build, check the contents of whats inside that file and check it in where it belongs so buck can pick it up

[2017-02-02 18:17] kageiit commented on #377
You can do something like

[code]

That will disable all non debug build Types. If you want only one flavor or variant, you can use `it.flavor` or `it.name` instead

[2017-02-02 18:17] #377 closed

[2017-02-02 18:19] kageiit commented on #376
Do you mean it does not work with `buck`? Okbuck does not do anything special with string resource xmls.

You can delete the invisible character to make buck happy. If you belive buck should handle this case correctly, please open an issue at https://github.com/facebook/buck

[2017-02-02 18:19] #376 closed

[2017-02-02 18:28] Macarse commented on #376
@kageiit Makes sense. Thanks!

[2017-02-02 18:47] Macarse commented on #377
@kageiit interesting, thanks.

There is no way to move that logic to okBuck somehow?
Or another way of using this trick without modifying gradle files every time I want to build something different?

[2017-02-02 19:44] kageiit commented on #377
This is not something okbuck should enforce because it has no idea what a consumer has in their gradle configuration with regards to custom flavors and build types.

You can put all your configuration behind project/system flags and enable them as needed. In any case, the gradle build optimization itself is outside the scope of okbuck. We will be publishing some docs around best practices and more

[2017-02-02 20:08] Macarse commented on #377
oh, that's very clever. Are you doing with env vars?

[2017-02-02 20:21] kageiit commented on #377
Yes env vars or project properties both work fine

[2017-02-03 10:32] cmelchior commented on #381
https://github.com/realm/realm-java/tree/cm/okbuck-example

I didn't check in `buckw` so it needs to be generated first. See #380

[2017-02-03 10:34] cmelchior commented on #380
https://github.com/realm/realm-java/tree/cm/okbuck-example

[code]

[2017-02-03 16:02] kageiit commented on #381
Thanks for the bug report @cmelchior

It has been fixed in 6ed06e0481dd193b90a7a090f2a0ba3d0df82d60

Once the wrapper succeeds on the second run, you can check it in as you do not need to generate the wrapper everytime.

[2017-02-03 16:02] #381 closed

[2017-02-03 16:08] kageiit commented on #380
@cmelchior The setup seemed to be incorrect in the original branch, I have hence fixed it up and put it on https://github.com/kageiit/realm-java/commit/81197b76679b323708d152f4a53667db45ba9be2

[code]

works now. I set real versions to something released so as not have tno rebuild everything locally, but you can undo those changes

[2017-02-04 01:00] kageiit commented on #381
@cmelchior fixed in https://github.com/uber/okbuck/releases/tag/v0.17.1

[2017-02-08 09:10] linjson opened #383 "run "./gradlew targets" show error"
* What went wrong:
Execution failed for task ':app:okbuck'.

how to fix

[2017-02-08 12:30] kageiit commented on #383
Can you please attach the output after running with --stacktrace

[2017-02-09 02:25] linjson commented on #383
it show me that "Task 'targets' not found",thanks ,i can do it

[2017-02-09 02:25] #383 closed

[2017-02-09 02:56] Macarse opened #384 "My debug build type fails with an OOM while dexing"
Any idea of what I can try?

This is what I see:
[code]

until I run out of memory and the stack is:

[code]

[2017-02-09 03:21] seanabraham opened #385 "Test annotationProcessor dependencies aren't added properly in 17.1"
When upgrading from okbuck 15.7 to 17.1, I noticed that tests were failing because of missing Dagger components. The Dagger components were missing because the annotation processor didn't run and diffing the BUCK files shows that the annotation_processor block is totally missing with 17.1.

The dependencies were added like:

module_a/build.gradle:
[code]

dagger_test_base/build.gradle:
[code]

Add

[2017-02-09 05:15] kageiit commented on #384
You can increase the max heap size in https://buckbuild.com/concept/buckjavaargs.html

[2017-02-09 05:18] kageiit commented on #385
The current behavior is actually the correct behavior. `annotationProcessor` dependencies are never exported up the dependency chain.

The earlier okbuck versions basically applied all annotation processors from the main `annotationProcessor` configuration to all rules of that module. This is incorrect behavior as reported in #360 . The latest version of okbuck fixes this so that if you need an an

[2017-02-09 05:23] Macarse commented on #384
@kageiit I don't think it has anything to do with the available memory. The task keeps dexing for 6 mins where gradle full clean build takes 3 mins.

[2017-02-09 05:27] kageiit commented on #384
Hmm, its hard to say without knowing what the dx task is trying to do but you can try to set this option in your root build.gradle

https://github.com/uber/okbuck/blob/ebcea6f0950d37536e18e0bfe7ae6eb39ebf4064/Usage.md#L45

[2017-02-09 05:49] Macarse commented on #384
@kageiit yep, that was my doubt as well, there is no way to get a log of what buck is executing?

[2017-02-09 05:52] Macarse commented on #384
I am running the build again but I am not sure if what I added is correct.

On the root build.gradle:

[code]

and I build with `./buckw build MyAppNormalDebug`

[2017-02-09 05:55] Macarse commented on #384
Nope, same thing :(

[2017-02-09 06:16] Macarse commented on #384
mmm inside `buck-out/log/buck-0.log` there is a command which look like this:

[code]

Running that on my command like I also get something similar:
[code]

[2017-02-09 06:32] kageiit commented on #384
Hmm seems like buck is dexing out of memory. This should be followed up as an upstream issue on buck at this point.

Also, the key name is 'android_binary'. Not 'binary'

[2017-02-09 06:39] Macarse commented on #384
I wonder how I could miss that since I am copy pasting...

[2017-02-09 07:32] ChaitanyaPramod opened #386 "Subsequent builds fail when using a signingConfig"
Gradle step fails when using buck the second time. Deleting .okbuck/keystore makes it work one more time.
[code]

Our signing config looks like this
[code]

This is fairly reproducible in my environment.

EDIT (more notes):
Using okbuck 0.17.1
This happens even when `:app:okbuck` triggers `:okbuckClean` and `:setupOkbuck`
Same thing with `app` module in `okbuck` project as well with master (a27f9c

[2017-02-09 19:59] cwoodwar6 commented on #386
I have the same issue, here is the stacktrace:

[code]

A temporary workaround is `rm -rf .okbuck`

[2017-02-09 20:58] seanabraham commented on #385
Thanks for the update.

[2017-02-09 20:58] #385 closed

[2017-02-09 21:25] Macarse commented on #384
@kageiit Adding more heap fixed the problem. I ended up adding `-Xmx4g` to my `.buckjavaargs`.

Is okBuck reading the `javaMaxHeapSize` from the android section on gradle files to set the heap size?
In my particular case I needed more than the amount specify in gradle file but it might help others.

[2017-02-09 21:25] #384 closed

[2017-02-09 22:47] #386 closed

[2017-02-09 23:26] kageiit commented on #380
@cmelchior please let me know if anything else is missing. I am going to close this ticket as there is no more action needed from okbuck's end.

[2017-02-09 23:26] #380 closed

[2017-02-09 23:28] #375 closed

[2017-02-10 05:30] Piasy opened #391 "buckw fails to run watchman"
When I add okbuck config below:

[code]

the `getToClean` function of buckw looks like this:

[code]

There are two problems:

1. in the `not` expression, the json syntax is invalid, a comma is missing, so watchman fails with `failed to parse command from stdin: ']' expected near '['`;
2. after adding a comma, watchman fails with `{"version":"4.7.0","error":"failed to parse query: must use [\"not\

[2017-02-10 06:33] kageiit commented on #391
@Piasy you do not need to add `["match", ".okbuck/**/BUCK", "wholename"]` i.e you dont need to add a keep entry separately anymore as `["dirname", ".okbuck"]` covers everything inside `.okbuck` already

[2017-02-10 06:39] kageiit commented on #391
That said, I put up a fix in #392 for anyone configuring to keep files outside `.okbuck`. But if you just care about `BUCK` files inside `.okbuck`, you should not override the `keep` argument as the watchman query gets more verbose unnecessarily.

[2017-02-10 06:47] #391 closed

[2017-02-10 06:53] ChaitanyaPramod opened #393 "Possible ordering issue in merging main and flavor resources"
We had a file (adapter.xml) defining "account_type" string in main/res/values, and also another file (adapter.xml) defining "account_type" string in debug/res/values.
The debug APK built by Gradle contains the correct debug string value, but the OkBuck built debug APK contains the prod value for the string.

As a work-around, I had to move this file from main/res/values to prod/res/values so that

[2017-02-10 07:02] Piasy commented on #391
Yeah, I think it's nice to update the Usage.md too, it still contains that configuration.

[2017-02-10 21:17] seanabraham commented on #323
@brettwooldridge any updates on your end? Is this the latest on in-memory support? https://github.com/brettwooldridge/buck/commit/61fddf0ead19695b5d0ddafec96c34d98b698621

[2017-02-10 23:30] kageiit commented on #391
Updated usage.md

[2017-02-10 23:33] kageiit commented on #393
The ordering is not possible to infer in okbuck. The recommended approach is not not set a value in main but just set a value in `debug` and `release` (or `prod` in your case) separately. Okbuck/buck only support resource values that can refer to each other in the various main/buildType/flavor resource folders.

Overriding main resources is not supported and will likely never will be as it incurs

[2017-02-10 23:33] #393 closed

[2017-02-11 07:38] kageiit commented on #372
Need to upstream a few changes like https://github.com/robolectric/robolectric/pull/2907 before we can tackle this

[2017-02-13 15:46] borut123 commented on #55
any news about this?

[2017-02-13 17:10] kageiit commented on #55
Databinding is tied very closely into the android gradle plugin at the moment. @borut123 please open a separate issue so we can track whats needed to support the feature. Thanks!

[2017-02-14 01:02] cwoodwar6 opened #395 "Excluded module is being referenced in the cache"
Repro project: https://github.com/cwoodwar6/okbuck-test-project

Failure:
[code]

But I exclude `app-library`:
[code]

It shouldn't look at any project I've excluded. This is only an issue if I've run a `./gradlew clean` and haven't rebuilt using Gradle.  But I'd very much like to not have Buck builds depend on Gradle.

Full stacktrace:

[code]

[2017-02-14 21:36] kageiit commented on #395
I do not think this would work. `app` depends on `app-library`. okbuck'ing sub projects only makes sense for projects that are isolated from others. If you have cross project dependencies, there is no possible way to do okbuck for just a subset of them

[2017-02-14 22:16] #395 closed

[2017-02-15 21:12] rysh88 opened #396 "error: cannot find symbol public class MyApplication extends ExopackageApplication"
Hi, I'm trying to enable exopackage but it's not working for me.

I included the `buck-android-support.jar` into `app/libs` folder as the example I saw in okbuck. I tried to also put the value inside `appLibDependencies` but I still ran into the same exception.

Here's my gradle file
[code]

[2017-02-16 05:09] #396 closed

[2017-02-17 09:09] adauvalter opened #397 "Android resource error"
After starting with ./buckw test. I'm facing the following problem:

`BUILD FAILED: //app:res_debug: parameter 'res': cannot coerce '{anim/slide_from_left.xml=src/main/res/anim/slide_from_left.xml, anim/slide_from_right.xml=src/main/res/anim/slide_from_right.xml, anim/slide_to_bottom.xml=src/main/res/anim/slide_to_bottom.xml, anim/slide_to_left.xml=src/main/res/anim/slide_to_left.xml, anim/slide_t

[2017-02-20 08:50] kuldeeptomer opened #398 "Okbuck Fails to build drawable-xxx in R.java"
Error Log:

/Users/kuldeep.tomer/Documents/Druid/buck-out/bin/app/__src_devDebug#dummy_r_dot_java_rdotjava_src__/com/aranoah/healthkart/plus/R.java:1844: error: ';' expected
    public static int drawable-hdpi=0x07f045b0;
                              ^
/Users/kuldeep.tomer/Documents/Druid/buck-out/bin/app/__src_devDebug#dummy_r_dot_java_rdotjava_src__/com/aranoah/healthkart/plus/R.java:1844: erro

[2017-02-21 02:03] Yuliya-Kaleda opened #399 "res cannot coerce"
When running ./buckw targets, I get the following error message with okbuck 0.17.3.

`
BUILD FAILED: //MaterialShowcaseView:res_debug: parameter 'res': cannot coerce '{layout/showcase_content.xml=src/main/res/layout/showcase_content.xml}' to interface java.nio.file.Path
`

 Buck version is 0a2f9ab183ae894d4446b057555b73b677c85a3a.  `./gradlew okbuck --stacktrace` outputs build successful.

[2017-02-21 08:23] vanniktech commented on #399
Dupe of #397 ?

[2017-02-21 18:03] kageiit commented on #399
What version of buck are you on?

[2017-02-21 18:47] Yuliya-Kaleda commented on #399
@kageiit Buck version is 0a2f9ab183ae894d4446b057555b73b677c85a3a

[2017-02-21 21:12] kageiit commented on #399
Can you update to the latest buck version? This is not an error from okbuck

[2017-02-21 22:42] Yuliya-Kaleda commented on #399
if `brew install buck` is the right command to update buck, I think there is an issue. I am getting .buckversion file generated with the same version (0a2f9ab183ae894d4446b057555b73b677c85a3a).

[2017-02-21 22:50] kageiit commented on #399
We do not recommend buck from brew. Always use `./buckw` that is the buck wrapper script provided by okbuck

https://github.com/uber/okbuck#buck-wrapper

[2017-02-21 23:07] Yuliya-Kaleda commented on #399
starting with a clean build and running  `./buckw targets`, I still see an old buck version. Do I miss a step to pull the latest buck version?

[2017-02-21 23:30] kageiit commented on #399
You need to add the latest buck sha to `.buckversion` file so that the wrapper can pull in the updates. `.buckversion` should be checked in to your repo and should point to whatever buckversion you want to use

[2017-02-22 04:32] Yuliya-Kaleda commented on #399
thanks a lot for a quick response. The latest buck version resolved the issue. Now dealing with a new one [#256](https://github.com/uber/okbuck/issues/256).

[2017-02-22 05:51] #399 closed

[2017-02-22 05:51] kageiit commented on #397
See #399

[2017-02-22 05:51] #397 closed

[2017-02-22 05:52] kageiit commented on #398
Which version of buck are you on? Can you consider updating to latest as detailed in #399

[2017-02-22 06:12] kageiit commented on #323
@brettwooldridge Any updates on the kotlin PR? Please let us know if there is any way we can move forward the kotlin in memory compiler support at the minimum

[2017-02-22 08:54] kageiit opened #400 "Kotlin Support Tracker"
- [x] Pure kotlin modules
- [x] Mixed kotlin/java modules
- [x] Android Kotlin modules
- [x] Kapt
- [x] Kotlin rule support for `buck project` https://github.com/facebook/buck/pull/1200

[2017-02-22 09:28] kuldeeptomer commented on #398
I have configured head commit hash from Buck master in my .buckversion

[2017-02-22 09:28] #398 closed

[2017-02-22 16:09] Yuliya-Kaleda opened #402 "dimen values"
Seems like there is an issue pulling dimen values:

`buck-out/gen/baselib/res_stagingDebug#resources-symlink-tree/res/layout/view_ship_config_info.xml:11: error: Error: No resource found that matches the given name (at 'padding' with value '@dimen/ship_config_info_padding').`

`buck-out/gen/pdplib/res_stagingDebug#resources-symlink-tree/res/layout/view_details_top_content.xml:22: error: Error: No

[2017-02-22 16:28] kageiit commented on #402
Could be related to #393 . If so, check the workaround in that issue

[2017-02-22 19:36] Yuliya-Kaleda commented on #402
I don't think it is the same issue. All value resources  are located in main/. There are no dimens resources in flavour packages. Strings, colors, styles are found with no issues, while dimens are not.

[2017-02-22 20:49] kageiit commented on #402
You should file this issue with buck and include a small sample project. Since the failure is in buck level, there is not much we can do from the okbuck side.

[2017-02-22 20:49] #402 closed

[2017-02-23 06:18] probepark commented on #72
+1

[2017-02-23 06:19] YMChang commented on #72
+1

[2017-03-02 07:19] sabergeek opened #405 "Too many field references: 65874; max is 65536. Too many classes to fit in one dex file."
Hi there,

I've been stuck at trying to get OkBuck working and thought of seeking help now. The project i'm working on has multiple modules and exceeds 64k methods (our project sums to around 65k). Multidex is enabled in gradle and i've also added the following code before executing _./gradlew build app:bin_betaDebug_

[code]
Despite extending the limit to 70000 (which has also reflected in the BU

[2017-03-02 21:50] eveliotc opened #406 "Using applicationId on instrumentation tests fails compilation"
I'm trying to use `applicationId` on instrumentation test manifest example: PR #404

Manifest is generated properly however compilation fails due malformed package `BuildConfig`:

[code]

Interesting bit is that `APPLICATION_ID` is properly handled, however package declaration is not:

[code]

Manifest looks like (seems fine to me):
[code]

[2017-03-02 22:06] kageiit commented on #405
Can you tell me how you are setting `trim_resource_ids = True` in the generated buck file?

[2017-03-02 22:11] kageiit commented on #406
I do not think buck's build_config rule supports placeholders

https://github.com/facebook/buck/blob/master/src/com/facebook/buck/android/AndroidBuildConfigDescription.java

You should file a task on buck to add support for this. Then we can add support for it in okbuck. application id field is populated correctly because that field is added as a value by okbuck. The rest of the code is generated

[2017-03-02 22:12] #406 closed

[2017-03-03 07:01] sabergeek commented on #405
I've made the entry within android_binary -

[code]

[2017-03-03 10:06] seanabraham opened #407 "Symlinks to first party Android Support Lib sources jars are incorrect"
I noticed the following rulekey mismatch when doing diffing builds between two machines (via https://github.com/facebook/buck/blob/master/scripts/diff_rulekeys.py):

[code]

This was quite confusing and I looked into the okbuck-generated symlinks which yielded the following:

[code]

Upon further inspection, it appears that of all the jars in the `.okbuck/cache` folder only sources jars from the f

[2017-03-03 11:15] seanabraham commented on #407
If I had to guess, I'd say this could be the cause: https://github.com/uber/okbuck/commit/8edb484686ac3f444bb1ab145bad4b95ecd478fd

[2017-03-03 12:47] sabergeek commented on #405
@kageiit Yikes. OkBuck is fine! It was an error from my end. I overlooked the existence of multiple android_binary entries. After adding _trim_resource_ids = True_  to the correct android_binary block (which is the flavor I was interested in installing), it all went well! :smiley:

[2017-03-03 12:47] #405 closed

[2017-03-03 21:56] seanabraham commented on #407
This is also probably related https://github.com/uber/okbuck/commit/8edb484686ac3f444bb1ab145bad4b95ecd478fd#diff-c032ac5677e6122f29974019b7d3cdc4R198

The directory tree for first party android dependencies looks like:
[code]

Whereas the directory tree in the gradle cache looks like:
[code]

So for android dependencies, sources jars share the same parent as the main jar whereas for gradle depend

[2017-03-04 01:09] seanabraham commented on #407
I confirmed that reverting https://github.com/uber/okbuck/commit/8edb484686ac3f444bb1ab145bad4b95ecd478fd fixes the problem, after deleting the `.okbuck/cache` and re-running okbuck. What was the reason for the change @kageiit?

[2017-03-04 05:45] kageiit commented on #407
Trying to remember why exactly. Nothing comes to mind immediately. Probably just a simplification. Will look into reverting it

@raviagarwal7 do you remember why we did this?

[2017-03-04 10:57] raviagarwal7 commented on #407
I think this was changed as sources jar is not always named `<actual-jar/aar-prefix>-source.jar`.
an example is I found:
<img width="311" alt="screen shot 2017-03-04 at 2 51 49 am" src="https://cloud.githubusercontent.com/assets/1913956/23578178/b7f6e5b6-0085-11e7-976d-929fc831a248.png">

I think we need to change the lookup to be something like `<actual-jar/aar-prefix>.*<-sources.jar>` to cover a

[2017-03-06 16:19] konmik opened #409 "Compiler exception when using lambda in a unit test"
com.sun.tools.javac.code.Symbol$CompletionFailure: class file for java.lang.invoke.MethodType not found

Reproduce:

1. Go to app/src/main/java/com.uber.okbuck.ExampleUnitTest
2. Add `Runnable runnable = () -> {};` line into `testAdd`
3. Run `./buckw test //app:test_devDebug`

Full error message:

[code]

[2017-03-06 16:41] kageiit commented on #409
Possible duplicate of https://github.com/uber/okbuck/issues/360#issuecomment-276014612

[2017-03-06 20:04] seanabraham commented on #407
@raviagarwal7 how do you decide what the prefix is? Start of the string up through the version?

[2017-03-06 20:58] kageiit commented on #407
@seanabraham thanks for the report. The revert is done in 7c6e155dd7e3cec99fe11e5603ba90c5cc290280 and should fix this issue.

[2017-03-06 20:58] #407 closed

[2017-03-06 21:25] seanabraham commented on #407
Thanks @kageiit, this solution looks fine for my purposes although I am worried that it wouldn't fix the situation @raviagarwal7 posted. I'm not sure how common that is though (and it's better to miss source jars than to include the wrong ones so the change is at least a step in the right direction)

[2017-03-06 21:29] kageiit commented on #407
Ya thats what we discussed and agreed upon. If its a bad naming scheme on the jar side, we just do not include sources as such instances are quite uncommon

[2017-03-08 22:40] ankushg commented on #368
I know this issue is closed, but am I also supposed to use `R2` *outside* of ButterKnife annotations?

Buck seems to be complaining about accesses to menu ids as well, but using the `R2` identifier then triggers an error that `R2 should only be used inside annotations`...

[2017-03-08 23:12] kageiit commented on #368
Yes you need to use if/else instead of switch case elsewhere

[2017-03-11 07:38] kageiit commented on #409
Closing this. Please comment back if the suggested solution from #360 did not work and I can re-open.

[2017-03-11 07:38] #409 closed

[2017-03-11 07:40] kageiit commented on #372
https://github.com/robolectric/robolectric/releases/tag/robolectric-3.3 includes native support for the buck build system. I plan to work on it next month unless someone wants to send in a PR before :)

[2017-03-13 10:18] vanniktech commented on #372
What would need to be done for this?

[2017-03-13 12:11] konmik commented on #409
Just updated from the main branch. Doesn't work still.

[2017-03-13 16:03] kageiit commented on #372
RobolectricUtil needs to understand and fetch deps for version 3.3.x
the rest should work automatically

[2017-03-13 16:04] kageiit commented on #409
@konmik what did you try exactly? Did you add the real rt.jar from your system as a test dependency?

[2017-03-13 20:47] konmik commented on #409
Do I need to? What I do:

1. `git clone https://github.com/uber/okbuck.git`
2. Go to app/src/main/java/com.uber.okbuck.ExampleUnitTest
3. Add `Runnable runnable = () -> {};` line into testAdd
4. `./buckw test //app:test_devDebug`

That's all.

The entire log:

[code]

[2017-03-13 21:00] kageiit commented on #409
@konmik Yes you do need to add the rt.jar ourself because that is not something we can ship with okbuck due to licensing restrictions from the jdk.

Please read https://github.com/uber/okbuck/issues/360#issuecomment-276014612 (the specific comment)

[2017-03-15 09:05] konmik commented on #409
The test passed! Horray! Can you make okbuck to automatically copy the file? You can't ship, but you can copy. Or make a link to it?

[2017-03-15 14:44] kageiit commented on #409
We cannot do that either really. We don't k ow what users do in there tests I.e use lambdas or not. We also do not know which jdk is being used for running the tests if multiple are installed on the user's machine. The provided workaround is reasonable and we will not be adding any more code from the okbuck side to make this happen automatically.

[2017-03-15 14:45] kageiit commented on #409
You can always copy the jar into your project workspace and check it in. That way the configuration is one time and can be used across members of your team.

[2017-03-15 15:12] konmik opened #410 "Mockito does not work with Android-related classes"
1. `git clone https://github.com/uber/okbuck.git`
2. Go to `app/src/main/java/com.uber.okbuck.ExampleUnitTest`
3. add `        Context context = mock(Context.class);
        doReturn("Today").when(context).getString(R.string.android_asst_date_format_today);
` into `testAdd()` method
4. run `./buckw test //app:test_devDebug`

[code]

[2017-03-15 16:05] konmik commented on #409
[code]

while starting instrumentation tests

can we have the rt.jar workaround used only for unit-tests somehow?

[2017-03-15 17:14] kageiit commented on #409
yes just put it under `testCompile` . It should not be needed for `androidTestCompile`. check your gradle config to make sure you are not pulling it in transitively

[2017-03-16 10:05] konmik commented on #409
It is already `testCompile files('libs_temp/rt.jar')`, I even placed it into a separate library to not interfere with other inclusions

[2017-03-16 15:32] kageiit commented on #409
Check if your android-eats impulse is extending your test compile configuration. If so, you may want to remove that or use a dependency exclusion rule to filter out the RT.jar

Can't say anything more unless I have insight into what your configuration looks like in full

[2017-03-17 21:12] konmik commented on #409
This is reproducible on your configuration.

Just add `rt.jar` and try running the instrumentation test.

[2017-03-20 15:39] guptasourabh opened #412 "Must set ANDROID_SDK to point to the absolute path of your Android SDK directory"
Getting this error , even after correctly setting the path.

<img width="1072" alt="screen shot 2017-03-20 at 9 07 41 pm" src="https://cloud.githubusercontent.com/assets/4599610/24107687/71f51554-0db1-11e7-9dfa-eca86f576c97.png">

@kageiit  Any idea ?

[2017-03-20 17:32] kageiit commented on #412
Can you try setting `ANDROID_HOME` instead?

[2017-03-20 17:39] guptasourabh commented on #412
Still the same issue
<img width="1249" alt="screen shot 2017-03-20 at 11 08 59 pm" src="https://cloud.githubusercontent.com/assets/4599610/24113268/41a563de-0dc2-11e7-9273-3932f9606cf4.png">

[2017-03-20 17:45] kageiit commented on #412
This seems like a buck issue. Can you please open a ticket on the buck ticket tracker on github? okbuck cannot do much in this regard.

[2017-03-20 17:45] #412 closed

[2017-03-22 05:10] ceozhu opened #413 "Cannot get property 'abiFilters' on null object"
When I run command: ./buckw targets

it's wrong with that

[2017-03-22 06:46] kageiit commented on #413
I am not sure I understand the question. Can you give an example build.gradle? a stacktrace?

[2017-03-22 09:33] ceozhu commented on #413
//app/build.gradle:
apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "25.0.2"
    defaultConfig {
        applicationId "care.www.skinrun.com.buckbuildexam"
        minSdkVersion 15
        targetSdkVersion 25
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
        ex

[2017-03-22 09:35] ceozhu commented on #413
more info

MacBook-Pro:BuckBuildExam zhupei$ ./buckw targets
 CHANGES DETECTED IN:
app/build.gradle

 RUNNING OKBUCK...

Parallel execution with configuration on demand is an incubating feature.
Observed package id 'build-tools;20.0.0' in inconsistent location '/Users/zhupei/Documents/adt-bundle-mac-x86_64-20140702/sdk/android-4.4W' (Expected '/Users/zhupei/Documents/adt-bundle-mac-x86_64-20140702